<ion-row>
  <ion-col size="12" size-sm="12" size-md="10" offset-md="1" size-lg="12"  offset-lg="0" >
    <ion-item lines="none"style="--background:transparent;">
    <ion-icon  (click)="closeModel()" name="arrow-back" class="arrow-back" slot="start"></ion-icon>
      <div class="expensehead">Vehicle Expense</div>
        <!-- <ion-icon *ngIf='value != undefined && isDeleteShow == true && myPlatform != desktop'  name='trash' (click)="deleteModel()" slot='end'></ion-icon> -->
    </ion-item>
  <form [formGroup]="maintenanceForm">
          <div class="wrapper-form">
          <ion-row>
            <ion-col>
              <ion-label class="label">Plate No:</ion-label>
   <ion-select class="input-item select-input"  formControlName="plateNo" placeholder="Plate Number" [disabled]='hideSerialNo'>
              <ion-select-option  *ngFor="let plateNo of vin" [value]="plateNo">{{plateNo}}</ion-select-option>
              </ion-select>
             </ion-col>
          </ion-row>
         <ion-row>
          <ion-col>
            <ion-label  class="label">Expenses Price(₹):</ion-label>
                <ion-input type="number" formControlName="price"  placeholder="Price" class="input-item"></ion-input>
               </ion-col>
            </ion-row>  
            <ion-row>
              <ion-col>
                <ion-label  class="label">Expenses For:</ion-label>
                <ion-select  class="input-item"  formControlName="expense" (ionChange)="changeExpenseType($event)" placeholder="Expenses For" >
                  <ion-select-option *ngFor="let reason of expense" value={{reason}} >{{reason}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="others">
              <ion-col>
                    <ion-input type="text" formControlName="others"  placeholder="Enter the Expense Reason" class="input-item"></ion-input>
                   </ion-col>
                </ion-row> 
            <ion-row>
              <ion-col>
                <ion-label  class="label">Description:</ion-label>
                <ion-input type="text" formControlName="description" placeholder="Description" class="input-item" ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label  class="label">Date:</ion-label>
                  <ion-input type="date" formControlName="fromDate"    class="input-item" ></ion-input>
                </ion-col>
            </ion-row>
        
        <ion-row>
          <ion-col size="12" size-sm="4" size-lg="6" size-xl="6" size-md="4"  style="text-align:center;margin:auto">
            <ion-button  class="commonButton" shape="round"[disabled]="!maintenanceForm.valid"  (click)="submit()" >Submit</ion-button>   
          </ion-col>  
        </ion-row>
       </div>
        </form>
     </ion-col>
    </ion-row>
