// .button {
//     color: #fdeeef;
//     height: 56px;
//     width: 56px;
//     border-radius:50px;
//     background-color:#7c68f8 ;
//     padding-bottom: unset;
// }
.iconsize {
    font-size: 30px;
}

#btn{
    --background:#6252ee;
  
  }
  .maxWidth {
    width: 100%;
}
.border-item {
    height: 26px;
    border-radius:3px;
    color:#989898;
    background: white;
    // --icon-color:white;
    text-align: end;
 
}