<ion-header>
  <ion-toolbar class="dealerHeader">
    <ion-row>
      <ion-icon class="iconSize25px" (click)="closePage()" name="arrow-back"></ion-icon>
      <ion-title>Asset details</ion-title>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="{{selectedTab}}" scrollable (ionChange)="changeFilter($event)">
    <ion-segment-button *ngFor="let catagory of catagories" value="{{catagory}}">
      <ion-label>{{catagory}}<ion-badge
          [ngClass]='{"notification": selectedTab === catagory, "unnotification": selectedTab != catagory}'>{{countRowData[catagory]}}
        </ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-row>
    <ion-col size=12 size-sm="12" size-lg="4" size-md="6" *ngFor="let showList of displayData">
      <ion-card style="border-left: 4px solid #7c68f8; margin: 0px;">
        <ion-card-content style="padding: 7px;">
          <app-assert-list-card [cardDetail]="showList"></app-assert-list-card>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>