<ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let data of displayData" style="padding:0px"> 
<ion-card  style="padding:0px;" [ngClass]='{"runningCardBorder": data.status === "Running", "stopCardBorder":data.status === "Stop", "idleCardBorder":data.status === "Idle", "noTransCardBorder":data.status === "No Transmission", "overspeedCardBorder": data.status === "Overspeed"}'>
    <app-gridview-card [commonData]='data' [pageName]='report'></app-gridview-card>
</ion-card>
</ion-col>
</ion-row>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>