<ion-header class='header'>
  <ion-toolbar>
      <ion-grid>
          <ion-row></ion-row>
          <ion-row>
              <ion-col size='2'>
                  <ion-menu-button></ion-menu-button>
              </ion-col>
              <ion-col size='8.5' style='align-self: center;'>
                  <ion-row>
                      <ion-label> Diagnosis </ion-label>
                  </ion-row>
              </ion-col>
              <ion-col size='1.5' style="padding: 0px;">
                      <ion-img [src]="app.logo"></ion-img>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-vts-diagnosis></app-vts-diagnosis>
</ion-content>
