<ion-header>
  <ion-menu-button></ion-menu-button>
  <ion-toolbar>
    <ion-title>  poc-geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input [(ngModel)]="currentLatlng"></ion-input>
<div class="map" id="map" #mapElement></div>
</ion-content>
