.header-style {
    --background: #1aba7e;
    color: white;
}

.icon-size {
    font-size: 18px;
    padding: 9px;
}

.attendence {
    font-size: 28px;
    font-weight: bold;
    color: black;
    justify-content: center;
}

.padding8px {
    padding: 8px;
}

.attendenceSub {
    justify-content: center;
    font-size: 12px;
    font-family: sans-serif;
}

.colRightBorder {
    border-right: 2px solid #d2d2d294;
}

ion-card-title {
    text-align: center;
    color: #828282;
    font-size: 15px;
    padding: 5px;
    text-transform: uppercase;
}

#map {
    border: 2px solid #1aba7e;
    height: 193px;
}

.trackSideBorder {
    border-left: 6px solid #1aba7e;
}

.mapCardModel {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    align-self: center;
}

.locationName {
    font-family: cursive;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}
.locationTrack {
    font-size: 10px;
    padding-top: 3px;
}
.startedEndLabel {
    font-weight: bold;
    text-transform: uppercase;
    color: #1aba7e;
}
.routMap {
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: black;
    justify-content: center;
}

.scrollRow {
    height: 147px;
    overflow: auto;
    margin-top: 15px;
}

.iconFontSize {
    font-size: 36px;
}

.colCenter {
    align-self: center;
}

.alertCardTitle {
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
