.Tracalogic{
    --background:rgb(255, 174, 0);
}
.Moveandtrack{
    --background:rgb(237, 27, 36);
}
.GE{
    --background:rgb(255, 174, 0);
}
.Upcot-mvt{
    --background:rgb(237, 27, 36);
}
.Remoncloud{
    --background:rgb(237, 27, 36);
}
.appTab{
    max-width: 100%;
}

.selectedTab{
    --background:rgb(255, 255, 255);
}
.selectedTabStyle{
    --background:rgb(255, 255, 255);
    color: black;
}

.tabStyle{
    // --background:rgb(237, 27, 36);
    
    color: rgb(237, 27, 36);
}
.tabStyledelar{
    // --background:#3880ff;
    color: #3880ff;
}