@media(min-width:320px)and(max-width:1023px){
  * {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
   }
}

ion-button {
  width: 100%;
  --border-radius: 23px;
  height: 22px;
  text-transform: capitalize;
  font-size: 11px;
}
.btn-item {
  --background: transparent;
  color: white;
}

.btn-color {
  color: white;
}
.download-buttons {
  margin: 0px 3px;
  padding: 4px 6px;
  background: #915a9a;
  border-radius: 20px;
  cursor: pointer;
}
.download-buttons:hover {
  background-color: #efe2f1;
}
.toolbar-icon {
  font-size: small;
  color: white;
  margin-left: 3px;
}
.toolbar-buttons {
  padding: 10px 0;
  width: 78px !important;
}
.pdf-wrapper,
.excel-wrapper {
  background: url("../../../assets/pdf.svg") no-repeat;
  width: 23px;
  height: 24px;
}
.excel-wrapper {
  background: url("../../../assets/excelNew.svg") no-repeat;
}
.submitBtn {
  --background: #6c2a84;
  width: 69px;
  margin: 0px 10px;
}
.card-content {
  border-right: 5px solid #e6e6e6;
  margin: 4px;
}
.add-icon {
  font-size: 32px;
}
.content-wraper {
  padding: 0 5px;
}
.icon-size {
  font-size: 16px;
  //color: #fddb3a;
  color: #ff9800;
  padding-right: 5px;
}
.manage-title {
  font-size: 12px;
  font-family: "Segoe UI";
  color: #3d4df9;
  font-weight: 600;
  position: relative;
  z-index: 3;
}
.plateNum {
  border-bottom: 1px solid gray;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 0;
  font-weight: 700;
}
.manage-title:before {
  margin: auto;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 14px;
  width: 13px;
  background: grey;
}
.svg-size {
  height: 14px;
  width: 22px;
  padding-right: 5px;
}
.expense-card {
  margin: 10px;
  padding: 10px;
  background: #f6f6f6;
  border-radius: 10px;
  border-left: 3px solid #cc2930;
}
.inner-card {
  padding: 10px 5px 10px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: none !important;
  color: rgb(46, 44, 44);
  font-weight: 500;
}
.plateNo {
  padding: 5px 0px 5px 20px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(46, 44, 44);
}
.data {
  color: #bdbdbd;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 11px;
}
.add-icon {
  font-size: 32px;
  color: white;
}
