<ion-row>
  <ion-col *ngIf="myPlatform != 'desktop'" size=12 style="padding: 0px;">
    <ion-row>
      <ion-col size=11>
        <ion-searchbar [(ngModel)]="searchInput" placeholder="Search">
        </ion-searchbar>
      </ion-col>
      <ion-col size="1" style="text-align: -webkit-right;" >
        <div class="pdf-wrapper" (click)="createPdf()"></div>
      </ion-col>
    </ion-row>

      <ion-virtual-scroll [items]="tableData | searchmanage: searchInput"  [trackBy]="identify" >
        <ion-card *virtualItem="let items;"  class="expense-card ion-activatable" (click)="editModel(items)">  <ion-row>
            <ion-col size="12" class="plateNo">
              {{items.plateNo | uppercase }}
            </ion-col>
          </ion-row>
          <ion-card class="inner-card ion-activatable">
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="12">
                          Price
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="data">
                           ₹{{items.price}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="12">
                          Reason
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="data">
                          {{items.expense}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 5px;">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="12">
                          Date
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="data">
                          {{items.fromDate}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="12">
                          Description
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="data">
                          {{items.description}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
     </ion-virtual-scroll>
     <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
    <ion-fab class="botmRow" (click)="openModel()">
      <ion-fab-button style="position: fixed;bottom: 43px;right: 15px;">
        <ion-icon name="add" class="add-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-col>

<ion-col *ngIf="myPlatform == 'desktop'" size=12 style="padding: 0px;">
<ion-row  style="border: 1px solid #dad9d9; width: 99.2%">
<ion-col style="padding: 0;">
  <ion-row style="float:left; margin: 0">
    <ion-col size=4 class="toolbar-buttons">
<ion-button  class="submitBtn"  (click)="openModel()"shape="round" size="small">
Add
<ion-icon name="add-circle" class="toolbar-icon"></ion-icon>
</ion-button>
    </ion-col>
    <ion-col size=4 class="toolbar-buttons">
<ion-button  class="submitBtn"  (click)="editModel()"shape="round" size="small">
Edit
<ion-icon name="create" class="toolbar-icon"></ion-icon>
</ion-button>
    </ion-col>
    <ion-col size=4 class="toolbar-buttons">
<ion-button *ngIf="isDeleteShow"   class="submitBtn" (click)="deleteModel()" shape="round" size="small">
Delete
<ion-icon name="trash"  style="font-size: 25px;" class="toolbar-icon"></ion-icon>
</ion-button>
    </ion-col>
  </ion-row>
</ion-col>
<ion-col  *ngIf="myPlatform == 'desktop'">
  <ion-row  style="margin:0px ;padding:0;float:right">
    <ion-col class="ion-activatable download-buttons" (click)="createPdf()">
      <div class="pdf-wrapper"></div>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-col>
    <ion-col class="ion-activatable download-buttons" (click)="exportToExcel()">
      <div class="excel-wrapper"></div>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-col>
  </ion-row>
</ion-col>
</ion-row>
<jqxGrid 
(onRowselect)="myGridOnRowSelect($event)" 
[pageable]="true"
[selectionmode]="'singlerow'"
[showfilterrow]="true" 
[filterable]="true"
[sortable]="true" 
[width]="'100%'"
[source]="dataAdapter" 
[columns]="columns" 
[autoheight]="true"
[theme]="'material'" 
[columnsresize]="true" 
[enabletooltips]="true" 
#myGrid 
 style="font-size:10px;text-align: center !important">
</jqxGrid>
</ion-col>
</ion-row>