<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="routmap">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Rout map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="studentlivetrack">
      <ion-icon name="person"></ion-icon>
      <ion-label>Live track</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="studentoverview">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
