<ion-row>
  <ion-col size=12>
    <ion-row style="padding-left: 92%;" >
      <div class="pdf-wrapper" (click)="createPdf()"></div>
  
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let sales of sales">
        <ion-card class="status"
           class="card-wrapper validBorder" >
          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size=6 style="align-self: center;">
                  <ion-row>
                    <ion-col size="12" class="align-dataCol">
                      <ion-row>
                        <ion-col size="12">
                          {{sales.ImeiNo}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                </ion-col>
                <ion-col size=6>
                  <ion-row>
                    <ion-col size="12" style="margin: 0 0px 0px 2px;left: 50%; font-size: 11px;">
                      Expiry on
                    </ion-col>
                    <ion-col size="12" style="margin: 0 0px 0px 2px;margin-top:0px">
                      <ion-label class="status"
                        [ngClass]="{'valid' : sales.status == 'Expired', 'inValid' : sales.status == 'Not Expired'}">
                        {{sales.WarrantyExpiryDate}}</ion-label>

                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size=12>
                  <ion-row>
                    <ion-col size="12" class="align-dataCol">
                      <ion-row>
                        <ion-col size="12" style="font-size:large;font-weight: bold;color: black;margin-top: -15px;">
                          {{sales.PlateNo}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size=6 style="margin-top: -10px;">
                  <ion-row>
                    <ion-col size="2" class="icon_col">
                      <ion-icon name="business" class="common-icon"></ion-icon>
                    </ion-col>
                    <ion-col size="10" class="align-dataCol">
                      <ion-row>
                        <ion-col size="12">
                          {{sales.CompanyName}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                </ion-col>
                <ion-col size=6 style="margin-top: -10px;">
                  <ion-row>
                    <ion-col size="2" class="icon_col">
                      <ion-icon name="call" class="common-icon"></ion-icon>
                    </ion-col>
                    <ion-col size="10" class="align-dataCol">
                      <ion-row>
                        <ion-col size="12">
                          {{sales.ContactNo}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size=12 style="margin-top: -5px;">
                  <ion-row>
                    <ion-col size="1" class="icon_col">
                      <ion-icon name="mail" class="common-icon"></ion-icon>
                    </ion-col>
                    <ion-col size="11" class="align-dataCol">
                      <ion-row>
                        <ion-col size="12">
                          {{sales.Fax}}
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

                </ion-col>

              </ion-row>
            </ion-col>

          </ion-row>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>