.keyColor {
  color: rgb(0, 0, 0);  
  font-size: 12px;
}
.valueColor {
  background-color: rgb(236, 234, 234);
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.details {
  background-color: #ffffff;
  height: 50%;
}

.rowMargin {
  margin: 8px 0;
}
