
<ion-card-content class="padding0px">
  <ion-row  id="set-row" [ngClass]="getBg(items.id)">

    <ion-col size=12>
      <ion-row class="plateNoText">
        <ion-col size=1.3>
          <svg viewBox="0 0 512.001 512" width="6mm" height="6mm" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m131.21875 216.835938c2.632812 0 5.210938-1.070313 7.070312-2.929688 1.859376-1.863281 2.929688-4.441406 2.929688-7.070312 0-2.632813-1.070312-5.210938-2.929688-7.070313-1.859374-1.859375-4.4375-2.929687-7.070312-2.929687-2.640625 0-5.207031 1.070312-7.070312 2.929687-1.859376 1.859375-2.929688 4.4375-2.929688 7.070313 0 2.628906 1.070312 5.207031 2.929688 7.070312 1.863281 1.859375 4.441406 2.929688 7.070312 2.929688zm0 0" />
            <path
              d="m274.46875 203.59375c-1.867188-1.859375-4.4375-2.929688-7.078125-2.929688-2.628906 0-5.210937 1.070313-7.070313 2.929688-1.859374 1.859375-2.929687 4.441406-2.929687 7.070312 0 2.628907 1.070313 5.210938 2.929687 7.070313 1.859376 1.859375 4.441407 2.929687 7.070313 2.929687 2.640625 0 5.210937-1.070312 7.078125-2.929687 1.859375-1.859375 2.921875-4.429687 2.921875-7.070313 0-2.628906-1.0625-5.210937-2.921875-7.070312zm0 0" />
            <path
              d="m302.398438 185.664062c2.632812 0 5.210937-1.070312 7.070312-2.929687s2.921875-4.441406 2.921875-7.070313c0-2.628906-1.0625-5.210937-2.921875-7.070312s-4.4375-2.929688-7.070312-2.929688c-2.636719 0-5.21875 1.070313-7.078126 2.929688-1.859374 1.859375-2.929687 4.441406-2.929687 7.070312 0 2.628907 1.070313 5.210938 2.929687 7.070313 1.859376 1.859375 4.441407 2.929687 7.078126 2.929687zm0 0" />
            <path
              d="m482 245.996094h-27.902344l49.117188-49.117188c5.664062-5.667968 8.785156-13.203125 8.785156-21.214844 0-8.011718-3.121094-15.546874-8.785156-21.210937l-44.550782-44.550781c-3.902343-3.902344-10.234374-3.902344-14.140624 0-5.664063 5.667968-13.199219 8.789062-21.210938 8.789062-8.015625 0-15.546875-3.121094-21.214844-8.789062-5.667968-5.664063-8.785156-13.199219-8.785156-21.210938 0-8.015625 3.121094-15.546875 8.785156-21.214844 1.875-1.875 2.929688-4.417968 2.929688-7.070312s-1.054688-5.195312-2.929688-7.070312l-44.546875-44.546876c-5.667969-5.667968-13.199219-8.789062-21.214843-8.789062-8.011719 0-15.546876 3.121094-21.210938 8.789062l-165.164062 165.160157c-3.90625 3.902343-3.90625 10.234375 0 14.140625s10.238281 3.90625 14.144531 0l165.160156-165.160156c1.890625-1.890626 4.398437-2.929688 7.070313-2.929688 2.671874 0 5.183593 1.039062 7.070312 2.929688l38.183594 38.179687c-5.386719 8.109375-8.277344 17.625-8.277344 27.582031 0 13.355469 5.199219 25.910156 14.644531 35.355469 9.445313 9.441406 22 14.644531 35.355469 14.644531 9.957031 0 19.46875-2.890625 27.582031-8.277344l38.179688 38.179688c3.898437 3.898438 3.898437 10.242188 0 14.140625l-63.261719 63.261719h-43.839844l32.855469-32.855469c3.902344-3.90625 3.902344-10.238281 0-14.140625l-101.824219-101.824219c-3.90625-3.90625-10.238281-3.90625-14.144531 0l-148.820313 148.820313h-120.039062c-16.542969 0-30 13.457031-30 30v63c0 5.519531 4.476562 10 10 10 16.542969 0 30 13.457031 30 30 0 16.539062-13.457031 30-30 30-5.523438 0-10 4.476562-10 10v63c0 16.539062 13.457031 30 30 30h452c16.542969 0 30-13.460938 30-30v-63c0-5.523438-4.476562-10-10-10-16.542969 0-30-13.460938-30-30 0-16.542969 13.457031-30 30-30 5.523438 0 10-4.480469 10-10v-63c0-16.542969-13.457031-30-30-30zm-176.070312-127.609375 87.683593 87.683593-39.925781 39.925782h-39.597656l29.316406-29.320313c3.90625-3.902343 3.90625-10.234375 0-14.140625-3.902344-3.90625-10.234375-3.90625-14.140625 0l-43.460937 43.457032h-107.480469zm186.070312 211.613281c-22.792969 4.644531-40 24.847656-40 48.996094 0 24.144531 17.207031 44.347656 40 48.996094v54.003906c0 5.511718-4.484375 10-10 10h-452c-5.515625 0-10-4.488282-10-10v-54.003906c22.792969-4.648438 40-24.851563 40-48.996094 0-24.148438-17.207031-44.347656-40-48.996094v-54.003906c0-5.515625 4.484375-10 10-10h452c5.515625 0 10 4.484375 10 10zm0 0" />
            <path
              d="m213.570312 362.066406c1.859376-1.863281 2.929688-4.441406 2.929688-7.070312 0-2.632813-1.070312-5.210938-2.929688-7.070313-1.859374-1.859375-4.441406-2.929687-7.070312-2.929687s-5.210938 1.070312-7.070312 2.929687c-1.859376 1.859375-2.929688 4.4375-2.929688 7.070313 0 2.628906 1.070312 5.207031 2.929688 7.070312 1.859374 1.859375 4.441406 2.929688 7.070312 2.929688s5.210938-1.070313 7.070312-2.929688zm0 0" />
            <path
              d="m312.570312 362.066406c1.859376-1.863281 2.929688-4.441406 2.929688-7.070312 0-2.632813-1.070312-5.210938-2.929688-7.070313-1.859374-1.859375-4.441406-2.929687-7.070312-2.929687s-5.210938 1.070312-7.070312 2.929687c-1.859376 1.859375-2.929688 4.4375-2.929688 7.070313 0 2.628906 1.070312 5.207031 2.929688 7.070312 1.859374 1.859375 4.441406 2.929688 7.070312 2.929688s5.210938-1.070313 7.070312-2.929688zm0 0" />
            <path
              d="m263.070312 362.066406c1.859376-1.863281 2.929688-4.441406 2.929688-7.070312 0-2.632813-1.070312-5.210938-2.929688-7.070313-1.859374-1.859375-4.441406-2.929687-7.070312-2.929687s-5.210938 1.070312-7.070312 2.929687c-1.859376 1.859375-2.929688 4.4375-2.929688 7.070313 0 2.628906 1.070312 5.207031 2.929688 7.070312 1.859374 1.859375 4.441406 2.929688 7.070312 2.929688s5.210938-1.070313 7.070312-2.929688zm0 0" />
            <path
              d="m157 364.996094c2.628906 0 5.210938-1.070313 7.070312-2.929688 1.859376-1.863281 2.929688-4.441406 2.929688-7.070312 0-2.632813-1.070312-5.210938-2.929688-7.070313-1.859374-1.859375-4.441406-2.929687-7.070312-2.929687s-5.210938 1.070312-7.070312 2.929687c-1.859376 1.859375-2.929688 4.4375-2.929688 7.070313 0 2.628906 1.070312 5.207031 2.929688 7.070312 1.859374 1.859375 4.441406 2.929688 7.070312 2.929688zm0 0" />
            <path
              d="m362.070312 362.066406c1.859376-1.863281 2.929688-4.441406 2.929688-7.070312 0-2.632813-1.070312-5.210938-2.929688-7.070313-1.859374-1.859375-4.441406-2.929687-7.070312-2.929687s-5.210938 1.070312-7.070312 2.929687c-1.859376 1.859375-2.929688 4.4375-2.929688 7.070313 0 2.628906 1.070312 5.207031 2.929688 7.070312 1.859374 1.859375 4.441406 2.929688 7.070312 2.929688s5.210938-1.070313 7.070312-2.929688zm0 0" />
            <path
              d="m157 412.996094h198c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10h-198c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10zm0 0" />
            <path
              d="m193.320312 440.996094c-2.628906 0-5.210937 1.070312-7.070312 2.929687s-2.929688 4.4375-2.929688 7.070313c0 2.628906 1.070313 5.207031 2.929688 7.070312 1.859375 1.859375 4.441406 2.929688 7.070312 2.929688 2.640626 0 5.210938-1.070313 7.070313-2.929688 1.871094-1.863281 2.929687-4.441406 2.929687-7.070312 0-2.632813-1.058593-5.210938-2.929687-7.070313-1.859375-1.859375-4.429687-2.929687-7.070313-2.929687zm0 0" />
            <path
              d="m408 296.996094h-304c-5.523438 0-10 4.476562-10 10v144c0 5.519531 4.476562 10 10 10h41.65625c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10h-31.65625v-124h284v124h-162.34375c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h172.34375c5.523438 0 10-4.480469 10-10v-144c0-5.523438-4.476562-10-10-10zm0 0" />
          </svg>
        </ion-col>
        <ion-col size=10>
          {{items.subject}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=3 class="colBGwhite">
          <!-- <ion-card >
            <ion-card-content> -->
          <ion-row class="colTitleText">
            Ticket id
          </ion-row>
          <ion-row></ion-row>
          <ion-row class="center">
            {{items.id}}
          </ion-row>
          <!-- </ion-card-content>
          </ion-card> -->
        </ion-col>
        <ion-col size=3 class="colBGwhite">
          <!-- <ion-card style="width: 100%; height: 100%">
            <ion-card-content> -->
          <ion-row class="colTitleText">
            Status
          </ion-row>
          <ion-row >
            <ion-col class="center" size="12" *ngIf='items.status == "2"'>open</ion-col>
            <ion-col class="center" size="12" *ngIf='items.status == "3"'>pending</ion-col>
            <ion-col class="center" size="12" *ngIf='items.status == "4"'>resolved</ion-col>
            <ion-col class="center" size="12" *ngIf='items.status == "5"'>closed</ion-col>
          </ion-row>
          <!-- </ion-card-content>
          </ion-card> -->
        </ion-col>
        <ion-col class="colBGwhite" size=3>
          <!-- <ion-card style="width: 100%; height: 100%">
            <ion-card-content> -->
          <ion-row class="colTitleText">
            Created on
          </ion-row>
          <ion-row class="dateAndTime center">
            {{items.created_at | date:'medium' }}
          </ion-row>
          <!-- </ion-card-content>
          </ion-card> -->
        </ion-col>
        <ion-col class="colBGwhite" size=3>
          <!-- <ion-card style="width: 100%; height: 100%">
            <ion-card-content> -->
          <ion-row class="colTitleText">
            Last updated
          </ion-row>
          <ion-row class="dateAndTime center">
            {{items.updated_at | date:'medium' }}
          </ion-row>
          <!-- </ion-card-content>
          </ion-card> -->
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>

</ion-card-content>