<ion-grid>
        <!-- <ion-row>
                <ion-col size="9">
                        
                </ion-col>
                <ion-col size="1" *ngIf='window' (click)="exportData('print')"><img width="20px" height="20px"
                        src="../../../../assets/icon/print.svg">
                </ion-col>
                <ion-col size=" 1" (click)="exportData('xls')"><img width="20px" height="20px"
                        src="../../../../assets/icon/excel.svg">
                </ion-col>
                <ion-col size="1" (click)="exportData('pdf')"><img width="20px" height="20px"
                        src="../../../../assets/icon/pdf.png">
                </ion-col> 
        </ion-row> -->
</ion-grid>
<jqxGrid width='100%' [source]='dataAdapter' [rowsheight]='60' [sortable]='true' [columns]='columns'
 #grid></jqxGrid>