.size {
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
}

.title {
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 15px;
  color: black;
  border-bottom: 3px solid #d0d0d038;
}
.bold {
  justify-content: center;
}
.duration {
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 15px;
  color: black;
}
.pdf-wrapper,
.excel-wrapper {
  background: url("../../../assets/pdf.svg") no-repeat;
  width: 22px;
  height: 22px;
}

.borderBottom {
  border-bottom: 3px solid whitesmoke;
}
