<ion-header *ngIf="myPlatform !='desktop'">
  <ion-toolbar mode="md" class="appHeader">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon icon="md-arrow-back" style="color:rgb(0, 0, 0), text-" (click)='getBack()'></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <ion-title style="padding:0px 12px;">AC report</ion-title>
        </ion-col>
        <ion-col size="2" style="text-align: -webkit-right;">
          <div class="pdf-wrapper" (click)="createPdf()"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let data of displayData" style="padding:0px">
      <ion-card>
        <ion-card-content style="border-left: 3px solid red;">
          <ion-row class="title">
            {{data.plateNo}}
          </ion-row>
          <ion-row class="borderBottom">
            <ion-col class="center" size=6 style="padding: 5px; border-right: 3px solid whitesmoke;">
              <ion-row class="size">
                From Time
              </ion-row>
              <ion-row class="bold">
                {{data.from}}
              </ion-row>

            </ion-col>
            <ion-col class="center" size=6 style="padding: 5px;">
              <ion-row class="size">
                To Time
              </ion-row>
              <ion-row class="bold">
                {{data.to}}
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="duration">
            Duration : {{data.duration}}
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>