<ion-header>
  <ion-toolbar mode="md" class="dealerHeader">

    <ion-row style='padding: 0px;'>
      <ion-col size="2" style='padding: 0px;'>
        <ion-menu-button></ion-menu-button>
      </ion-col>
      <ion-col size="6" style='padding: 0px;align-self: center;'>
        <ion-title style="font-size: 19px;">Company </ion-title>
      </ion-col>
      <!-- <ion-col size="4" style='padding: 0px;align-self: center;'> -->
        <!-- <ion-icon style='font-size: 25px;' ios="md-search" (click)='searchStatus()' md="md-search"></ion-icon>
      </ion-col> -->
    </ion-row>

    <!-- <ion-row *ngIf='searchEnable'>
      <ion-col style='    align-self: center; text-align: center;' size='1'>
        <ion-icon style='font-size: 25px;' (click)='searchStatus()' md="md-arrow-back"></ion-icon>
      </ion-col>
      <ion-col size='11'>
        <ion-searchbar (ionChange)="pipeFilter(searchInput)" style="padding: 0px;" class='buttonData' mode='ios'
          cancelButtonText="Custom Cancel" [(ngModel)]="searchInput" animated></ion-searchbar>
      </ion-col>
    </ion-row> -->
  </ion-toolbar>
  <ion-searchbar (ionChange)="pipeFilter(searchInput)"  [(ngModel)]="searchInput" placeholder="Search">
  </ion-searchbar>
</ion-header>


<ion-content>

  <ion-row class="company-wrapper">
    <ion-col size=12 size-sm="12" size-lg="4" size-md="6" *ngFor="let showList of displayData">
      <!-- <ion-card class="company-card" (click)='selectedCompany(showList)'>
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-col size="8.5">
                <ion-row>
                  <ion-col size="1.5" class="icon-col">
                    <ion-icon name="business" class="company-icon"></ion-icon>
                  </ion-col>
                  <ion-col size="10.5" class="set-size">
                    <ion-row>
                      <ion-col size="12" class="headerlist">
                        {{showList.companyName}}
                      </ion-col>
                    </ion-row>
                    <ion-row class="sub-rows">
                      <ion-col size="12" class="underline">
                        Company Name
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row class="sub-rows">
                  <ion-col size="1.5" class="icon-col">
                    <ion-icon name="phone-portrait" class="company-icon"></ion-icon>
                  </ion-col>
                  <ion-col size="10.5" class="set-size">
                    <ion-row>
                      <ion-col size="12">
                        {{showList.contact}}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="1.5" class="icon-col">
                    <ion-icon name="mail" class="company-icon"></ion-icon>
                  </ion-col>
                  <ion-col size="10.5" class="set-size">
                    <ion-row>
                      <ion-col size="12">
                        {{showList.emailId}}
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="3.5" style="text-align: center;border: 1px solid #c1c1c1;
               background-color: #009688;color:white">
                <ion-row>
                  <ion-col size="12">
                    <ion-row>
                      <ion-col size="12">
                        <ion-row style="text-align: center;
                       background-color: #4c4e4e;
                       color: #e8e8ec;">
                          <ion-col size="12" style=" font-size: 32px;">
                            {{showList.vehicle_Count}}
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" style="color: white;font-size: 12px;padding-top: 5px;">
                            COUNT
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card> -->
      <ion-card style="border-left: 4px solid #7c68f8; margin: 0px;" (click)='selectedCompany(showList)'>
        <ion-card-content>
          <ion-row>
            <ion-col size=9>
              <ion-row class="companyName uppercase">
                {{showList.companyName}}
              </ion-row>
              <ion-row class="centerAlign">
                <ion-icon class="iconColor" name="call"></ion-icon> <label> {{showList.contact}}</label>
              </ion-row>
              <ion-row class="centerAlign">
                <ion-icon class="iconColor" name="mail"></ion-icon> <label> {{showList.emailId}}</label>
              </ion-row>
            </ion-col>
            <ion-col size=3 class="centerColNum">
              <ion-label>
                {{showList.vehicle_Count}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>