.iconSize25px {
  font-size: 25px;
}
.image-size {
  height: 35px;
  width: 35px;

  cursor: pointer;
  display: inline-block;
  margin: 5px;
}
.download-wrapper {
  padding: 6px;
  background: #eaeaea;
}
.download-wrapper:hover {
  background-color: #f6f6f6;
}
.subscription-title {
  font-size: 20px;
}
.reportInfo {
  color: #000000;
  font-size: 14px;
  font-family: sans-serif;
}

.paddingBottom10px {
  padding-bottom: 4px;
}

.padding25px {
  padding: 20px;
}

.buttonWidth {
  width: 33%;
  height: 30px;
  --ion-color-primary: #7c68f8;
}

.imeibox {
  background-color: #e8e8e8;
  color: #676464;
  width: 100%;
}
.padding0px {
  padding: 0px;
}

.ImeiStyle {
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0px;
  align-self: center;
}

.ImeiNo {
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: #3c3c3c;
  padding: 0px;
}

.Expirystyle {
  padding: 3px;
  background: #dadada;
  color: #3c3c3c;
  text-align: center;
  border-radius: 29px;
}

.timestampRow {
  text-align: center;
  border-top: 1px solid #dadada;
}

.timestampCol {
  padding: 6px;
}

.textCenter {
  text-align: center;
}

.iconColor {
  color: #7c68f8;
  padding-right: 7px;
}

#radio-wrapper {
  padding: 10px;
  text-align: center;
}
#radio-btn {
  vertical-align: middle;
}

//Mobile card
.companyName {
  color: #545454;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
.iconColor {
  color: #7c68f8;
  padding-right: 7px;
}

.centerAlign {
  align-items: center;
  font-family: sans-serif;
  font-size: small;
}
.centerColNum{
  align-self: center;
  font-size: x-large;
  text-align: center;
  border: 2px solid #7c68f8;
  border-radius: 100px;
  background: #f1f1f1;
  color: black;
}