<ion-header>
  <ion-toolbar class="dealerHeader">
     <ion-row>
      <ion-icon class="iconSize25px" (click)="closePage()" name="arrow-back"></ion-icon>
      <ion-title>Check Imei</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="padding25px">
 <ion-row> 
    <ion-col size="12" id="radio-wrapper">
      <ion-radio-group allow-empty-selection="false" name="radio-group"  value="Imei Number" (ionChange)="getImeiMobileNumber($event)"  >
        <ion-col size='8' *ngFor="let items of imeiMobileSearch">
          <ion-col size='3'>
            <ion-radio id="radio-btn" checked [value]="items"></ion-radio>
          </ion-col>
          <ion-col size='8'>
            <ion-label>{{items}}</ion-label>
          </ion-col>
        </ion-col>
      </ion-radio-group>
    </ion-col>
  </ion-row>

  <form [formGroup]="numberSearch">
  <ion-row>
    <ion-col size="12">
          <ion-row class="paddingBottom10px">
            <ion-input type="tel" [maxlength]="maxNum" class="imeibox"   [placeholder]="holder"  formControlName="commonNumber"></ion-input>
          </ion-row>
        </ion-col>
      
      </ion-row>
      <ion-row >
        <ion-col style="text-align: center;">
        <ion-button class="buttonWidth" (click)='submit()' [disabled]="!numberSearch.valid || numberSearch.value.commonNumber.length != maxNum">Submit</ion-button>
      </ion-col>
    </ion-row>
    
  </form>
    </div>
   <ion-row *ngIf="reportData">
      <ion-col size=12 size-sm="12" size-lg="4" size-md="6" *ngFor="let ImeiDetail of reportData" style="margin: auto;">
        <ion-card style="border-left: 4px solid #7c68f8; margin: 0px;">
          <ion-card-content>
            <ion-row >
              <ion-col size=12>
                <ion-row>
                  <ion-col size=8 class="ImeiStyle">
                    {{ImeiDetail.plateNo}}
                  </ion-col>
                  <ion-col size=4 class="ImeiStyle Expirystyle">
                    {{ImeiDetail.warrantyExpiryDate}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size=12 class="ImeiNo">
                    {{ImeiDetail.imei}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size=12 class="ImeiStyle">
                    <ion-icon class="iconColor" name="call"></ion-icon> {{ImeiDetail.simcardNo}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size=12 class="ImeiStyle">
                    <ion-icon class="iconColor" name="business"></ion-icon> {{ImeiDetail.companyId}} ({{ImeiDetail.currentAgency}})
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="timestampRow">
              <ion-col size=12 class="ImeiStyle timestampCol">
                {{ImeiDetail.serverTimeStamp}}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
 

      <ion-row class="company-wrapper" *ngIf="mobileNumber">
        <ion-col size=12 size-sm="12" size-lg="4" size-md="6" style="margin: auto;">
          <ion-card style="border-left: 4px solid #7c68f8; margin: 0px;" >
            <ion-card-content>
              <ion-row>
                <ion-col size=9>
                  <ion-row class="companyName uppercase">
                    {{mobileNumber.companyName}}
                  </ion-row>
                  <ion-row class="centerAlign">
                    <ion-icon class="iconColor" name="call"></ion-icon> <label> {{mobileNumber.contact}}</label>
                  </ion-row>
                  <ion-row class="centerAlign">
                    <ion-icon class="iconColor" name="mail"></ion-icon> <label> {{mobileNumber.emailId}}</label>
                  </ion-row>
                </ion-col>
                <ion-col size=3 class="centerColNum">
                  <ion-label>
                    {{mobileNumber.vehicle_Count}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
     
  </ion-content>
  
