.imageWidth{
color: red;
    
}
.padding{
   
    padding: 0px 12px 0px 35px;
}
.center{
    justify-content: center;
 font-size: 12px;
}

$unSeletedColor: white;
.selectedTab {
  background-color:white;
  border-radius: 8px;
  color: #6C2A84;
  border: none;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  // font-weight: bold;
 
}
.unSelectedTab {
  background-color: white;
//   color: $unSeletedColor;

  text-align: center;
  // text-decoration: none;
  font-size: 14px;
  // color: darkviolet;

}