.image-size {
    height: 35px;
    width: 35px;

    cursor: pointer;
    display: inline-block;
    margin: 5px;
}
.download-wrapper {
    padding: 6px;
    background: #eaeaea;
}
.download-wrapper:hover {
    background-color: #f6f6f6;
}
.subscription-title {
    font-size: 20px;
}
.reportInfo {
    color: #000000;
    font-size: 14px;
    font-family: sans-serif;
}
ion-radio {
    --color-checked: #7c68f8;
}
.days {
    display: grid;
    place-content: center;
}

.radio-item {
    display: inline-block !important;
    width: 20%;
}
.paddingBottom10px {
    padding-bottom: 4px;
}

.padding25px {
    padding: 20px;
}

.buttonWidth {
    width: 100%;
    height: 30px;
    --ion-color-primary: #7c68f8;
}

.datetime {
    background-color: #e8e8e8;
    color: #676464;
    width: 100%;
}
