<form [formGroup]="login">
  <ion-card>
    <ion-item>
      <ion-icon class="placeholder-label" slot="start" name="phone-portrait"></ion-icon>
      <ion-label style="color: #b1b1b1;" position="stacked">MOBILE NO</ion-label>
      <ion-input type="number" formControlName="mobileNo"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="button =='Verify'">
    <ion-item>
      <ion-icon class="placeholder-label" slot="start" name="key"></ion-icon>
      <ion-label style="color: #b1b1b1;" position="stacked">OTP</ion-label>
      <ion-input formControlName="otp"></ion-input>
    </ion-item>
  </ion-card>
  <ion-row *ngIf="button =='Verify'" class="resend-otp" (click)="sendOtp()"> 
    Resend OTP?
  </ion-row>
</form>
<ion-row style="justify-content: center;">
  <ion-button class="button-color" shape="round" (click)="loginSubmit()">{{button}}</ion-button>
</ion-row>
<!-- <ion-row id="divOuter">
  <ion-col id="divInner">
     <ion-input formControlName="otp" id="partitioned" type="text" maxlength="4"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          onKeyPress="if(this.value.length==) return false;"></ion-input>
  </ion-col>
</ion-row> -->