#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, rgb(233, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
}

.background-gradient {
  background-image: linear-gradient(to top right, #f51e2e, #fd6035);
  width: 100%;
  height: 100%;
  position: fixed;
}

#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 190px;
  overflow: hidden;
}

.item-interactive.ion-valid {
  --highlight-background: none;
}

.placeholder-label {
  color: #1aba7e;
  font-size: 25px;
  align-self: center;
}

.button-color {
  --background: #1aba7e;
  --background-focused: #1aba7e;
  --background-hover: #1aba7e;
  --background-activated: #1aba7e;
}

.font-label {
  font-size: 21px;
  font-weight: bold;
  font-family: sans-serif;
  color: #1aba7e;
}

.resend-otp{
  font-size: 14px;
  font-weight: bold;
  padding: 0px 11px 7px 3px;
  color: #1aba7e;
  justify-content: flex-end;
}