<ion-header>
<ion-toolbar mode="md"  class="dealerHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     <ion-title >Stock uploader</ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
   <ion-row style="padding: 0px;">
      <ion-col size="12" class="ion-text-center">    <input type="file" (change)="onFileChange($event)" /></ion-col>
          </ion-row>
   
    <!-- <div>
      <a id="download" (click)="sendToServer()"> Submit </a>
    </div> -->
    <!-- <ion-row>
      <ion-col size="12"><ion-input type="file" [(ngModel)]="file" (ionChange)="onFileChange($event)"></ion-input></ion-col>
     
    </ion-row> -->
    <ion-row style="padding: 0px;">
<ion-col size="12" class="ion-text-center"><ion-button (click)="sendToServer()" id="submitbtn">Submit </ion-button></ion-col>
    </ion-row>
    <jqxGrid *ngIf='show'
    #myGrid
    [theme]="'material'"
    [width]="'99%'"
    [autoheight]="true"
    [source]="dataAdapter"
    [columns]="columns"
    [sortable]="true"
    [filterable]="true"
    [columns]="columns"
    [columnsresize]="true"
    [enabletooltips]="true"
    [pageable]="true"
   style="font-size: 10px !important"
  >
  </jqxGrid>
  </ion-content>

  