<ion-header class='header'>
  <ion-toolbar class="header-style">
    <ion-row style="align-items: center;">
      <ion-menu-button></ion-menu-button>
      <ion-label> Dashboard  </ion-label>
      <!-- <ion-button routerLink="/about">About</ion-button> -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="studentDetail(data.SelectedVin)" *ngFor="let data of studentsData">
    <ion-card-content style="padding: 0px;">
      <ion-row>
        <ion-col size=2>
          <ion-icon class="student-icon" name="contact"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row class="name-style">
            {{data.studentName}}
          </ion-row>
          <ion-row class="class-sec">
           {{ "Std:"+data.std+" || Sec:"+data.sec+""}}
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-card style="width: 100%; margin: 0px;">
          <ion-card-content>
            <!-- <ion-row>
              <div class="border-line"></div>
              <div size=2 class="circle" [ngClass]="{'current': data.routesDatas[0].name }"></div>
              <div style="width: 48%;" class="border-line "></div>
              <div style="left:47%" size=2 class="circle"></div>
              <div style="left:91%" size=2 class="circle"></div>
            </ion-row> -->
            <!-- <ion-row class="padding-top-10 padding-bottom-10">
              <ion-col class="padding0px">
                {{data.routesDatas[0].name}}
              </ion-col>
              <ion-col class="padding0px text-center">
                {{data.routesDatas[0].name}}
              </ion-col>
              <ion-col class="padding0px text-right">
              {{data.routesDatas[0].name}}
              </ion-col>
            </ion-row> -->
            <ion-row >
              <!-- <ion-col class="padding0px" size=12 class="ion-text-center">
                <ion-icon class="iconCall" name="call"></ion-icon>
              </ion-col> -->
              <ion-col class="padding0px"  size=3.5 class="ion-text-right">
                <ion-icon   name="md-locate" style="font-size: 24px;color: #1aba7e;"></ion-icon>
                </ion-col>
                <ion-col class="padding0px" size=8.5   class="ion-text-left" style="font-size: 17px;">
                  {{data.routesDatas[0].name}}
                </ion-col>
              
             
            </ion-row>
            <ion-row class="border">
              <ion-col size=3>
                <ion-row class="rowCenter">
                  <ion-icon class="iconCall" name="call"></ion-icon>
                </ion-row>
                <ion-row class="rowCenter fontFamily">
                  {{data.driverNo}}
                </ion-row>
              </ion-col>
              <ion-col size=6>
                <ion-row class="rowCenter">
                  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50px" height="31px"
                    viewBox="0 0 820.000000 742.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,742.000000) scale(0.100000,-0.100000)" fill="#1aba7e"
                      stroke="none">
                      <path d="M3055 7003 c-134 -16 -336 -78 -460 -140 -243 -122 -414 -287 -526
                 -508 -118 -231 -133 -311 -149 -762 -5 -155 -14 -292 -19 -306 -5 -14 -21 -37
                 -36 -51 -63 -63 -91 -192 -82 -386 12 -267 83 -448 272 -699 104 -137 116
                 -157 160 -271 84 -212 171 -353 309 -498 352 -369 798 -469 1213 -272 291 138
                 523 402 663 755 47 118 78 174 135 245 117 146 222 338 273 500 25 79 26 97
                 27 275 0 221 -11 273 -72 345 -36 41 -38 49 -45 129 -3 48 -7 134 -7 192 -2
                 220 -38 431 -96 557 -14 31 -50 89 -79 127 -66 86 -79 112 -100 194 -78 304
                 -430 522 -925 571 -97 9 -389 12 -456 3z" />
                      <path d="M6165 3654 c-260 -28 -548 -133 -774 -282 -394 -259 -655 -656 -753
                 -1143 -33 -165 -33 -463 0 -627 144 -715 662 -1237 1382 -1393 92 -20 133 -23
                 340 -23 206 0 248 3 339 22 450 98 821 339 1086 707 123 170 245 452 290 670
                 35 170 29 561 -11 720 -67 267 -181 500 -344 704 -254 318 -606 534 -1015 623
                 -69 15 -139 20 -295 23 -113 1 -223 1 -245 -1z m-126 -414 c56 -16 108 -58
                 127 -103 16 -37 18 -87 22 -453 l4 -412 -45 -30 c-105 -73 -177 -207 -177
                 -332 0 -26 -16 -38 -281 -190 -388 -224 -428 -242 -504 -238 -99 6 -161 64
                 -192 179 -24 90 -24 386 0 516 33 177 103 348 213 516 80 123 242 288 359 365
                 139 93 352 188 425 191 8 1 30 -3 49 -9z m781 -12 c67 -20 215 -96 305 -156
                 274 -181 453 -421 566 -757 l34 -100 0 -290 0 -290 -28 -48 c-57 -96 -158
                 -129 -267 -88 -46 17 -263 138 -622 346 l-68 39 0 56 c-1 103 -66 224 -158
                 292 l-53 40 3 421 c3 401 4 424 23 456 51 87 146 115 265 79z m-413 -1149 c34
                 -13 80 -55 99 -91 18 -35 18 -101 0 -137 -21 -39 -79 -88 -114 -96 -76 -16
                 -169 43 -193 123 -36 121 92 245 208 201z m-150 -524 l112 -29 78 23 c164 50
                 148 49 206 16 162 -90 476 -277 561 -334 83 -55 103 -73 119 -110 49 -111 -21
                 -237 -198 -352 -376 -247 -841 -302 -1254 -149 -226 83 -445 232 -492 335 -25
                 54 -24 135 1 185 23 44 66 76 270 197 223 132 457 254 475 249 6 -1 60 -16
                 122 -31z" />
                      <path d="M2175 3430 c-11 -5 -136 -57 -278 -115 -678 -277 -929 -404 -1120
               -563 -260 -216 -484 -604 -592 -1026 -51 -201 -78 -374 -79 -513 -1 -111 1
                 -124 20 -143 47 -48 410 -173 679 -234 387 -87 928 -162 1447 -198 244 -17
                 1857 -17 2108 0 193 13 462 40 469 47 2 3 -23 44 -57 93 -171 252 -295 549
                 -343 822 -25 144 -28 445 -5 623 41 319 166 601 404 910 46 59 72 101 66 107
                 -11 11 -473 200 -489 200 -6 0 -27 -19 -45 -42 -203 -256 -430 -422 -713 -521
                 l-92 -32 -245 0 -245 0 -92 32 c-237 83 -488 253 -631 426 -122 150 -120 148
                 -167 127z" />
                    </g>
                  </svg>

                </ion-row>
                <ion-row class="rowCenter fontFamily">
                  {{data.driverName}}
                </ion-row>
              </ion-col>
              <ion-col size=3>
                <ion-row class="rowCenter">
                  <svg width='32px' heigth='31px' version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="fill:#1aba7e"
                    viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                    <g>
                      <path
                        d="M642.1,588.3c-4.6-57.7,189.9-56.2,189.9-56.2s-151-33-221.8,25.8c-89.6,74.4,45.6,121.6,76,151.9c30.4,30.4,33.4,83.6-100.3,86.6c-133.7,3-227.9-6.1-227.9-6.1s-26.5,110.5-50.1,168.7c0,0,256.8,7.6,360.1-16.7C771.2,918,880.6,836,833.5,741.8C786.4,647.6,646.6,646.1,642.1,588.3z" />
                      <path
                        d="M265.3,158.3C124.3,158.3,10,272.6,10,413.6c0,141,203.6,252.2,255.3,533.4c72.9-276.6,255.3-392.4,255.3-533.4S406.2,158.3,265.3,158.3z M265.3,548.8c-74.7,0-135.2-60.5-135.2-135.2s60.5-135.2,135.2-135.2c74.7,0,135.2,60.5,135.2,135.2S339.9,548.8,265.3,548.8z" />
                      <path
                        d="M990,191c0-83.5-67.7-151.2-151.2-151.2c-83.5,0-151.2,67.7-151.2,151.2s120.6,149.4,151.2,315.9C882,343.1,990,274.5,990,191z M758.7,191c0-44.2,35.9-80.1,80.1-80.1c44.2,0,80.1,35.9,80.1,80.1s-35.9,80.1-80.1,80.1C794.6,271.1,758.7,235.2,758.7,191z" />
                    </g>
                  </svg>
                </ion-row>
                <ion-row class="rowCenter fontFamily">
                  {{data.routeName}}
                </ion-row>
              </ion-col>
              <!-- <ion-col size=12 class="text-center trip-detail">
                <ion-label> TRIP DETAIL</ion-label>
              </ion-col>
              <ion-col size=12>
                <ion-row>
                  <ion-col>Route name</ion-col>
                  <ion-col> AH1</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Driver name</ion-col>
                  <ion-col> Mohamed Imran</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Driver contact</ion-col>
                  <ion-col> 9087657583</ion-col>
                </ion-row>
              </ion-col> -->
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>