<!-- <ion-row>
  <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let data of displayData" style="padding:0px"> 
     <ion-card>
      <ion-card-content   style="padding: 0px;">
        <ion-row>
          <ion-col size=12 style="padding: 0px;">
            <ion-row>
              <ion-col size=5>
                <ion-row style="padding: 10px; font-size: 9px;">
                {{data.plateNo}}
                </ion-row>
                <ion-row style="padding: 10px; font-size: 9px;">
                  {{data.date}}
                  </ion-row>
              </ion-col>
              <ion-col size=3 style="background-color: #dadada">
                <ion-row style="font-weight: bold;
                color: white;
                justify-content: center;">
                  Min value
                </ion-row>
                <ion-row style="font-weight: bold;
                color: black;
                justify-content: center;">
                  {{data.min}}
                </ion-row>
                <ion-row style="font-weight: bold;
                color: white;
                justify-content: center;">
                  Max value
                </ion-row>
                <ion-row style="font-weight: bold;
                color: black;
                justify-content: center;">
                  {{data.max}}
                </ion-row>
              </ion-col>
              <ion-col size=4 [ngClass]='{"safe": (data.value > data.min && data.value < data.max), "unsafe": (data.value < data.min && data.value > data.max)}'>
              
                  <ion-row style="
                  justify-content: center;"  > 
                  {{data.name}}
                </ion-row>
                <ion-row style="font-weight: bold; padding-top: 10px ;
                  font-size: 23px; justify-content: center;">
                  <svg id="Layer_1" enable-background="new 0 0 512 512" height="14mm" viewBox="0 0 512 512" width="12mm"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path fill="white"
                        d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
                    </g>
                  </svg> {{data.value}} <sub style="font-size: 9px;">oC</sub>
                </ion-row>
           
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> 
  </ion-col>
</ion-row> -->
<ion-row>
  <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let data of displayData" style="padding:0px">
    <ion-card class="card-wrapp">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-row id="plateno-border">
              <ion-col size="9" size-sm="9" size-lg="8" size-md="8" id="plateNo">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="5mm" height="4mm" version="1.1"
                  style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                  viewBox="0 0 347.12 296.32" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Layer_x0020_1">
                    <path [attr.fill]="iconColor"
                      d="M297.81 92.63l-19.12 -9.56 0.01 -63.95c0,-10.54 -8.57,-19.12 -19.12,-19.12 -7.92,0 -14.73,4.85 -17.63,11.73 -6.14,-7.17 -15.23,-11.73 -25.39,-11.73l-133.81 0c-18.44,0 -33.45,15.01 -33.45,33.46l0 229.4c0,18.45 15.01,33.46 33.46,33.46l133.8 -0.01c10.15,0 19.25,-4.56 25.39,-11.73 2.9,6.88 9.7,11.73 17.63,11.73 10.54,0 19.12,-8.57 19.12,-19.12l0 -111.75 19.12 -9.56 -0.01 -63.25zm-81.25 -73.51l-133.81 0c-7.91,0 -14.34,6.43 -14.34,14.34l0 229.4c0,7.91 6.43,14.34 14.34,14.34l133.81 -0.01c7.91,0 14.34,-6.43 14.34,-14.34l0 -229.39c0,-7.91 -6.43,-14.34 -14.34,-14.34zm-129.03 81.24l124.25 0 0 -62.13 -124.25 0 0 62.13zm33.46 138.6l57.34 0 0 -19.12 -57.34 0 0 19.12zm-38.24 -210.28l133.81 0c2.64,0 4.78,2.15 4.78,4.78l0 76.47 -9.56 0 0 9.56 9.56 -0.01 0 76.46 -23.89 0 0 -47.79 -4.78 0 0 -19.12 -28.67 0 0 19.12 -4.78 0 0 47.79 -8.7 0 3.85 -23.11 0.07 -10.34c0,-13.18 -10.72,-23.9 -23.9,-23.9 -13.18,0 -23.9,10.72 -23.9,23.9l0 9.56 3.94 23.9 -32.61 -0.01 0 -76.46 124.26 0 0 -9.56 -124.26 0.01 0 -76.47c0,-2.64 2.14,-4.78 4.78,-4.78zm86.03 129.03l19.11 0 0 38.23 -19.11 0 0 -38.23zm14.33 -9.56l-9.55 0 0 -9.56 9.55 0 0 9.56zm-66.84 23.9l28.55 0 -3.98 23.9 -20.58 -0.01 -3.99 -23.89zm-0.06 -9.56c0,-7.91 6.43,-14.34 14.34,-14.34 7.91,0 14.34,6.43 14.34,14.34l-28.68 0zm100.35 105.14l-133.81 0c-2.64,0 -4.78,-2.15 -4.78,-4.78l0 -57.35 34.19 0 36.77 0 10.29 0 38.23 0 23.89 0 0 57.35c0,2.64 -2.14,4.78 -4.78,4.78zm52.58 9.56c0,5.27 -4.29,9.56 -9.56,9.56 -5.27,0 -9.56,-4.29 -9.56,-9.56l0 -23.9 -9.56 0.01 0 9.56c0,13.18 -10.72,23.9 -23.9,23.9l-133.81 -0.01c-13.18,0 -23.9,-10.72 -23.9,-23.9l0.01 -229.39c0,-13.18 10.72,-23.9 23.9,-23.9l133.8 0c13.18,0 23.9,10.72 23.9,23.9l0 210.28 9.56 0 0 -224.62c0,-5.27 4.29,-9.56 9.56,-9.56 5.27,0 9.56,4.29 9.56,9.56l0 258.07zm19.11 -127.21l-9.56 4.78 0.01 -61 9.56 4.78 -0.01 51.44z" />
                  </g>
                </svg>
                {{data.PlateNo}}
              </ion-col>
              <ion-col size="3" size-sm="3" size-lg="4" size-md="4" size class="date-column">
                <ion-row style="margin: 5px 0px 2px;">
                  <ion-icon name="calendar" class="icon-size"></ion-icon>{{data.TimeStamp | date}}
                </ion-row>
                <ion-row>
                  <ion-icon name="time" class="icon-size"></ion-icon> {{data.TimeStamp | date:'mediumTime'}}
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="data.TEMPERATURESENSOR1" class="zone-block">
                <ion-row class="temp-value">
                  <ion-col size="12">{{data['TEMPERATURESENSOR1value']}} </ion-col>
                </ion-row>
                <ion-row class="zone">
                  <ion-col size="12">{{data['TEMPERATURESENSOR1']['name']}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <span class="min">Min</span>
                    <span>{{data['TEMPERATURESENSOR1']['min']}} <sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><span class="min">Max</span>
                    <span>{{data['TEMPERATURESENSOR1']['max']}}<sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngIf="data.TEMPERATURESENSOR2" class="data">
                <ion-row class="temp-value">
                  <ion-col size="12">{{data['TEMPERATURESENSOR2value']}}</ion-col>
                </ion-row>
                <ion-row class="zone">
                  <ion-col size="12">{{data['TEMPERATURESENSOR2']['name']}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <span class="min">Min</span>
                    <span>{{data['TEMPERATURESENSOR2']['min']}} <sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><span class="min">Max</span>
                    <span>{{data['TEMPERATURESENSOR2']['max']}} <sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngIf="data.TEMPERATURESENSOR3" class="zone-block">
                <ion-row class="temp-value">
                  <ion-col size="12">{{data['TEMPERATURESENSOR3value']}} </ion-col>
                </ion-row>
                <ion-row class="zone">
                  <ion-col size="12">{{data['TEMPERATURESENSOR3']['name']}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <span class="min">Min</span>
                    <span>{{data['TEMPERATURESENSOR3']['min']}} <sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><span class="min">Max</span>
                    <span>{{data['TEMPERATURESENSOR3']['max']}}<sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngIf="data.TEMPERATURESENSOR4" class="data">
                <ion-row class="temp-value">
                  <ion-col size="12">{{data['TEMPERATURESENSOR4value']}}</ion-col>
                </ion-row>
                <ion-row class="zone">
                  <ion-col size="12">{{data['TEMPERATURESENSOR4']['name']}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <span class="min">Min</span>
                    <span>{{data['TEMPERATURESENSOR4']['min']}} <sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><span class="min">Max</span>
                    <span>{{data['TEMPERATURESENSOR4']['max']}} <sub class="subScript-min">oC</sub></span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>