<ion-card-content *ngIf='data.icon!="REFRIGERATOR"' style="padding:0px; ">
  <!-- style="height: 130px;" -->

  <ion-row>
    <ion-col size="10" style="padding-left:0px; padding:0px; ">
      <ion-row>
        <ion-col size="3" class="cardAlign" style="padding-top: 0px;margin-top: 0px;">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="8mm" height="8mm" version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path [attr.fill]="color[data.status]" [attr.d]="getModel(data.icon)" />
          </svg>
        </ion-col>
        <ion-col *ngIf="myPlatform !='desktop'" size="9" class="plateno">
          {{data.plateNo}}
        </ion-col>
        <ion-col *ngIf="myPlatform =='desktop'" size="9" class="platenoweb">
          {{data.plateNo}}
        </ion-col>
      </ion-row>

      <ion-row *ngIf='data.icon != "REFRIGERATOR"'>
        <ion-col size="7" style="font-size: 20px;font-weight: bolder;line-height: 5px; "
          class=" underline ion-text-start cardAlign">
          <!-- MOBILE -->
          <ion-row *ngIf="myPlatform !='desktop'"> {{data.speed}}
            <ion-label style='font-size: 10px;'>Km/h</ion-label>
          </ion-row>
          <!-- WEB -->
          <ion-row *ngIf="myPlatform =='desktop'" style='font-size: 15px;'> {{data.speed}}
            <ion-label style='font-size: 8px;'>Km/h</ion-label>
          </ion-row>
          <ion-row style="font-size:11px;font-weight: bolder;line-height: 0px;margin-left: 1px;padding-top:17px;"
            [ngClass]='{"runningText": data.status === "Running" || data.status === "Good" ,"powerFailText": data.status === "PowerFail", "stopText":data.status === "Stop" || data.status === "HighTemp", "idleText":data.status === "Idle" || data.status === "Geofence","doorOpen": data.status === "DoorOpen", "noTransText":data.status === "No Transmission","overspeedText": data.status === "Overspeed","towedText": data.status === "Towed", "onlineText": data.status === "Online","yetToTransmitText": data.status === "Yet_to_transmit"}'>
            SPEED
            <!-- [ngClass]='{"runningDriverBg": data.status === "Running" , "stopDriverBg":data.status === "Stop"  , "idleDriverBg":data.status === "Idle" "powerFail": data.status === "PowerFail", "noTransDriverBg":data.status === "No Transmission", "overspeedDriverBg": data.status === "Overspeed"}' -->
          </ion-row>
        </ion-col>

        <ion-col *ngIf='data.operatorName' size="5" style="font-size:12px;font-weight: bold;padding-left: 10px;">
          <ion-icon name="person" style="padding-right:5px;color:red;"></ion-icon>{{data.operatorName}}
        </ion-col>
      </ion-row>

      <!---TodayOdometerTotalOdometer-->
      <!-- Mobile -->
      <ion-row *ngIf='pageName != "movementReport" && data.icon != "REFRIGERATOR" && myPlatform !="desktop"'
        style="padding: 0px;margin: 0px;">
        <ion-col *ngIf='pageName!= "trackHistory"' size="1" style="    margin-left: 16px;
        margin-top: 5px;">
          <ion-icon name="speedometer" style="float:right;color:grey;font-size: 27px;"></ion-icon>
        </ion-col>
        <ion-col style="padding: 0px;margin: 0px;">
          <ion-row class="odometer">
            <!-- <ion-col *ngIf='pageName != "trackHistory"' size="2.5"
              style="float: left;margin-left: 0px;padding-left: 0px; padding-right: 0px;">
              Today odometer
            </ion-col>
            <ion-col size="1">
              <ion-icon name="speedometer" style="float:right;color:grey;font-size: 15px;"></ion-icon>
            </ion-col> -->
            <ion-col size="5" style="float: left; font-size: 10px; margin-left: 0px;padding-right: 0px;">
              Total odometer
            </ion-col>

            <!-- Mobile -->
            <ion-col *ngIf='data.timeDifference && myPlatform !="desktop"' size="4.5"
              style="font-size: 17px;font-weight: bold;color:grey;line-height: 20px;" class="underline2 ion-text-start">
              {{data.timeDifference}}
            </ion-col>

            <!-- WEB -->
            <ion-col *ngIf='data.timeDifference && myPlatform =="desktop"' size="4.5"
              style="font-size: 12px;font-weight: bold;color:grey;line-height: 20px;" class="underline2 ion-text-start">
              {{data.timeDifference}}
            </ion-col>
          </ion-row>

          <ion-row style="font-size:13px;font-weight: bold;line-height: 0px;margin-top: 0px;">
            <!-- <ion-col *ngIf='pageName!= "trackHistory"' size="3.5" class="ion-text-center">
              {{data.odometer}}
            </ion-col> -->
            <ion-col size="4.7" >
              {{data.finalOdometer}}
            </ion-col>
            <!-- Mobile -->
            <ion-col *ngIf='data.timeDifference && myPlatform !="desktop"' size="5"
              style="font-size:12px; font-weight:600;padding: 5px 10px 0px;" class="ion-text-start">
              <ion-row *ngIf='data.status != "No Transmission" && data.status != "Yet_to_transmit"'>
                {{data.status | uppercase}}
              </ion-row>
              <ion-row *ngIf='data.status == "No Transmission"'>
                NO TRANS
              </ion-row>
              <ion-row *ngIf='data.status == "Yet_to_transmit"'>
                YET TO TRANS
              </ion-row>
            </ion-col>
            <!-- Web -->
            <ion-col *ngIf='data.timeDifference && myPlatform =="desktop"' size="5"
              style="font-size:10px; font-weight:600;padding: 5px 10px 0px;" class="ion-text-start">
              <ion-row *ngIf='data.status != "No Transmission" && data.status != "Yet_to_transmit"'>
                {{data.status | uppercase}}
              </ion-row>
              <ion-row *ngIf='data.status == "No Transmission"'>
                NO TRANS
              </ion-row>
              <ion-row *ngIf='data.status == "Yet_to_transmit"'>
                YET TO TRANS
              </ion-row>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Web -->
      <ion-row *ngIf='pageName != "movementReport" && data.icon != "REFRIGERATOR" && myPlatform =="desktop"'
        style="padding: 0px;margin: 0px;">
        <ion-col *ngIf='pageName!= "trackHistory"' size="1" style="    margin-left: 16px;
        margin-top: 5px;">
          <ion-icon name="speedometer" style="float:right;color:grey;font-size: 27px;"></ion-icon>
        </ion-col>
        <ion-col style="padding: 0px;margin: 0px;">
          <ion-row class="odometer">
            
            <!-- <ion-col size="2.5" class="tooltip"
              style="font-size:11px; color:grey ; float: left;margin-left: 0px;padding-left: 0px; padding-right: 0px;">
              Today
              <span class="tooltiptext">Today Odometer</span>
            </ion-col> -->
            <!-- <ion-col size="1">
              <ion-icon name="speedometer" style="float:right;color:grey;font-size: 15px;"></ion-icon>
            </ion-col> -->
            <ion-col size="6" class="tooltip"
              style="font-size:11px; color:grey ;float: left;margin-left: 0px;padding-left: 0px; padding-right: 0px;">
              Total Odometer
              <span class="tooltiptext">Total Odometer</span>
            </ion-col>
            <ion-col *ngIf='data.timeDifference' size="4.5"
              style="font-size: 15px;font-weight: 600;color:grey;line-height: 20px;" class="underline2 ion-text-start">
              {{data.timeDifference}}
            </ion-col>
          </ion-row>

          <ion-row style="font-size:11px;font-weight: bold;line-height: 0px;margin-top: 0px;">
            <!-- <ion-col size="3.5" class="ion-text-center">
              {{data.odometer}}
            </ion-col> -->
            <ion-col size="5.5" >
              {{data.finalOdometer}}
            </ion-col>
            <ion-col *ngIf='data.timeDifference' size="5" style="font-size:11px; font-weight:600;padding: 5px 10px 0px;"
              class="ion-text-start">
              <ion-row *ngIf='data.status != "No Transmission" && data.status != "Yet_to_transmit"'>
                {{data.status | uppercase}}
              </ion-row>
              <ion-row *ngIf='data.status == "No Transmission"'>
                NO TRANS
              </ion-row>
              <ion-row *ngIf='data.status == "Yet_to_transmit"'>
                YET TO TRANS
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-------------------------------OdometerEnds------------------------------------------>
      <ion-row>
        <ion-label style='font-size: 9px; font-weight:bold;margin-top: 8px;
        color: white;padding:2px 10px 2px 12px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;'
          [ngClass]='{"runningDriverBg": data.status === "Running"|| data.status === "Good", "stopDriverBg":data.status === "Stop" || data.status === "HighTemp" ,"doorOpenBg": data.status === "DoorOpen", "idleDriverBg":data.status === "Idle"  || data.status === "Geofence","powerFail": data.status === "PowerFail", "noTransDriverBg":data.status === "No Transmission", "overspeedDriverBg": data.status === "Overspeed", "towedDriverBg": data.status === "Towed", "onlineDriverBg": data.status === "Online", "yetToTransmitDriverBg": data.status === "Yet_to_transmit", "towedDriverBg": data.status === "Towed", "onlineDriverBg": data.status === "Online", "yetToTransmitDriverBg": data.status === "Yet_to_transmit"}'>
          <!-- [ngClass]='{"runningCardBorder": data.status === "Running" ,"stopCardBorder":data.status === "Stop" , "idleCardBorder":data.status === "Idle", "noTransCardBorder":data.status === "No Transmission" , "overspeedCardBorder": data.status === "Overspeed"}'        -->

          {{data.timeStamp}}
        </ion-label>

      </ion-row>


    </ion-col>
    <ion-col size='2' style="align-self: center;">
      <ion-row class="iconBackground">
        <ion-col size="6" style="padding: 0px;">
          <ion-row *ngIf='data.icon != "REFRIGERATOR"'>
            <ion-col>
              <ion-icon style="    font-size: 16px;" [ngStyle]="data.gps ? {'color':'green'} : {'color':'red'}"
                name='locate'></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf='data.icon == "REFRIGERATOR"'>
            <ion-col>
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="5mm" height="4mm" version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 347.12 296.32" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Layer_x0020_1">
                  <path [attr.fill]="iconColor[data.digitalInput2]"
                    d="M297.81 92.63l-19.12 -9.56 0.01 -63.95c0,-10.54 -8.57,-19.12 -19.12,-19.12 -7.92,0 -14.73,4.85 -17.63,11.73 -6.14,-7.17 -15.23,-11.73 -25.39,-11.73l-133.81 0c-18.44,0 -33.45,15.01 -33.45,33.46l0 229.4c0,18.45 15.01,33.46 33.46,33.46l133.8 -0.01c10.15,0 19.25,-4.56 25.39,-11.73 2.9,6.88 9.7,11.73 17.63,11.73 10.54,0 19.12,-8.57 19.12,-19.12l0 -111.75 19.12 -9.56 -0.01 -63.25zm-81.25 -73.51l-133.81 0c-7.91,0 -14.34,6.43 -14.34,14.34l0 229.4c0,7.91 6.43,14.34 14.34,14.34l133.81 -0.01c7.91,0 14.34,-6.43 14.34,-14.34l0 -229.39c0,-7.91 -6.43,-14.34 -14.34,-14.34zm-129.03 81.24l124.25 0 0 -62.13 -124.25 0 0 62.13zm33.46 138.6l57.34 0 0 -19.12 -57.34 0 0 19.12zm-38.24 -210.28l133.81 0c2.64,0 4.78,2.15 4.78,4.78l0 76.47 -9.56 0 0 9.56 9.56 -0.01 0 76.46 -23.89 0 0 -47.79 -4.78 0 0 -19.12 -28.67 0 0 19.12 -4.78 0 0 47.79 -8.7 0 3.85 -23.11 0.07 -10.34c0,-13.18 -10.72,-23.9 -23.9,-23.9 -13.18,0 -23.9,10.72 -23.9,23.9l0 9.56 3.94 23.9 -32.61 -0.01 0 -76.46 124.26 0 0 -9.56 -124.26 0.01 0 -76.47c0,-2.64 2.14,-4.78 4.78,-4.78zm86.03 129.03l19.11 0 0 38.23 -19.11 0 0 -38.23zm14.33 -9.56l-9.55 0 0 -9.56 9.55 0 0 9.56zm-66.84 23.9l28.55 0 -3.98 23.9 -20.58 -0.01 -3.99 -23.89zm-0.06 -9.56c0,-7.91 6.43,-14.34 14.34,-14.34 7.91,0 14.34,6.43 14.34,14.34l-28.68 0zm100.35 105.14l-133.81 0c-2.64,0 -4.78,-2.15 -4.78,-4.78l0 -57.35 34.19 0 36.77 0 10.29 0 38.23 0 23.89 0 0 57.35c0,2.64 -2.14,4.78 -4.78,4.78zm52.58 9.56c0,5.27 -4.29,9.56 -9.56,9.56 -5.27,0 -9.56,-4.29 -9.56,-9.56l0 -23.9 -9.56 0.01 0 9.56c0,13.18 -10.72,23.9 -23.9,23.9l-133.81 -0.01c-13.18,0 -23.9,-10.72 -23.9,-23.9l0.01 -229.39c0,-13.18 10.72,-23.9 23.9,-23.9l133.8 0c13.18,0 23.9,10.72 23.9,23.9l0 210.28 9.56 0 0 -224.62c0,-5.27 4.29,-9.56 9.56,-9.56 5.27,0 9.56,4.29 9.56,9.56l0 258.07zm19.11 -127.21l-9.56 4.78 0.01 -61 9.56 4.78 -0.01 51.44z" />
                </g>
              </svg>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col>
              <ion-icon style=' font-size: 16px;' name='cellular'
                [ngStyle]="data.gsmSignalStrength === '4' || data.gsmSignalStrength === '3' ? {'color':'green'} : data.gsmSignalStrength === '2' ? {'color':'orange'} : {'color':'red'}">
              </ion-icon>
            </ion-col> -->
            <ion-col>
              <ion-icon style='font-size: 16px;' name='battery-full'
                [ngStyle]="data.batteryvoltage == 'Very low' ? {'color':'red'} : data.batteryvoltage == 'Low' ? {'color':'orange'} : {'color':'green'}">
              </ion-icon>
            </ion-col>

          </ion-row>
          <!-- <ion-row *ngIf='data.icon == "REFRIGERATOR"'>
            <ion-col>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="5mm" height="4mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 347.12 296.32"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                 <g id="Layer_x0020_1">
                  <path [attr.fill]="iconColor[data.digitalInput2]" d="M297.81 92.63l-19.12 -9.56 0.01 -63.95c0,-10.54 -8.57,-19.12 -19.12,-19.12 -7.92,0 -14.73,4.85 -17.63,11.73 -6.14,-7.17 -15.23,-11.73 -25.39,-11.73l-133.81 0c-18.44,0 -33.45,15.01 -33.45,33.46l0 229.4c0,18.45 15.01,33.46 33.46,33.46l133.8 -0.01c10.15,0 19.25,-4.56 25.39,-11.73 2.9,6.88 9.7,11.73 17.63,11.73 10.54,0 19.12,-8.57 19.12,-19.12l0 -111.75 19.12 -9.56 -0.01 -63.25zm-81.25 -73.51l-133.81 0c-7.91,0 -14.34,6.43 -14.34,14.34l0 229.4c0,7.91 6.43,14.34 14.34,14.34l133.81 -0.01c7.91,0 14.34,-6.43 14.34,-14.34l0 -229.39c0,-7.91 -6.43,-14.34 -14.34,-14.34zm-129.03 81.24l124.25 0 0 -62.13 -124.25 0 0 62.13zm33.46 138.6l57.34 0 0 -19.12 -57.34 0 0 19.12zm-38.24 -210.28l133.81 0c2.64,0 4.78,2.15 4.78,4.78l0 76.47 -9.56 0 0 9.56 9.56 -0.01 0 76.46 -23.89 0 0 -47.79 -4.78 0 0 -19.12 -28.67 0 0 19.12 -4.78 0 0 47.79 -8.7 0 3.85 -23.11 0.07 -10.34c0,-13.18 -10.72,-23.9 -23.9,-23.9 -13.18,0 -23.9,10.72 -23.9,23.9l0 9.56 3.94 23.9 -32.61 -0.01 0 -76.46 124.26 0 0 -9.56 -124.26 0.01 0 -76.47c0,-2.64 2.14,-4.78 4.78,-4.78zm86.03 129.03l19.11 0 0 38.23 -19.11 0 0 -38.23zm14.33 -9.56l-9.55 0 0 -9.56 9.55 0 0 9.56zm-66.84 23.9l28.55 0 -3.98 23.9 -20.58 -0.01 -3.99 -23.89zm-0.06 -9.56c0,-7.91 6.43,-14.34 14.34,-14.34 7.91,0 14.34,6.43 14.34,14.34l-28.68 0zm100.35 105.14l-133.81 0c-2.64,0 -4.78,-2.15 -4.78,-4.78l0 -57.35 34.19 0 36.77 0 10.29 0 38.23 0 23.89 0 0 57.35c0,2.64 -2.14,4.78 -4.78,4.78zm52.58 9.56c0,5.27 -4.29,9.56 -9.56,9.56 -5.27,0 -9.56,-4.29 -9.56,-9.56l0 -23.9 -9.56 0.01 0 9.56c0,13.18 -10.72,23.9 -23.9,23.9l-133.81 -0.01c-13.18,0 -23.9,-10.72 -23.9,-23.9l0.01 -229.39c0,-13.18 10.72,-23.9 23.9,-23.9l133.8 0c13.18,0 23.9,10.72 23.9,23.9l0 210.28 9.56 0 0 -224.62c0,-5.27 4.29,-9.56 9.56,-9.56 5.27,0 9.56,4.29 9.56,9.56l0 258.07zm19.11 -127.21l-9.56 4.78 0.01 -61 9.56 4.78 -0.01 51.44z"/>
                 </g>
                </svg>
            </ion-col>
          </ion-row> -->
          <ion-row *ngIf='data.icon != "REFRIGERATOR"'>
            <!-- <ion-col>
              <ion-icon style='font-size: 16px;' name='battery-full'
                [ngStyle]="data.batteryvoltage == 'Very low' ? {'color':'red'} : data.batteryvoltage == 'Low' ? {'color':'orange'} : {'color':'green'}">
              </ion-icon>
            </ion-col> -->
            <ion-col>
              <!-- <ion-img src="assets/vtstrackhisIcon/acSensor.svg" class="svgSize "></ion-img>
                <ion-img src="assets/vtstrackhisIcon/acSensorOn.svg" class="svgSize "></ion-img>
                <ion-img src="assets/vtstrackhisIcon/acSensorOff.svg" class="svgSize "></ion-img> -->

              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="4.4666mm" height="5mm" version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path [attr.fill]='iconColor[data.acStatus]'
                  d="M267.33 223.54l-79.36 0c-11.55,17.25 -11.55,18.32 0,35.58l101.26 0 82.1 142.31 -145.05 0c-6.26,-11.84 -48.76,-88.57 -57.68,-95.72 -14.87,-11.92 -29.89,0.99 -29.89,13.62 0,11.66 15,32.44 20.74,42.2 8.29,14.11 14.61,27.3 23.05,39.9 -20.07,0 -40.16,0.08 -60.22,-0.01 -27,-0.12 -43.78,-1.16 -43.78,24.64 0,35.05 66.03,24.63 101.26,24.63 -5.04,9.53 -41.05,69.02 -41.05,73.89 0,26.94 25.86,28.73 39.96,4.39l44.88 -78.28 150.52 0 -76.63 131.36c-22.81,0 -45.61,0.03 -68.42,0 -22.8,-0.03 -49.26,-3.24 -49.26,19.16 0,18.83 18.42,19.37 38.27,19.2 19.16,-0.17 38.36,-0.04 57.52,-0.04 -21.02,39.72 -54.22,72.31 -32.82,95.76 6.47,7.09 16.81,8.23 27.34,8.23 22.2,0 40.2,-65.06 57.47,-76.63 2.92,12.52 36.8,73.9 49.26,73.9 10.24,0 21.9,-6.76 21.9,-19.16 0,-12.79 -36.56,-66.61 -45.82,-83.04 -8.13,-14.46 -4.33,-13.97 3.87,-27.28 13.05,-21.17 48.82,-91.33 63.84,-108.62 2.22,8.29 11.98,23.15 16.27,30.26 9.16,15.2 46.96,75.73 52.46,90.14 3.87,10.14 -6.24,21.04 -11.4,29.98l-34.3 58.98c-7.82,15.79 2.32,28.74 15.29,28.74 26.22,0 38.33,-59.87 57.47,-73.9 2.96,12.71 15.93,30.17 22.83,42.86 8.35,15.34 17.2,33.77 37.38,33.77 14.01,0 27.37,-14.39 27.37,-27.36 0,-16.08 -36.08,-60.74 -41.06,-79.37 13.65,0 65.89,7.6 75.93,4.89 9.53,-2.56 14.39,-11.28 14.39,-21.31 0,-22.79 -77.58,-20.11 -101.3,-21.86 -16.86,-1.24 -17.24,-7.93 -23.77,-20.02 -5.16,-9.56 -10.05,-16.16 -15.35,-25.69 -11.2,-20.12 -41.11,-63.33 -45.68,-82.95l155.99 0c2.62,11.24 10.11,21 15.93,30.6 6.46,10.67 11.68,20.08 17.85,31.41 5.28,9.68 10.73,23.18 20.04,29.45 14.97,10.08 28.28,-3.32 28.28,-14.83 0,-23.89 -32.86,-53.25 -38.31,-76.63 63.68,0 101.26,11.2 101.26,-30.11 0,-19.94 -29.49,-19.27 -43.77,-19.17 -20.97,0.14 -41.98,0.02 -62.96,0.02 2.36,-8.83 9.77,-17.98 14.53,-26.52 6.34,-11.4 27.43,-42.31 28.46,-53.29 1.72,-18.41 -23.33,-34.38 -41.22,-0.53 -10.38,19.64 -40.87,62.76 -45.56,80.34l-150.52 0c24.38,-46.08 54.95,-90.7 79.36,-136.84l106.74 0c11.55,-17.25 11.55,-18.32 0,-35.58l-84.84 0c5.14,-19.25 41.05,-63.32 41.05,-79.36 0,-15.16 -15.13,-27.37 -30.1,-27.37 -31.27,0 -40.9,61.86 -62.95,76.63 -3.76,-14.1 -36.34,-73.89 -52,-73.89 -33.92,0 -13.68,34.14 -4.93,48.71l32.45 55.44c4.34,7.38 5.14,7.24 2.6,13.52 -4.22,10.46 -68.2,122.44 -76.64,128.63 -5.52,-20.65 -26.81,-47.25 -37.38,-66.62l-39.25 -67.47 39.86 -69.61c3.86,-6.29 12.14,-18.68 12.14,-26.18 0,-11.83 -12.81,-18.24 -21.54,-17.67 -11.21,0.74 -15.69,10.88 -20.39,19.53 -7.09,13.06 -26.21,41.58 -29.23,52.87l-5.48 0c-1.89,-7.09 -36.61,-73.89 -51.99,-73.89 -60.76,0 -23.47,54.13 -12.53,72.74 5.37,9.13 12.96,18.61 15.26,28.52z" />

              </svg>
            </ion-col>
          </ion-row>
          <ion-row *ngIf='data.icon != "REFRIGERATOR"'>
            <!-- <ion-col>
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="4.5mm" height="5mm" version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                  <metadata id="CorelCorpID_0Corel-Layer" />
                  <path [attr.fill]='iconColor[data.powerSupplyVoltage]'
                    d="M149.68 698.49l547.76 0c14.53,0 29.85,-6.94 38.9,-17.86 2.93,-3.54 5.43,-7.24 7.33,-11.44 2.59,-5.67 4.67,-12.63 4.67,-20.78l0 -350.42c0,-17.5 -9.87,-32.89 -22.27,-41.14 -5.57,-3.7 -11.32,-6.37 -18.15,-7.72 -1.73,-0.35 -3.44,-0.68 -5.5,-0.8l-3.44 -0.23c-0.88,-0.08 0.43,-0.19 -1.12,-0.19l-555.59 0.54c-11.14,1.42 -21.6,6.55 -29.41,14.38 -1.68,1.71 -2.64,2.77 -4.12,4.64 -3.85,4.81 -6.94,11.09 -8.61,17.24 -0.62,2.26 -1.28,5.03 -1.51,6.9 -0.22,1.91 -0.24,5.12 -0.24,7.79l0 0.25 0 348.34c0,5.4 0.68,11.02 1.99,14.95l1.12 3.21c1.54,4.09 4.14,9.42 6.79,12.41l5.56 6.11c0.21,0.19 0.38,0.33 0.68,0.59 1.01,0.91 1.43,1.23 2.5,2.1 8.36,6.79 19.63,11.13 32.66,11.13zm48.4 -525.25l0 50.5 150.18 0 0 -51.74c0,-13.29 -10.57,-23.77 -24.19,-23.77l-101.38 0c-13.99,0 -24.61,10.04 -24.61,25.01zm299.54 3.77l0 45.45c0,0.98 0.28,1.28 1.26,1.28l148.5 0c1.66,0 0.94,-1.75 0.98,-6.06 0.02,-0.16 0.02,-1.09 0.02,-1.1 -0.46,-7.78 -0.02,-32.02 -0.02,-39.5 0,-12.33 -2.31,-20.84 -13.49,-26.37 -3.11,-1.52 -7.04,-2.48 -11.68,-2.48l-100.96 0c-5.47,0 -11.28,1.95 -15.07,4.94 -2.34,1.82 -4.82,4.45 -6.2,7.13 -2.69,5.17 -3.34,10.28 -3.34,16.71zm-302.77 344.15l0 -45.55 89.76 0 0 45.55 -89.76 0zm352.95 29.26l0 -61.85 -62.51 0 0 -42.55 62.51 0 0 -61.83 41.55 0 0 61.83 62.5 0 0 42.55 -62.5 0 0 61.85 -41.55 0z" />
                </g>
              </svg>
            </ion-col> -->
            <ion-col>
              <!-- <ion-img src="assets/vtstrackhisIcon/doorSensor.svg" class="svgSize"></ion-img> -->
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="4mm" height="4mm"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path [attr.fill]='iconColor[data.doorStatus]'
                    d="M345.38 609.27l155.96 0c16.44,0 13.29,31.17 14.11,41.86 4.42,57.65 15.34,63.31 -38.45,69.76 -44.39,5.32 -90.5,7.16 -134.42,-4.85 -24.92,-6.82 -12.97,-28.06 -11.2,-64.79 0.52,-10.81 -2.36,-41.98 14,-41.98zm-45.98 27.99l0 -103.97c-0.01,-7.28 -2.77,-31.99 3.99,-31.99 6.98,0 16,2.86 16,9.99l0 67.98c0,17.41 -11.11,51.48 -19.99,57.99zm249.92 -63.98c0,10.18 -1.7,13.08 -1.9,20.11 -0.22,7.53 1.9,11.38 1.9,21.87 0,11.1 -2,11.86 -2,22 -26.4,-30.38 -19.99,-86.74 -19.99,-125.97 0,-7.13 9.02,-9.99 16,-9.99 8.82,0 4.17,49.43 4.09,52.1 -0.23,7.95 1.9,9.53 1.9,19.88zm-249.92 -235.94c0.31,0.36 0.75,0.48 0.87,1.13l3.16 4.83c8.69,15.53 15.96,35.28 15.96,54.03l0 81.97c0,8.82 -5.51,5.78 -19.94,3.66l-0.05 -145.62zm249.92 35.99c0,10.18 -1.7,13.09 -1.9,20.11 -0.23,7.96 1.9,9.53 1.9,19.88 0,10.18 -1.7,13.09 -1.9,20.11 -0.23,7.96 1.9,9.53 1.9,19.88 0,12.68 -2,16.69 -2,29.99 -25.3,0 -19.99,23.98 -19.99,-89.97 0,-11.31 3.56,-19.95 6.72,-29.28 3.59,-10.6 9.16,-17.63 11.27,-26.71l4 0c0,10.12 -2.15,9.32 -1.9,17.88 0.21,7.13 1.9,8.21 1.9,18.11zm-127.96 -15.99c-16.34,0 -79.77,5.26 -87.08,1.24 -13.22,-7.25 -12.32,-45.54 -15.77,-70.35 -10.2,-73.3 -10.26,-65.77 34.7,-71.02 40.38,-4.72 56.07,-3.83 96.14,-3.83 14.23,0 70.8,5.34 78.73,9.27 10.9,5.4 4.82,19.19 2.68,32.15l-12.9 75.07c-8.44,44.08 -12.33,27.47 -96.5,27.47zm-255.93 101.97c7.91,4.18 16.37,10.88 24,15.99 5.25,-9.93 13.58,-22.14 20.55,-31.42l59.84 -88.12c1.7,-2.3 2.14,-2.75 3.58,-4.42l0.02 123.98c0.17,22.7 -0.21,18.32 -9.61,32.38 -4,5.96 -64.51,92.52 -66.39,99.57 4.54,6.18 15.29,11.5 22,15.99l53.98 -77.98 -0.07 212.02c-0.09,23.49 12.3,37.91 34.06,37.91l233.94 0c21.97,0 32.14,-17.14 32.06,-37.91l-0.07 -212.02 53.98 77.98c5.82,-3.89 18.31,-10.97 22,-15.99 -1.61,-6.02 -3.97,-7.84 -7.44,-12.56 -3.45,-4.71 -4.43,-7.19 -7.97,-12.02l-50.86 -75.11c-8.57,-11.55 -9.94,-10.57 -9.75,-30.24l0.04 -126 5.22 6.77c2.14,3.09 3.07,4.65 4.77,7.23 3.63,5.52 6.89,9.38 10.63,15.36 6.85,10.95 13.79,20.25 20.97,31.02 6.99,10.49 12.93,19.53 19.97,30.01 4.03,6 6.66,9.41 10.54,15.46 3.56,5.53 7.94,8.85 9.87,16.11 9.22,-0.76 19.29,-9.5 26,-13.99 -11.05,-16.49 -21.79,-31.69 -33.19,-48.79 -5.86,-8.78 -10.17,-15.2 -15.99,-24 -3.23,-4.86 -5.03,-7.24 -8.26,-11.74 -3.63,-5.06 -5.14,-8.16 -8.83,-13.16 -11.65,-15.79 -21.61,-32.33 -32.91,-49.07 -10.13,-15.02 -8.92,-9.6 -8.8,-33.18l0.01 -123.97c0,-29.75 -1.11,-83.32 -28.19,-95.79 -6.47,-2.98 -102.93,-8.19 -117.77,-8.19l-117.54 6.43c-34.81,4.51 -36.42,63.1 -36.42,89.55l0.12 146.08c-0.76,13.63 -45.46,72.87 -57.3,90.65l-50.79 75.18z" />
              </svg>
            </ion-col>

          </ion-row>

        </ion-col>
        <ion-col size="4" style="padding: 0px;">
          <ion-row>
            <ion-col style="padding: 3.5px">
              <ion-icon style=' font-size: 16px;' name='cellular'
                [ngStyle]="data.gsmSignalStrength === '5' ||data.gsmSignalStrength === '4' || data.gsmSignalStrength === '3' ? {'color':'green'} : data.gsmSignalStrength === '2' ? {'color':'orange'} : {'color':'red'}">
              </ion-icon>
            </ion-col>
            <!-- <ion-col>
              <ion-img src="assets/vtstrackhisIcon/acSensor.svg" class="svgSize "></ion-img>
            </ion-col> -->
          </ion-row>
          <ion-row>
            <ion-col>
              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="4.5mm" height="5mm" version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                  <metadata id="CorelCorpID_0Corel-Layer" />
                  <path [attr.fill]='iconColor[data.powerSupplyVoltage]'
                    d="M149.68 698.49l547.76 0c14.53,0 29.85,-6.94 38.9,-17.86 2.93,-3.54 5.43,-7.24 7.33,-11.44 2.59,-5.67 4.67,-12.63 4.67,-20.78l0 -350.42c0,-17.5 -9.87,-32.89 -22.27,-41.14 -5.57,-3.7 -11.32,-6.37 -18.15,-7.72 -1.73,-0.35 -3.44,-0.68 -5.5,-0.8l-3.44 -0.23c-0.88,-0.08 0.43,-0.19 -1.12,-0.19l-555.59 0.54c-11.14,1.42 -21.6,6.55 -29.41,14.38 -1.68,1.71 -2.64,2.77 -4.12,4.64 -3.85,4.81 -6.94,11.09 -8.61,17.24 -0.62,2.26 -1.28,5.03 -1.51,6.9 -0.22,1.91 -0.24,5.12 -0.24,7.79l0 0.25 0 348.34c0,5.4 0.68,11.02 1.99,14.95l1.12 3.21c1.54,4.09 4.14,9.42 6.79,12.41l5.56 6.11c0.21,0.19 0.38,0.33 0.68,0.59 1.01,0.91 1.43,1.23 2.5,2.1 8.36,6.79 19.63,11.13 32.66,11.13zm48.4 -525.25l0 50.5 150.18 0 0 -51.74c0,-13.29 -10.57,-23.77 -24.19,-23.77l-101.38 0c-13.99,0 -24.61,10.04 -24.61,25.01zm299.54 3.77l0 45.45c0,0.98 0.28,1.28 1.26,1.28l148.5 0c1.66,0 0.94,-1.75 0.98,-6.06 0.02,-0.16 0.02,-1.09 0.02,-1.1 -0.46,-7.78 -0.02,-32.02 -0.02,-39.5 0,-12.33 -2.31,-20.84 -13.49,-26.37 -3.11,-1.52 -7.04,-2.48 -11.68,-2.48l-100.96 0c-5.47,0 -11.28,1.95 -15.07,4.94 -2.34,1.82 -4.82,4.45 -6.2,7.13 -2.69,5.17 -3.34,10.28 -3.34,16.71zm-302.77 344.15l0 -45.55 89.76 0 0 45.55 -89.76 0zm352.95 29.26l0 -61.85 -62.51 0 0 -42.55 62.51 0 0 -61.83 41.55 0 0 61.83 62.5 0 0 42.55 -62.5 0 0 61.85 -41.55 0z" />
                </g>
              </svg>
            </ion-col>
            <!-- <ion-img src="assets/vtstrackhisIcon/doorSensor.svg" class="svgSize"></ion-img> -->

          </ion-row>
          <!-- <ion-row *ngIf='data.icon == "REFRIGERATOR"'>
              <ion-col>
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="5mm" height="4mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 347.12 296.32"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Layer_x0020_1">
  <path [attr.fill]="iconColor[data.powerSupplyVoltage]" d="M81.84 110.62l0 166.81c0,4.76 3.85,8.63 8.62,8.63l9.84 0 0 0.61c0,4.76 3.87,8.62 8.62,8.62 4.76,0 8.63,-3.86 8.63,-8.62l0 -0.61 112.02 0 0 0.61c0,4.76 3.86,8.62 8.63,8.62 4.75,0 8.61,-3.86 8.61,-8.62l0 -0.61 9.85 0c4.76,0 8.62,-3.87 8.62,-8.63l0 -166.81 -183.44 0zm140.35 81.83c-0.56,-2.36 -2.28,-4.25 -4.58,-5.01l-34.21 -11.41 24.3 -48.59c1.52,-3.06 0.61,-6.78 -2.17,-8.79 -2.78,-1.98 -6.59,-1.68 -9.01,0.74l-69.73 69.73c-1.7,1.71 -2.4,4.18 -1.85,6.52 0.56,2.36 2.29,4.26 4.58,5.02l34.22 11.41 -24.31 48.59c-1.52,3.06 -0.6,6.78 2.16,8.77 2.78,2 6.59,1.7 9.03,-0.73l69.72 -69.72c1.7,-1.72 2.4,-4.19 1.85,-6.53zm43.09 -99.07l0 -83.71c0,-4.77 -3.86,-8.63 -8.62,-8.63l-166.2 0c-4.77,0 -8.62,3.86 -8.62,8.63l0 83.71 183.44 0zm-137.88 -36.93l18.46 0c4.75,0 8.62,3.85 8.62,8.61 0,4.76 -3.87,8.63 -8.62,8.63l-18.46 0c-4.77,0 -8.63,-3.87 -8.63,-8.63 0,-4.76 3.86,-8.61 8.63,-8.61l0 0z"/>
 </g>
</svg>
              </ion-col>
            </ion-row> -->
          <ion-row *ngIf='data.icon != "REFRIGERATOR"'>
            <ion-col>
              <ion-img src="assets/vtstrackhisIcon/seatBelt.svg" class="svgSize"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row *ngIf='data.icon != "REFRIGERATOR"'>

            <ion-col>
              <ion-icon [ngStyle]="data.engineId == 'true' ? {'color':'green'} : {'color':'red'}" name="key"></ion-icon>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="address">
    <ion-col size=12 style="padding-top: 0px; padding-bottom: 0px;">
      <ion-row *ngIf="data.location">
        {{data.location}}
      </ion-row>
      <ion-row *ngIf="!data.location">
        <ion-spinner name="dots"></ion-spinner>
      </ion-row>
    </ion-col>
  </ion-row> -->

  <ion-row *ngIf="data.isTempSensor">
    <ion-col size=12 style="padding: 0px;">

      <ion-row>
        <ion-col style="padding: 2px;" *ngIf="data.temprature1Name">
          <ion-row style="font-size: 9px;
          justify-content: center;">
            {{data.temprature1Name}}
          </ion-row>
          <ion-row style="font-weight: bold; 
          font-size: 11px;">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="27" viewBox="0 0 512 512" width="23"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path fill="gray"
                  d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
              </g>
            </svg> {{data.temprature1Val}} <sub style="font-size: 5px;">oC</sub>
          </ion-row>
        </ion-col>

        <ion-col style="padding: 2px;" *ngIf="data.temprature2Name != null">
          <ion-row style="font-size: 9px;
            justify-content: center;">
            {{data.temprature2Name}}
          </ion-row>
          <ion-row style="font-weight: bold;
            font-size: 11px;">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="27" viewBox="0 0 512 512" width="23"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path fill="gray"
                  d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
              </g>
            </svg> {{data.temprature2Val}} <sub style="font-size: 5px;">oC</sub>
          </ion-row>
        </ion-col>

        <ion-col style="padding: 2px;" *ngIf="data.temprature3Name != null">
          <ion-row style="font-size: 9px;
              justify-content: center;">
            {{data.temprature3Name}}
          </ion-row>
          <ion-row style="font-weight: bold;
              font-size: 11px;">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="27" viewBox="0 0 512 512" width="23"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path fill="gray"
                  d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
              </g>
            </svg>{{data.temprature3Val}} <sub style="font-size: 5px;">oC</sub>
          </ion-row>
        </ion-col>

        <ion-col style="padding: 2px;" *ngIf="data.temprature4Name != null">
          <ion-row style="font-size: 9px;
                justify-content: center;">
            {{data.temprature4Name}}
          </ion-row>
          <ion-row style="font-weight: bold;
                font-size: 11px;">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="27" viewBox="0 0 512 512" width="23"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path fill="gray"
                  d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
              </g>
            </svg> {{data.temprature4Val}} <sub style="font-size: 5px;">oC</sub>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card-content>

<ion-card-content style="padding:0px; " *ngIf='data.icon=="REFRIGERATOR"'>
  <ion-row>
    <ion-col style="padding: 0px;" size='12'>
      <ion-row class="platenoweb"
        style="justify-content:center;padding: 2px; font-size: 14px;     border-bottom: 1px solid #ded9d9;">
        <ion-col style="padding:0px;text-align: center; " size=10>
          {{data.plateNo}}
        </ion-col>
        <ion-col style="padding:0px; text-align: center;" size=2>
          <ion-icon [ngStyle]="data.chkStatus == true? {'color':'red'}: {'color':'green'} " style="font-size: 15px;"
            name="disc"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="data.temprature1Name" style=" border-bottom: 1px solid #ded9d9;">
    <ion-col style="padding: 0px;  border-right: 1px solid #ded9d9;" size=3>
      <ion-row style="place-content: center;
        font-size: 7px;">
        MIN
      </ion-row>
      <ion-row style="font-size: 17px;
        place-content: center;
        font-weight: bold;">
        {{data.temp1Min}}<sub style="font-size: 5px;">oC</sub>
      </ion-row>
    </ion-col>
    <ion-col style="padding: 0px;" size=6>
      <ion-row>
        <ion-col style="padding: 0px; align-items: center;" *ngIf="data.temprature1Name">
          <ion-row style="font-weight: bold; align-items: center; justify-content: center;
          font-size: x-large;">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="30" viewBox="0 0 300 300" width="34"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path [attr.fill]="getTempStatusColor(data.temprature1Val, data.temp1Min, data.temp1Maxx)"
                  d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
              </g>
            </svg> {{data.temprature1Val}} <sub style="font-size: 7px; top: -7px;">oC</sub>
          </ion-row>
          <!-- <ion-row style="font-size: 9px;
          justify-content: center;">
            {{data.temprature1Name}}
          </ion-row> -->
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col style="padding: 0px;  border-left: 1px solid #ded9d9;" size=3>
      <ion-row style="place-content: center;
        font-size: 7px;">
        MAX
      </ion-row>
      <ion-row style="font-size: 17px;
        place-content: center;
        font-weight: bold;">
        {{data.temp1Maxx}} <sub style="font-size: 5px;">oC</sub>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="data.temprature2Name" style=" border-bottom: 1px solid #ded9d9;">
    <ion-col style="padding: 0px;  border-right: 1px solid #ded9d9;" size=3>
      <ion-row style="place-content: center;
        font-size: 7px;">
        MIN
      </ion-row>
      <ion-row style="font-size: 17px;
        place-content: center;
        font-weight: bold;">
        {{data.temp2Min}}<sub style="font-size: 5px;">oC</sub>
      </ion-row>
    </ion-col>
    <ion-col style="padding: 0px;" size=6>
      <ion-row>
        <ion-col style="padding: 0px; align-items: center;" *ngIf="data.temprature2Name">
          <ion-row style="font-weight: bold; align-items: center; justify-content: center;
          font-size: x-large;">
            <svg id="Layer_1" enable-background="new 0 0 512 512" height="30" viewBox="0 0 300 300" width="34"
              xmlns="http://www.w3.org/2000/svg">
              <g>
                <path [attr.fill]="getTempStatusColor(data.temprature2Val, data.temp2Min, data.temp2Maxx)"
                  d="M106.97 157.25c-12.05,6.23 -19.65,13.84 -26.18,25.41 -10.18,18.03 -9.28,42.57 2.26,60.54 4.45,6.93 5.94,7.47 10.28,12.14 0.69,0.74 1.13,0.93 1.95,1.63 32.45,28.01 85.66,11.91 96.48,-31 5.4,-21.43 -1.24,-43.65 -16.21,-57.83 -3.55,-3.36 -10.78,-9.62 -15.21,-10.77 -0.33,-38.04 -0.02,-76.53 -0.02,-114.66 0,-6.05 0.63,-16.87 -0.69,-22.32 -6.72,-27.56 -45.41,-26.7 -51.83,-0.39 -1.47,6.04 -0.8,36.73 -0.8,45.13 0,15.3 0,30.6 0,45.9 0,15.17 0.49,31.16 -0.03,46.22zm60.18 -36.75c-1.43,0.54 -2.49,2.15 -1.5,4.13 0.82,1.63 2.55,1.41 4.73,1.4 2.08,-0.01 10.61,0.25 11.92,-0.22 1.33,-0.48 2.29,-2.32 1.31,-4.14 -0.84,-1.55 -2.56,-1.4 -4.68,-1.39 -2.3,0.02 -10.28,-0.34 -11.78,0.22zm13.2 -73.96c-2.08,0 -12.64,-0.46 -14.06,0.61 -0.89,0.67 -1.43,2.28 -0.58,3.77 1.16,2.04 5.52,1.35 8.23,1.35 3.05,0 11.84,1.35 9.84,-4.05 -0.47,-1.27 -1.61,-1.68 -3.43,-1.68zm-13.07 55.54c-1.53,0.63 -2.71,1.86 -1.69,4.11 0.71,1.57 2.68,1.44 4.79,1.42 2.27,-0.01 10.37,0.28 11.96,-0.27 1.42,-0.49 2.3,-2.43 1.25,-4.16 -1.55,-2.57 -16.3,-1.1 -16.31,-1.1zm13.07 -37.12l-9.25 -0.01c-2.74,0 -7,-0.05 -5.64,3.96 0.92,2.67 5.38,1.79 8.13,1.79 3.15,0.01 11.99,1.47 10.23,-4.01 -0.45,-1.4 -1.56,-1.73 -3.47,-1.73zm-13.18 -36.63c-2.77,1.08 -2.43,4.93 0.41,5.44 1.86,0.34 26.93,0.21 27.82,-0.2 2.3,-1.04 1.99,-4.81 -0.55,-5.36l-27.68 0.12zm24.92 110.4l-21.69 0c-2.33,-0.01 -4.22,-0.13 -4.88,1.65 -2.23,6.01 9.21,4.06 15.54,4.06 4.01,0 9.3,0.3 13.16,0 3.26,-0.26 5.36,-5.71 -2.13,-5.71zm-0.35 -55.31l-21.36 0c-2.11,0 -4.16,-0.21 -4.89,1.79 -2.17,5.89 9.92,3.95 15.92,3.95 5.99,0 17.93,1.91 15.38,-4.15 -0.77,-1.85 -2.69,-1.59 -5.05,-1.59zm-70.44 83.55c-5.24,1.36 -10.53,4.07 -14.19,6.76 -1.26,0.93 -1.67,1.27 -2.8,2.19 -31.76,25.97 -14.4,80.76 29.42,80.72 23.62,-0.02 42.08,-17.66 45.15,-38.92 1.91,-13.21 -1.8,-24.47 -7.93,-33.23 -4.37,-6.23 -14.1,-15.42 -24.92,-17.46 0.08,-6.98 0.49,-16.35 -0.03,-23.11 -1.14,-15.07 -23.2,-14.93 -24.62,-0.45 -0.66,6.68 -0.07,16.48 -0.08,23.5zm43.22 40.5c-4.78,1.86 -0.71,5.32 -4.94,14.8 -4.14,9.26 -12.89,15.91 -23.08,16.79 -3.29,0.28 -6.1,0.07 -6.57,3.38 -1.23,8.57 16.44,2.31 20.95,-0.02 4.09,-2.12 8.54,-6.08 10.8,-9.14 1.54,-2.08 2.62,-3.45 3.91,-6.04 1.16,-2.33 2.05,-4.45 2.79,-7.19 0.7,-2.62 1.2,-5.74 1.14,-8.65 -0.06,-2.78 -2.08,-5.08 -5,-3.93zm-51.78 -46.54c-2.4,0.79 -5.66,2.7 -7.74,3.94l-5.21 3.69c-0.81,0.59 -0.91,0.85 -1.68,1.51 -13.96,12.01 -21.81,32.08 -17.56,51.85 2.39,11.13 5.9,16.15 11.75,24.15 0.71,0.97 2.1,2.18 2.97,3.07 0.57,0.58 0.9,0.83 1.47,1.38 28.47,27.79 80.57,14.49 89.88,-27.86 4.63,-21.08 -3.04,-39.09 -17.16,-52.34 -2.74,-2.57 -10.16,-8.2 -14.91,-9.28 0.33,-14.51 0.02,-29.4 0.02,-43.96l0 -88.25c0.01,-9.93 -3.72,-17.09 -11.82,-21.11 -12.52,-6.2 -30.02,1.4 -30.02,20.75l0.01 132.46z" />
              </g>
            </svg> {{data.temprature2Val}} <sub style="font-size: 7px; top: -7px;">oC</sub>
          </ion-row>
          <!-- <ion-row style="font-size: 9px;
          justify-content: center;">
            {{data.temprature1Name}}
          </ion-row> -->
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col style="padding: 0px;  border-left: 1px solid #ded9d9;" size=3>
      <ion-row style="place-content: center;
        font-size: 7px;">
        MAX
      </ion-row>
      <ion-row style="font-size: 17px;
        place-content: center;
        font-weight: bold;">
        {{data.temp2Maxx}}<sub style="font-size: 5px;">oC</sub>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row style=" align-items: center;">
    <ion-col size=3 style="padding: 0px;   border-right: 1px solid #ded9d9;   text-align: center;">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="7mm" height="7mm" version="1.1"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 347.12 296.32" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Layer_x0020_1">
          <path [attr.fill]="iconColor[data.digitalInput2]"
            d="M297.81 92.63l-19.12 -9.56 0.01 -63.95c0,-10.54 -8.57,-19.12 -19.12,-19.12 -7.92,0 -14.73,4.85 -17.63,11.73 -6.14,-7.17 -15.23,-11.73 -25.39,-11.73l-133.81 0c-18.44,0 -33.45,15.01 -33.45,33.46l0 229.4c0,18.45 15.01,33.46 33.46,33.46l133.8 -0.01c10.15,0 19.25,-4.56 25.39,-11.73 2.9,6.88 9.7,11.73 17.63,11.73 10.54,0 19.12,-8.57 19.12,-19.12l0 -111.75 19.12 -9.56 -0.01 -63.25zm-81.25 -73.51l-133.81 0c-7.91,0 -14.34,6.43 -14.34,14.34l0 229.4c0,7.91 6.43,14.34 14.34,14.34l133.81 -0.01c7.91,0 14.34,-6.43 14.34,-14.34l0 -229.39c0,-7.91 -6.43,-14.34 -14.34,-14.34zm-129.03 81.24l124.25 0 0 -62.13 -124.25 0 0 62.13zm33.46 138.6l57.34 0 0 -19.12 -57.34 0 0 19.12zm-38.24 -210.28l133.81 0c2.64,0 4.78,2.15 4.78,4.78l0 76.47 -9.56 0 0 9.56 9.56 -0.01 0 76.46 -23.89 0 0 -47.79 -4.78 0 0 -19.12 -28.67 0 0 19.12 -4.78 0 0 47.79 -8.7 0 3.85 -23.11 0.07 -10.34c0,-13.18 -10.72,-23.9 -23.9,-23.9 -13.18,0 -23.9,10.72 -23.9,23.9l0 9.56 3.94 23.9 -32.61 -0.01 0 -76.46 124.26 0 0 -9.56 -124.26 0.01 0 -76.47c0,-2.64 2.14,-4.78 4.78,-4.78zm86.03 129.03l19.11 0 0 38.23 -19.11 0 0 -38.23zm14.33 -9.56l-9.55 0 0 -9.56 9.55 0 0 9.56zm-66.84 23.9l28.55 0 -3.98 23.9 -20.58 -0.01 -3.99 -23.89zm-0.06 -9.56c0,-7.91 6.43,-14.34 14.34,-14.34 7.91,0 14.34,6.43 14.34,14.34l-28.68 0zm100.35 105.14l-133.81 0c-2.64,0 -4.78,-2.15 -4.78,-4.78l0 -57.35 34.19 0 36.77 0 10.29 0 38.23 0 23.89 0 0 57.35c0,2.64 -2.14,4.78 -4.78,4.78zm52.58 9.56c0,5.27 -4.29,9.56 -9.56,9.56 -5.27,0 -9.56,-4.29 -9.56,-9.56l0 -23.9 -9.56 0.01 0 9.56c0,13.18 -10.72,23.9 -23.9,23.9l-133.81 -0.01c-13.18,0 -23.9,-10.72 -23.9,-23.9l0.01 -229.39c0,-13.18 10.72,-23.9 23.9,-23.9l133.8 0c13.18,0 23.9,10.72 23.9,23.9l0 210.28 9.56 0 0 -224.62c0,-5.27 4.29,-9.56 9.56,-9.56 5.27,0 9.56,4.29 9.56,9.56l0 258.07zm19.11 -127.21l-9.56 4.78 0.01 -61 9.56 4.78 -0.01 51.44z" />
        </g>
      </svg>
    </ion-col>
    <ion-col size=3 style="padding: 0px;   border-right: 1px solid #ded9d9;   text-align: center;">
      <ion-icon style='font-size: 24px;' name='battery-full'
        [ngStyle]="data.batteryvoltage == 'Very low' ? {'color':'red'} : data.batteryvoltage == 'Low' ? {'color':'orange'} : {'color':'green'}">
      </ion-icon>
    </ion-col>
    <ion-col size=3 style="padding: 0px;  border-right: 1px solid #ded9d9;    text-align: center;">
      <ion-icon style=' font-size: 24px;' name='cellular'
        [ngStyle]="data.gsmSignalStrength === '4' || data.gsmSignalStrength === '3' ? {'color':'green'} : data.gsmSignalStrength === '2' ? {'color':'orange'} : {'color':'red'}">
      </ion-icon>
    </ion-col>
    <ion-col size=3 style="padding: 0px;    border-right: 1px solid #ded9d9;  text-align: center;">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="7mm" height="7mm" version="1.1"
                      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                      viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g>
                        <metadata id="CorelCorpID_0Corel-Layer" />
                        <path [attr.fill]='iconColor[data.powerSupplyVoltage]'
                          d="M149.68 698.49l547.76 0c14.53,0 29.85,-6.94 38.9,-17.86 2.93,-3.54 5.43,-7.24 7.33,-11.44 2.59,-5.67 4.67,-12.63 4.67,-20.78l0 -350.42c0,-17.5 -9.87,-32.89 -22.27,-41.14 -5.57,-3.7 -11.32,-6.37 -18.15,-7.72 -1.73,-0.35 -3.44,-0.68 -5.5,-0.8l-3.44 -0.23c-0.88,-0.08 0.43,-0.19 -1.12,-0.19l-555.59 0.54c-11.14,1.42 -21.6,6.55 -29.41,14.38 -1.68,1.71 -2.64,2.77 -4.12,4.64 -3.85,4.81 -6.94,11.09 -8.61,17.24 -0.62,2.26 -1.28,5.03 -1.51,6.9 -0.22,1.91 -0.24,5.12 -0.24,7.79l0 0.25 0 348.34c0,5.4 0.68,11.02 1.99,14.95l1.12 3.21c1.54,4.09 4.14,9.42 6.79,12.41l5.56 6.11c0.21,0.19 0.38,0.33 0.68,0.59 1.01,0.91 1.43,1.23 2.5,2.1 8.36,6.79 19.63,11.13 32.66,11.13zm48.4 -525.25l0 50.5 150.18 0 0 -51.74c0,-13.29 -10.57,-23.77 -24.19,-23.77l-101.38 0c-13.99,0 -24.61,10.04 -24.61,25.01zm299.54 3.77l0 45.45c0,0.98 0.28,1.28 1.26,1.28l148.5 0c1.66,0 0.94,-1.75 0.98,-6.06 0.02,-0.16 0.02,-1.09 0.02,-1.1 -0.46,-7.78 -0.02,-32.02 -0.02,-39.5 0,-12.33 -2.31,-20.84 -13.49,-26.37 -3.11,-1.52 -7.04,-2.48 -11.68,-2.48l-100.96 0c-5.47,0 -11.28,1.95 -15.07,4.94 -2.34,1.82 -4.82,4.45 -6.2,7.13 -2.69,5.17 -3.34,10.28 -3.34,16.71zm-302.77 344.15l0 -45.55 89.76 0 0 45.55 -89.76 0zm352.95 29.26l0 -61.85 -62.51 0 0 -42.55 62.51 0 0 -61.83 41.55 0 0 61.83 62.5 0 0 42.55 -62.5 0 0 61.85 -41.55 0z" />
                      </g>
                    </svg> -->
      <ion-icon style=' font-size: 24px;' name='ios-flash'
        [ngStyle]="data.powerSupplyVoltage == 'null'? {'color':'#838496'} :data.powerSupplyVoltage == 'ON'||data.powerSupplyVoltage == 'on'? {'color':'green'}: {'color':'red'} ">
      </ion-icon>
    </ion-col>
  </ion-row>
  <ion-row style="justify-content: center;"
    [ngClass]='{"runningDriverBg": data.status === "Running"|| data.status === "Good", "stopDriverBg":data.status === "Stop" || data.status === "HighTemp" ,"doorOpenBg": data.status === "DoorOpen", "idleDriverBg":data.status === "Idle"  || data.status === "Geofence","powerFail": data.status === "PowerFail", "noTransDriverBg":data.status === "No Transmission", "overspeedDriverBg": data.status === "Overspeed", "towedDriverBg": data.status === "Towed", "onlineDriverBg": data.status === "Online", "yetToTransmitDriverBg": data.status === "Yet_to_transmit", "towedDriverBg": data.status === "Towed", "onlineDriverBg": data.status === "Online", "yetToTransmitDriverBg": data.status === "Yet_to_transmit"}'>
    <ion-label style='font-size: 10px; font-weight:bold;
      color: white;padding:2px 10px 2px 12px;'>
      <!-- [ngClass]='{"runningCardBorder": data.status === "Running" ,"stopCardBorder":data.status === "Stop" , "idleCardBorder":data.status === "Idle", "noTransCardBorder":data.status === "No Transmission" , "overspeedCardBorder": data.status === "Overspeed"}'        -->

      {{data.timeStamp}}
    </ion-label>

  </ion-row>

  <!-- <ion-row class="address">
      <ion-col size=12 style="padding-top: 0px; padding-bottom: 0px;">
        <ion-row *ngIf="data.location">
          {{data.location}}
        </ion-row>
        <ion-row *ngIf="!data.location">
          <ion-spinner name="dots"></ion-spinner>
        </ion-row>
      </ion-col>
    </ion-row> -->
</ion-card-content>