
<ion-row>
  <ion-col size="6">
    <ion-card>
      <ion-card-header>
        
        <ion-row style="margin-left: 20%;
        margin-top: 3%;">
    <ion-col  size="6" >   <ion-searchbar showCancelButton searchIcon="search" animated cancel-button-icon (ionChange)="hide($event)" (ionCancel)="hideSearch()" style="width: 125%;margin-left: -57px;"    [(ngModel)]="searchTerm" placeholder="enter your imei" ></ion-searchbar></ion-col>
    <!-- <ion-col  size="6" style="border: 1px solid grey;"><ion-input placeholder="Enter the ImeiNo" (ionChange)="hide()" [(ngModel)]="imeiNo"></ion-input></ion-col> -->
      <ion-col size="4" ><ion-button (click)="submit()" [disabled]='show'>Submit</ion-button></ion-col>
      </ion-row>

      </ion-card-header>
      <ion-card-content>
        
        <ion-row *ngFor='let imei of imei' style="margin-left: 20%;
        margin-top: 3%;" >
          <ion-col size="12" size-lg="6" class='input-label' (click)="submit(imei)">
              <ion-label >{{imei}}</ion-label>
          </ion-col>
          
        </ion-row>
      </ion-card-content> 
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card>
      <ion-card-header>
      <ion-card>
        <ion-row style="margin-left: 20%;
        margin-top: 3%;"><ion-col size="12">{{data.rawData}}</ion-col>
        
      </ion-row>
    </ion-card>
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngFor='let details of data.packetItems'>
          <ion-col size="6" size-lg="6" class='input-label'>
              <ion-label>{{details.packetName}}</ion-label>
          </ion-col>
          <ion-col size="6" size-lg="6" size-sm="12" size-md="6" size-sm="8">
            <ion-item class="input-item" >
            <ion-label  *ngIf='details.packetValue != "yes" && details.packetValue != "no"'>{{details.packetValue}}
            </ion-label>
          
      <ion-label *ngIf="details.packetValue == 'yes'"> <ion-icon name="checkmark-circle" style="color:green" ></ion-icon></ion-label>
           
        
       <ion-label  *ngIf="details.packetValue == 'no'"><ion-icon name="close-circle" style="color:red" ></ion-icon></ion-label>
      
        </ion-item>
        </ion-col>
        </ion-row>
      </ion-card-content> 
    </ion-card>



  </ion-col>
</ion-row>
