.input-item{
    // border:1px solid #f3e3f6;
    border:1px  ;
    border-radius: 5px;
    height: 40px;
    line-height: 19px;
    
}   
.input-label{
text-align: center;
font-size: 20px;
padding-top: 14px;
}