// .arrow{
//     padding: 10px 0px 0px 13px;color:gray;
//   }

//   .ion-padding,
// [padding] {
//   padding-left: unset;
//   padding-right: unset;
//   -webkit-padding-start: var(--ion-padding, 16px);
//   padding-inline-start: var(--ion-padding, 0px);
//   -webkit-padding-end: var(--ion-padding, -16px);
//   padding-inline-end: var(--ion-padding, 13px);
//   padding-bottom: 8px;
// }

//   .initialMargin{
//       margin-left: 10px;
//   }
//   .avatarSize{
//     border:1px solid gray;
//     height: 23px;
//     width:23px;
//     padding: 2px;
//     text-align: center;
//     margin: auto;
//     padding: auto;
//   }
//   .borderRight{
//     border-right: 1px solid rgb(226, 224, 224);
//     font-size: 13px;
//     padding-left: 7px;
//   }
//   .alertDiscription{
//     font-size: 8px;
//     padding-top: 5px;
//   }
//   .container{
//     margin:0px;
//     padding-top:1px;
//   }
//   .containerOverspeed{
//     margin:0px;
//     padding-top:5px;
//   }
//   .submitBtn{
//     font-size: 10px;
//     height: 16px;
//     margin-right: 17px;
//     line-height: 0px;
//   }
//   .infocircle{
//     color:blue;
//     font-size:14px;
//     padding-left:6px;
//   }
.arrow{
  padding: 10px 0px 0px 13px;color:gray;
}
//   .tooglebtn{
//     padding-left:8px;
//   }
// .initialMargin{
//     margin-left: 10px;
// }
.avatarSize{
  border:1px solid gray;
  height: 23px;
  width:23px;
  text-align: center;
  margin: auto;
  padding: auto;
}
.borderRight{
  border-right: 1px solid rgb(226, 224, 224);
  font-size: 13px;
  padding-left: 7px;
}
.alertDiscription{
  font-size: 8px;
  padding-top: 5px;
}
.container{
  margin:0px;
  padding-top:1px;
}
.containerOverspeed{
  margin:0px;
  padding-top:5px;
}
.submitBtn{
  font-size: 10px;
  height: 16px;
  margin-right: 17px;
  line-height: 0px;
}
.infocircle{
  color:blue;
  font-size:14px;
  padding-left:6px;
}
.padding{
  padding: 0px;
}