<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" (click)="getBack()"></ion-icon>
    <ion-title style="text-align: center;">Location Picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size='6' style="position: absolute; z-index: 12; top:9%">
    <ion-searchbar showCancelButton="never" [(ngModel)]="address" (ionChange)="getAddressLatlng(address)"
      placeholder="Search"></ion-searchbar>
  </ion-col>
  <div id="latlong" style="height: 90%;" #mapElement></div>
  <ion-row>
    <ion-col size=6>
      <ion-row>
        <ion-col size=8>
          Latitude
        </ion-col>
        <ion-col size=4>
          {{latitude}}
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size=6>
      <ion-row>
        <ion-col size=8>
          Longitude
        </ion-col>
        <ion-col size=4>
          {{longitude}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>