
  <ion-row style="overflow: scroll;height: 100%;">
    <ion-col>
     <ion-row>
      <ion-col size="2">
       <ion-icon name="arrow-back" (click)="getBack()"></ion-icon>
       </ion-col>
       <ion-col size="10" style="color:darkblue;font-size:16px;font-weight: bold;">
         User Features
       </ion-col>
       </ion-row>
       <!-- <div id='treeparent'>
         <ejs-treeview #treeview="" id='treeelement' [fields]='field' [showCheckBox]='showCheckBox' 
         [allowEditing]='allowEditing'  [autoCheck]="autoCheck" ></ejs-treeview>
       </div> -->
       <ion-row *ngFor="let items of data" [ngClass]="{header : items.hasChild == true, notHeader : items.hasChild == false}">
        <ion-col size=2 style="text-align: right;"  ><ion-checkbox (click)="selectData(items)"    [(ngModel)]="items.isChecked" ></ion-checkbox></ion-col>
        <ion-col size=8  >{{items.name}}</ion-col>
      </ion-row>
       <ion-row>
       <ion-col style="text-align: center;margin: 10px auto;">
           <ion-button (click)="submitData()">Submit</ion-button>
       </ion-col>
      </ion-row>
    </ion-col>
     </ion-row>
   