<ion-content>
  <ion-row>
    <ion-col *ngIf="myPlatform != 'desktop'" size=12 style="padding: 0px;">
      <ion-row>
        <ion-col size=11>
          <ion-searchbar [(ngModel)]="searchInput" placeholder="Search">
          </ion-searchbar>
        </ion-col>
        <ion-col size="1" style="text-align: -webkit-right;">
          <div class="pdf-wrapper" (click)="createPdf()"></div>
        </ion-col>
      </ion-row>
     
        <ion-virtual-scroll [items]="detail | searchmanage: searchInput : count"  [trackBy]="identify" >
          <ion-card  *virtualItem="let items;"   class="operator-card ion-activatable" (click)="editMode(items)">
              <ion-row>
              <ion-col size="12" class="plateNo">
                {{ items.name | uppercase  }}
              </ion-col>
            </ion-row>
            <ion-card class="inner-card ion-activatable" >
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col size="4" style="padding-left: 10px;">
                       <ion-row>
                         <ion-col size="12">
                          Plate no
                         </ion-col>
                       </ion-row>
                       <ion-row>
                        <ion-col size="12" class="data" >
                          {{items.plateNo}}
                        </ion-col>
                      </ion-row>
                      </ion-col>
                      <ion-col size="4">
                        <ion-row>
                          <ion-col size="12">
                           Operator name
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" class="data">
                            {{items.name}}
                          </ion-col>
                        </ion-row>
                     </ion-col>
                     <ion-col size="4">
                      <ion-row>
                        <ion-col size="12">
                          License expiry
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="data">
                          {{items.licenseExpiry }}
                        </ion-col>
                      </ion-row>
                   </ion-col>
                    </ion-row>
                    <ion-row >
                      <ion-col size="4" style="padding-left: 10px;">
                        <ion-row>
                          <ion-col size="12" >
                            Contact no 
                          </ion-col>
                        </ion-row>
                        <ion-row>
                         <ion-col size="12" class="data" >
                          {{items.telNo}}
                         </ion-col>
                       </ion-row>
                      </ion-col>
                      <ion-col size="4">
                        <ion-row>
                          <ion-col size="12">
                            Email id
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" class="data">
                            {{items.emailAddress}}
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col size="4">
                        <ion-row>
                          <ion-col size="12">
                            License no
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12" class="data">
                            {{items.licenseNo}}
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row id="address-col">
                  <ion-col size="12">
                      <ion-row>
                        <ion-col size="12">
                          Address
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12" class="data">
                          {{items.address}}
                        </ion-col>
                      </ion-row>
                  </ion-col>
                </ion-row>
               </ion-card-content>
               <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
      </ion-virtual-scroll>
      <ion-fab class="botmRow" (click)="openModel()">
        <ion-fab-button style="position: fixed;bottom: 43px;right: 15px;">
          <ion-icon name="add" class="add-icon"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>


    <ion-col *ngIf="myPlatform == 'desktop'" size=12 style="padding: 0px;">
      <ion-row style="border: 1px solid #dad9d9; width: 99.2%">
        <ion-col style="padding: 0;">
          <ion-row style="float:left; margin: 0">
            <ion-col size="4">
              <ion-button (click)="openModel()" class="submitBtn" shape="round" size="small">
                Add
                <ion-icon name="add-circle" class="toolbar-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button shape="round" (click)="editMode()" class="submitBtn" size="small">
                Edit
                <ion-icon name="create" class="toolbar-icon"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button  *ngIf="isDeleteShow"  shape="round" (click)="deleteMode()" class="submitBtn" size="small">
                Delete
                <ion-icon name="trash" style="font-size: 25px;" class="toolbar-icon"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col *ngIf="myPlatform == 'desktop'">
          <ion-row style="margin:0px ;padding:0;float:right">
            <ion-col class="ion-activatable download-buttons" (click)="createPdf()">
              <div class="pdf-wrapper"></div>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-col>
            <ion-col class="ion-activatable download-buttons" (click)="exportToExcel()">
              <div class="excel-wrapper"></div>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <jqxGrid #myGrid (onRowselect)="myGridOnRowSelect($event)" [theme]="'material'" [width]="'99%'"
        [autoheight]="true" [source]="dataAdapter" [columns]="columns" [showfilterrow]="true" [sortable]="true"
        [filterable]="true" [columns]="columns" [columnsresize]="true" [enabletooltips]="true" [pageable]="true"
        [selectionmode]="'singlerow'" style="font-size: 10px !important">
      </jqxGrid>

    </ion-col>
  </ion-row>


</ion-content>