
ion-input {
    .native-input {
        border-radius: 25px
    }
}
.Tracalogic{
    --background:rgb(255, 174, 0);
}
.Moveandtrack{
    --background:rgb(237, 27, 36);
}
.GE{
    --background:rgb(255, 174, 0);
}
.Upcot-mvt{
    --background:rgb(237, 27, 36);
}
.Remoncloud{
    --background:rgb(237, 27, 36);
}
.moveAndTrackSpacing{
    margin-top: 12%;
}
.labelSpacing{
    margin-bottom: 3%;
    margin-left: 6%;
    width: 85%;
}
// .forgotPass {
//     padding-left: 50px;
//     font-size: 11px;
// }

.check {
    width: 12px;
    height: 12px;
    margin-right: 10px
}

.backgroundCol{
    background:#32384b;
}

.noWhiteSpace{
    padding:0px;
}

.iconSize{
    width: 50px;
    height: 35px;
}
// .appImageBackground{
//     --background: url(../../assets/backgroungImage/Default-Portrait@~ipadpro.png) 0 0/100% 100% no-repeat;
// }
.appDarkBackground{
    background:#32384b;
}




///////////////////////web///////////////////@at-root
.label-shape{
    border-radius: 40px;
    background-color: none;
    height: 40px;
    //width: 420px;  
}
.label-shape-box{
    background-color: none;
    height: 40px;
    // width:20%;
    margin-bottom: 3%;
}
.input-spacing{
    top: 5vh;
    right: 2vh;
}
.input-spacing{
    float: right;
}
.web-input{
    --padding-top: 4px;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui;
}
ion-input {
    .native-input {
        border-radius: 25px
    }
}
.Tracalogic{
    --background:rgb(255, 174, 0);
}
.Moveandtrack{
    --background:rgb(237, 27, 36);
}
.GE{
    --background:rgb(255, 174, 0);
}


.moveAndTrackSpacing{
    opacity: 0.9;
    width: 300px;
    margin: auto;
    position: relative;
    top: 50px;
    border-radius: 5px;
    
}

@media only screen and (min-width: 1024px) {
    .moveAndTrackSpacing {
        margin:auto;
        position: relative;
        top:17vh;
    }
    .moveAndTrackSpacingNew {
        position: absolute;
        right: 8px;
        top: 4vh;
        background: #f1f1f170;
    }
    
  }
  @media only screen and (max-width: 550px)  {
    .moveAndTrackSpacing {
        position: relative;
        top: 50px;
    }
    
  }
  @media only screen and (min-width:551px){
    .moveAndTrackSpacing {
         width: 360px;
    } 
    .moveAndTrackSpacingNew {
        width: 360px;
   } 
  }


.container{
    margin: 0px;
    height: 100vh;
    display: block;
   
    // background: url("https://kingstrackimages.s3.amazonaws.com/loginimages/track_apmkingstrack_com_background.jpg") center center / cover no-repeat fixed;
    // background:url("../../assets/background_img/woodhouse.jpg") center center / cover no-repeat fixed;
   
}
.text-box-spacing{
height: 60px;
}

.labelSpacing-web {
    margin-bottom: 3%;
}

.left-side-form-grp{
    width: 20%;
    /* height: 6%; */
    /* float: right; */
    position: fixed;
    top: 10vh;
    right: 2vh;
}
.container-wrapper{
    margin: 0px;
    height: 100vh;
    display: block;
    background: url("https://kingstrackimages.s3.amazonaws.com/loginimages/track_apmkingstrack_com_background.jpg") center center / cover no-repeat fixed;  
}
.labelSpacing{
    margin-bottom: 3%;
    margin-left: 6%;
    width: 85%;
}

.forgotPass {
    // padding-left: 50px;
    font-size: 13px;
}
.forgot{
    font-size: 12px; 
}
.svg_img{
    width: 20px;
    padding: 0px 0px 6px;
}
.check {
    width: 12px;
    height: 12px;
    margin-right: 10px
}

.backgroundCol{
    background:#32384b;
}

.noWhiteSpace{
    padding:0px;
}

.iconSize{
    width: 50px;
    height: 35px;
}

.appDarkBackground{
    background:#32384b;
}

////Armoron

.background {
    --background: url("../../assets/Armoron/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.buttonArmoron {
    color: blanchedalmond;
    height: 56px;
    width: 56px;
}

.iconsize {
    font-size: 30px;
}

.rowstyle {
    border-bottom: 1px solid #ba7203;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

#languageIcon, #countryIcon {
    font-size: 20px;
}
.contryCodeStyle{
    color:whitesmoke;
    border-bottom:1px solid whitesmoke;
    padding-top: 32px;
}