<ion-header *ngIf="myPlatform !='desktop'">
  <ion-toolbar class="appHeader">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" style="color:rgb(0, 0, 0)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="appHeaderTitle">
    <ion-row>
      <ion-col size=10>
        <ion-title>Primitive maintanance</ion-title>
      </ion-col>
      <ion-col size="2" style="text-align: -webkit-right;">
        <div class="pdf-wrapper" (click)="createPdf()"></div>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let data of displayData" style="padding:0px">
      <ion-card [ngClass]='{"border-red": data.status === "Over Due", "border-orange": data.status != "Over Due"}'>
        <ion-card-content>
          <ion-row class="plateno">
            {{data.plateno}}
          </ion-row>
          <ion-row class="background">
            <ion-col size=4>
              <ion-row>
                <ion-col size=12>
                  <ion-row class="innerHeading">
                    Due kilometer
                  </ion-row>
                  <ion-row class="bottomText">
                    {{data.duekilometer}}
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size=12>
                  <ion-row class="innerHeading">
                    Last Maintanance
                  </ion-row>
                  <ion-row class="bottomText">
                    {{data.lastmaintenancetime|date}}
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size=4>
              <ion-row class="centerCount centerRow">
                {{data.lastmaintenance}}
              </ion-row>
              <ion-row class="innerHeading centerRow">
                Maintanance count
              </ion-row>
            </ion-col>
            <ion-col size=4>
              <ion-row>
                <ion-col size=12>
                  <ion-row class="innerHeading">
                    Odometer
                  </ion-row>
                  <ion-row class="bottomText">
                    {{data.currentOdometer}}
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size=12>
                  <ion-row class="innerHeading">
                    Status
                  </ion-row>
                  <ion-row class="bottomText">
                    {{data.status}}
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>