<ion-header>
  <ion-toolbar mode="md" [ngClass]="{'appHeader' : appName != 'Armoron' , 'header-background-color': appName == 'Armoron'}">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row *ngIf="myPlatform != 'desktop'">
              <ion-col size="2">
                  <ion-menu-button></ion-menu-button>
              </ion-col>
             <ion-col size="8">
              <ion-label>Maintanence </ion-label>
             </ion-col>  
          </ion-row>
         
          <ion-row *ngIf="myPlatform == 'desktop'">
            <ion-col size='2'>
              <ion-menu-button></ion-menu-button>
            </ion-col>
            <ion-col size="9">
              <ion-label> Maintanence </ion-label>
            </ion-col>
           
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>
<ion-content>
<app-maintanence-table  class="maintanence_table"></app-maintanence-table>
<!-- <app-maintanence-card class="maintanence_card" *ngIf="myPlatform != 'desktop'"></app-maintanence-card>/ -->
</ion-content>
