.font {
    font-size: 12px;
    font-family: sans-serif;
}
.font2 {
    font-size: 10px;
    font-family: sans-serif;
}
.font8{
    font-size: 8px;
}
.dateHeading {
    font-size: 8px;
    color: #8a8a8a;
}
.headtext{
    justify-content: center;
    font-size: 17px;
    color: black;
    text-transform: capitalize;
}
.centerCol {
    background-color: #f1f1f1;
}
.verticleCenter {
    align-self: center;
}
.contentCenter {
    place-content: center;
}
.jusCenter {
    justify-content: center;
}
.bold {
    font-weight: bold;
}
.black {
    color: black;
}
.white {
    color: rgb(255, 255, 255);
}

.fuelPrice {
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
}
.sup {
    font-size: 7px;
    top: -3.5em;
}
.sub {
    font-size: 10px;
    font-weight: 100;
}
.leftcol {
    background-color: #f28918;
    border-radius: 18px 3px 3px 18px;
}
.rightcol {
    background: #1f5baa;
    border-radius: 3px 18px 18px 3px;
}
.distTravel {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 22px;
    justify-content: center;
}
.pdf-wrapper,
.excel-wrapper {
  background: url("../../../assets/pdf.svg") no-repeat;
  width: 22px;
  height: 22px;
}