<ion-row>
  <ion-searchbar [(ngModel)]="searchInput" placeholder="Search">
  </ion-searchbar>
</ion-row>
<ion-row>
  <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let items of detail | searchmanage: searchInput">
    <ion-card class="wrapper-container" (click)="editMode(items)">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <!---header-->
            <ion-row class="border_item">
              <ion-col size="12">
                <ion-row>
                  <ion-col>
                    {{items.email}}
                  </ion-col>
                </ion-row>
                <ion-img src="assets/user_card/user.svg" class="svg_size"></ion-img>
                <ion-label class="user-title">User Name</ion-label>
              </ion-col>
            </ion-row>
            <!--ends-->
            <ion-row>
              <ion-col size="6">
                <ion-row class="user_left">
                  <ion-col size="1.5" class="icon_wraps">
                    <ion-icon name="cog" class="icon_size"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col>{{items.userName}}</ion-col>
                    </ion-row>
                    <ion-label class="user-title">First Name</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row class="user_left">
                  <ion-col size="1.5" class="icon_wraps">
                    <ion-icon name="phone-portrait" class="icon_size"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col>{{items.contact}}</ion-col>
                    </ion-row>
                    <ion-label class="user-title">Contact Number</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row class="user_left">
                  <ion-col size="1.5" class="icon_wraps" >
                    <ion-icon name="globe" class="icon_size"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col>
                        {{items.countryName}}
                      </ion-col>
                    </ion-row>
                    <ion-label class="user-title">Country</ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row class="user_right">
                  <ion-col>
                    <ion-row>
                      <ion-col>
                        {{items.fax}}
                      </ion-col>
                    </ion-row>
                    <ion-icon name="mail" class="icon_size2"></ion-icon>
                    <ion-label class="user-title">Email Address</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row class="user_right">
                  <ion-col>
                    <ion-row>
                      <ion-col>{{items.pwd}}</ion-col>
                    </ion-row>
                    <ion-img src="assets/user_card/password.svg" class="svg_size"></ion-img>
                    <ion-label class="user-title">Password</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row class="user_right">
                  <ion-col>
                    <ion-row>
                      <ion-col>{{items.addressCity}}</ion-col>
                    </ion-row>
                    <ion-img src="assets/user_card/city.svg" class="svg_size"></ion-img>
                    <ion-label class="user-title">City</ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5.8" class="col_elevation">
                <ion-row class="address">
                  <ion-col>
                    {{items.addressLine1}}
                  </ion-col>
                </ion-row>
                <ion-icon name="map" class="icon_size2 address"></ion-icon>
                <ion-label class="user-title">Address Line 1</ion-label>
              </ion-col>
              <ion-col size="5.8" class="col_elevation">
                <ion-row class="address">
                  <ion-col>
                    {{items.addressLine2}}
                  </ion-col>
                </ion-row>
                <ion-icon name="pin" class="icon_size2 address"></ion-icon>
                <ion-label class="user-title">Address Line 2</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-fab class="botmRow" (click)="openModel()">
  <ion-fab-button style="position: fixed;bottom: 43px;right: 15px;">
    <ion-icon name="add" class="add-icon"></ion-icon>
  </ion-fab-button>
</ion-fab>