
<ion-content >
  <ion-row>
    <ion-col size="2">
      <ion-icon name="arrow-back" (click)="getBack()"></ion-icon>
    </ion-col>
    <ion-col size="8" style="font-size: 20px;background-color:#7c68f8;color:white"> Subscription renewal</ion-col>
  </ion-row>
  <ion-grid>
    <form class='formPadding' [formGroup]="subscription">
<ion-row>
  <ion-col  class="wrapper-container">
   <ion-item>
      <ion-icon name="phone-portrait" class="renewal-icon" slot="start" ></ion-icon>
      <ion-input formControlName="imeiNo" type="number" placeholder="IMEI No" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="time" class="renewal-icon" slot="start"></ion-icon>
      <ion-input  id="today" formControlName="todayDate"   [type]="typeSetter" (click)="focusType()" ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col size="6"  style="text-align: center;margin: auto;">
        <ion-button shape="round" (click)="sendBtn()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
</form>


  <!-- <ion-row>
    <ion-col  class="wrapper-container">
     <ion-item>
        <ion-icon name="phone-portrait" class="renewal-icon" slot="start" ></ion-icon>
        <ion-input  type="number" placeholder="IMEI No" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="time" class="renewal-icon" slot="start"></ion-icon>
        <ion-input  id="today" type="date"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="6"  style="text-align: center;margin: auto;">
          <ion-button shape="round" (click)="sendBtn()">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row> -->

</ion-grid>
</ion-content>
