<ion-header>
    <ion-toolbar mode="md" class="appHeader">
        <ion-grid>
            <ion-row>
                <ion-menu-button ></ion-menu-button>
                 <ion-title >Near by</ion-title>   
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-vts-nearby *ngIf="appName != 'Armoron'"></app-vts-nearby>
</ion-content>
