<ion-header>
  <ion-toolbar mode="md" class="appHeader">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-icon icon="md-arrow-back" style="color:black" (click)='getBack()'></ion-icon>
            <ion-title style="padding:0px 12px">Geo Fence - Device Associated</ion-title>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of geozoneObject">
    <ion-card-content class="cardPad">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            {{item.PlateNo}}
          </ion-col>
          <ion-col size="3" class="ion-text-center">
            <ion-icon class="iconSize" name="md-remove-circle-outline" color="danger"
              (click)="disassociateGeozone(item)">
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>