<ion-content>
  <ion-row>
    <ion-col (click)="openProfile()" class="verticalCenter" size=3>
      <ion-icon class="iconXXXlarge" name="contact"></ion-icon>
    </ion-col>
    <ion-col class="userStyle">
      <ion-label>{{companyName}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-grid class="box">
    <ion-row>
      <ion-col  *ngFor="let count of countRow">
        <ion-card (click)="openAssertModal(count)" class="ion-card">
        <ion-card-content class="fixline">
          <ion-row class="countSize rowCenter dealerfont">
            {{countRowData[count]}}
          </ion-row>
          <ion-row class="rowCenter dealerfont capitial bold">
            {{count}}
          </ion-row>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col size ="6" size-sm="6" size-lg="3" size-md="4"  *ngFor="let dashboardCard of dashboardColData">
      <ion-card [routerLink]="[dashboardRouter[dashboardCard]]" style="border-radius: 25px;" class="ionCard borderAndRadius">
        <ion-card-content>
          <ion-row class="rowCenter">
            <ion-icon style="font-size: 60px;" [name]="dashboardColSvg[dashboardCard]"></ion-icon>
      </ion-row>
      <ion-row class="rowCenter">
        {{dashboardCard}}
      </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>