<ion-row *ngIf="myPlatform !='desktop'">
  <ion-col size=12> 
<ion-card *ngFor="let x of reportTypeItems" class="ion-activatable">
  <ion-card-content (click)="openForm(x)">
    <ion-ripple-effect></ion-ripple-effect>{{x}}
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>

<ion-row *ngIf="myPlatform =='desktop'" class="report-container">

    <ion-col size="3" class="card-container" >
      <ion-card *ngFor="let x of reportTypeItems"  class="ion-activatable reports-card" [ngClass]="[x == reportName ? 'actives':'']" 
      (click)="openForm(x)" >
      <ion-card-content >
        <ion-ripple-effect></ion-ripple-effect>{{x}}
      </ion-card-content>
    </ion-card>
  </ion-col>
    <ion-col size="9" class="form-container" > 
        <app-vts-report-form [shownContent] = "reportShowContent" [reportName]="reportName" 
        [plateNo]='reportPlatNo'></app-vts-report-form>  
    </ion-col>
    
</ion-row>
