<ion-header class='header'>
  <ion-toolbar class="header-style">
    <ion-row style="align-items: center;">
      <ion-icon (click)="locationBack()" class="icon-size" name="arrow-back"></ion-icon>
      <ion-label> Live Track </ion-label>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-vtslivetrack></app-vtslivetrack>
</ion-content>
