<ion-header style="height: 100px;">
  <ion-toolbar class="toolbar-style">
    <ion-row>
      <ion-col size="1">
        <ion-icon name="arrow-back" style="float: right;font-size: 25px; margin:0px auto;" (click)="closeModal()">
        </ion-icon>
      </ion-col>
      <ion-col size="11" *ngIf="myPlatform == 'desktop'">
        <ion-title class="popup-head">School Date</ion-title>
      </ion-col>
      <ion-col size="10" *ngIf="myPlatform != 'desktop'">
        <ion-title class="popup-head">School Date</ion-title>
      </ion-col>
      <ion-col size="1" *ngIf="myPlatform != 'desktop'">
        <ion-icon *ngIf='value != undefined && isDeleteShow == true' name="trash" style="font-size: 20px;"
          (click)="delete()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<div class="enable-container">
  <form [formGroup]="enableLogin">
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" style="margin:auto">
        <ion-list lines="none" style="background:transparent;">

          <!-- <ion-row>
            <ion-col size="4" class="align-self">
              Days :
            </ion-col>
            <ion-col size="8">
              <ion-radio-group allow-empty-selection="false" name="radio-group" formControlName="days" value="Single"
                (ionChange)=" mutipleSelection($event)">
                <ion-col size='8' *ngFor="let daysChanger of daysChanger">
                  <ion-col size='3'>
                    <ion-radio id='{{daysChanger.status}}' checked value="{{daysChanger.status}}"></ion-radio>
                  </ion-col>
                  <ion-col size='8'>
                    <ion-label>{{daysChanger.status}}</ion-label>
                  </ion-col>
                </ion-col>
              </ion-radio-group>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col size="4" class="align-self">
              Type :
            </ion-col>
            <ion-col size="8">
              <select class="enable-input" formControlName="type">
                <option value="" disabled selected hidden class="option-head"> Select any One Option</option>
                <option *ngFor="let items of type2" [value]="items">{{items}}</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="align-self">From Date :</ion-col>
            <ion-col size="8">
              <input type="date" class="date-input" formControlName="fromDate" [max]="date" displayFormat="MMM DD, YYYY"
                pickerFormat="MMM DD, YYYY" />
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="4" class="align-self">To Date :</ion-col>
            <ion-col size="8">
              <input type="date" class="date-input" formControlName="toDate" [max]="date" displayFormat="MMM DD, YYYY"
                pickerFormat="MMM DD, YYYY" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="align-self">Reason :</ion-col>
            <ion-col size="8">
              <ion-textarea style="border: 1px solid #e6e6e6;
            background: white;" maxLength="80" formControlName="reason"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin:auto;text-align: center;">
        <div>
          <ion-button shape="round" color="primary" class="enable-btn" (click)="onSubmit(enableLogin)"
            [disabled]="!enableLogin.valid">submit</ion-button>
          <ion-button type="reset" fill="outline" shape="round" color="primary" class="enable-btn">clear</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</div>
<!----------SchoolEnable/disableDetailsEnd--------->