
.label{
    // clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    // background-color: red;
    text-align: left;
}
.totalRow{
    margin: 0px;
    padding: 0px;
}
// ion-col{
//     margin: 0px;
//     padding: 0px;
// }
ion-select{
    margin-top: -9px;
}
input{
    margin: 0px;
    padding: 0px;
}
.paddingZero{
    padding: 0px;
    align-self: center;
    text-align: center;
}
.send-icon
{
   font-size: large;
  
}
