<ion-row>
  <ion-col size=12 size-lg=6 size-sm=12 size-md=6 *ngFor='let items of digitalValues; let i = index'>
    <ion-row style="width:100%">
      <ion-col size=5 style="margin-top: -2px;">
        <ion-icon name="flash" style="color: darkcyan;" class="flash-icon"></ion-icon>
        <ion-label style="font-size: 14px">{{items.itemlabel}}</ion-label>
      </ion-col>
      <ion-col size=6>
        <ion-select style="font-size: 14px" (ionChange) = "selectbarChange($event, i)"  placeholder="Select type" #obj [value]="object[i]">
          <ion-select-option *ngFor="let obj of items.itemdropdown"  style="font-size: 14px">{{obj.selectlabel}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size=1>
        <ion-icon name="send" (click)='submit(items.itemlabel,object[i], items, items.itemvalue)' shape="round" color="primary"
          class="send-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>