.class-container {
    width           : 95%;
    height          : 90%;
    margin          : -20px auto 32px;
    padding         : 10px ;
    background-color: #f3f3f3;
}

.stu-items {
    margin          : 13px 6px 0px;
    padding         : 0px;
    border          : 1px solid #cfe8ec;
    border-radius   : 20px;
    height          : 33px;
    background-color: #fcfcfc;
}

.stu-input {
    font-size          : 13px;
    --placeholder-color: rgb(117, 118, 119);
    --padding-bottom   : 25px;

}

.stu-icon {
    font-size    : 25px;
    border-right : 1px solid #efedeb;
    padding-right: 10px;
    margin       : 0px 5px 17px;
    color        : #3880ff;
}

.stu-btn {
    height    : 30px;
    font-size : small;
    margin    : auto;
    padding   : 2px;
    text-align: center;
}
.popup-head {
    color      : #3880ff;
    margin-left: 30px;

}