<ion-header >
  <ion-toolbar>
    <ion-row>
      <ion-col size="1"><ion-icon name="arrow-back" style="float: right;color: gray;font-size: 25px; margin:0px auto;" (click)="closeModal()"></ion-icon></ion-col>
      <ion-col size="11"><ion-title  class="popup-head">Class Details</ion-title></ion-col>
    </ion-row> 
  </ion-toolbar>
</ion-header>
<ion-content>


<div class="class-container">
  <form [formGroup]="classDetails">
<ion-row>
    <ion-col size="12" size-sm="12" size-md="12" size-lg="12"  style="margin:auto">
     <ion-list lines="none" style="background:transparent;">
       <ion-item  class="stu-items">
        <ion-img src="assets/student_Details/classroom.svg" slot="start"  style="width: 35px;height: 26px;" class="stu-icon"></ion-img>
         <ion-input placeholder="Enter Class Id  ( Mandatory )" class="stu-input" formControlName='classId'></ion-input>
       </ion-item>
       <ion-item  class="stu-items">
        <ion-img src="assets/student_Details/classroom.svg" slot="start"  style="width: 35px;height: 26px;" class="stu-icon"></ion-img>
          <ion-input placeholder="Enter Section Id  ( Mandatory )" class="stu-input" formControlName='sectionId'></ion-input>
      </ion-item>
      <ion-item  class="stu-items">
        <ion-img src="assets/student_Details/maths.svg" slot="start"  style="width: 35px;height: 26px;" class="stu-icon"></ion-img>
         <ion-input placeholder="Enter Tutor" class="stu-input" formControlName='Tutor'></ion-input>
     </ion-item>
     <ion-item  class="stu-items">
      <ion-icon name="paper" class="stu-icon"></ion-icon>
       <ion-input placeholder="Enter Class Description" class="stu-input" formControlName='classDescription'></ion-input>
   </ion-item>
     </ion-list>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col style="margin:auto;text-align: center;">
     <div >
      <ion-button  shape="round" color="primary"  class="stu-btn" (click)='onSubmit()' [disabled]="!classDetails.valid">submit</ion-button>
        <ion-button  type="reset" fill="outline" shape="round" color="primary"  class="stu-btn" >clear</ion-button>
    </div>
  </ion-col>
  </ion-row>
</form>
</div>
</ion-content>
