<ion-header>
  <ion-toolbar mode="md" class="appHeader" *ngIf="myPlatform !='desktop'">
    <ion-grid class="appHeaderTitle ion-padding" style="padding-bottom:8px;">
      <ion-row *ngIf='myPlatform !="desktop"' >
        <ion-col  size="2">
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col style="align-self: center;">
          <ion-searchbar *ngIf='search' size="10"  showCancelButton="never" [(ngModel)]="plateNo"  (ionChange) ="searchVehicle(plateNo)" placeholder="Search">
          </ion-searchbar>
        </ion-col>
        <!-- <ion-col size=1 style="   font-size: 20px; align-self: center;">
          <ion-icon (click) ="showOrHideSearch()"  [name]="iconHeader"></ion-icon>
        </ion-col> -->
      </ion-row>
      <ion-row *ngIf='myPlatform =="desktop"' >
        <ion-col size='2'>
          <ion-menu-button></ion-menu-button>
      </ion-col>
      <ion-col size='8.5' style='align-self: center;'>
          <ion-row>
              <ion-label> Map view </ion-label>
          </ion-row>
      </ion-col>
      <!-- <ion-col size='1.5'>
              <ion-row><ion-icon style='font-size: 25px;' ios="md-search" (click) ='searchStatus()' md="md-search"></ion-icon></ion-row>
          </ion-col> -->
      <ion-col size='1.5' style="padding: 0px;">
          <ion-row >
              <ion-col size='3' style="align-self: center;"> 
                 
              </ion-col>
             <ion-col *ngIf='myPlatform =="desktop"' size='9'>
              <ion-img [src]="app.logo"></ion-img>
             </ion-col>
          </ion-row>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="myPlatform !='desktop'">
  <div class="map" #mapElement></div>
 
  <div id="popup">
    <div id="popup1"></div>
    <div id="popup2"></div>
  </div>

   <ion-fab *ngIf='fabButton' (click)="switchMap()" style="top: 1%;" horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button size ='medium' color='light'>
        <ion-icon  center name='map'></ion-icon>
    </ion-fab-button>
</ion-fab>

  <div id="modal" class="modal">

    <ion-grid style='padding:0px'>
      <div *ngIf="markerInfo.show">
        <ion-card style="background:white">
          <ion-card-content style="padding:0px; justify-content: flex-end; background:white">
            <ion-row class="ion-align-items-right ion-justify-content-right" style="justify-content: flex-end;"
              (click)="closeInfo()">
              <ion-icon name="backspace"></ion-icon>
            </ion-row>
          </ion-card-content>
          <ion-card-content style="padding:0px;">
          <app-gridview-card [commonData]='clickMarker'></app-gridview-card>
          <ion-row (click)='showLocation(clickMarker)' class="address">
            <ion-col size=12 style="padding-top: 0px; padding-bottom: 0px;">
                <ion-row *ngIf="clickMarker.location">
                    {{clickMarker.location}}
                </ion-row>
                <ion-row *ngIf="!clickMarker.location">
                    <!-- <ion-spinner name="dots"></ion-spinner> -->
                    Click for location 
                </ion-row>
                </ion-col>
                </ion-row>
    </ion-card-content>
        </ion-card>
      </div>
    </ion-grid>
  </div>
</div>
<div *ngIf="myPlatform == 'desktop'">
  <ion-row style="height: 35px;">
      <ion-col size=10.5 style="text-align: center;     background: white;
          position: fixed;
          z-index: 11;
          height: 43px;">
          <!-- <span style="font-weight: bold;font-size: 28px;">{{plateNum}}</span> -->

      </ion-col>
      <ion-col style="align-self: center; position: fixed;
          right: 117px; z-index: 12;" size=0.5>
          <ion-row style="align-self: center;     float: right;">
              <ion-img src="assets/dashboard_background/bell.png" style="width:22px; height:22px;"></ion-img>
              <ion-badge color="danger"
                  style="position: absolute; align-self: center;margin-left: -35px; font-size: 9px; left: 76px; color: white; font-weight: bold;  top: 0px;">
                  {{alertDataLength}}
              </ion-badge>
          </ion-row>
      </ion-col>
      <ion-col style="text-align: -webkit-center; position: fixed; right: 5px; z-index: 15;" size=1>
          <ion-img class="logo" [src]="app.logo"></ion-img>
      </ion-col>
  </ion-row>

  <ion-row style="    margin-top: 7px;">
      <ion-col size="2.5" style="   margin-top: 7px;max-width: 20%; margin: 0px;padding: 0px;">
          <ion-row>
              <div style="position:absolute;top: 2%;left: 0px;font-size: 25px;z-index: 16;"
                  (click)="swipePrevious()">
                  <div class="arrowPrevious">
                  </div>
              </div>
              <div (click)="swipeNext()">
                  <div class="arrowNext">
                  </div>
              </div>
              <!---Important*****-->
              <div class="emptyClearleft">
              </div>
              <div class="emptyClear">
              </div>
              <ion-slides [options]="slideOpts" #mySlider
                  style="text-align: -webkit-center;
            position: fixed;left: 13px;z-index: 12;background: white;width: 240px;border-top:5px solid rgb(108, 42, 132)">
                  <ion-slide class="tooltip statusBar" style="background-color:#989aa2 ; "
                      (click)="changeGridView({'type':'All', 'count': vehicleCount.Total})">
                      {{vehicleCount.Total}}
                      <span class="tooltiptextinitial">Total</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Running')" class="tooltip statusBar"
                      style="background-color:#1eb15d;"
                      (click)="changeGridView({'type':'Running', 'count': vehicleCount.Running})">
                      {{vehicleCount.Running}}
                      <span class="tooltiptext">Running</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Stop')" class="tooltip statusBar"
                      style="background-color:#FF0000 ;"
                      (click)="changeGridView({'type':'Stop', 'count': vehicleCount.Stop})">
                      {{vehicleCount.Stop}}
                      <span class="tooltiptext">Stop</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('HighTemp')" class="tooltip statusBar"
                      style="background-color:#FF0000 ;"
                      (click)="changeGridView({'type':'HighTemp', 'count': vehicleCount.HighTemp})">
                      {{vehicleCount.HighTemp}}
                      <span class="tooltiptext">High temperature</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Idle')" class="tooltip statusBar"
                      style="background-color:#1f5baa ;"
                      (click)="changeGridView({'type':'Idle', 'count': vehicleCount.Idle})">
                      {{vehicleCount.Idle}}
                      <span class="tooltiptext">Idle</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Geofence')" class="tooltip statusBar"
                      style="background-color:#1f5baa ;"
                      (click)="changeGridView({'type':'Geofence', 'count': vehicleCount.Geofence})">
                      {{vehicleCount.Geofence}}
                      <span class="tooltiptext">Geofence</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('PowerFail')" class="tooltip statusBar"
                      style="background-color:#724040 ;"
                      (click)="changeGridView({'type':'PowerFail', 'count': vehicleCount['PowerFail']})">
                      {{vehicleCount['PowerFail']}}
                      <span class="tooltiptext">Power fail</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('No Transmission')" class="tooltip statusBar"
                      style="background-color:#000000 ;"
                      (click)="changeGridView({'type':'No Transmission', 'count': vehicleCount['No Transmission']})">
                      {{vehicleCount['No Transmission']}}
                      <span class="tooltiptext">No Transmit</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Overspeed')" class="tooltip statusBar"
                      style="background-color:#f28918 ;"
                      (click)="changeGridView({'type':'Overspeed', 'count': vehicleCount.Overspeed})">
                      {{vehicleCount.Overspeed}}
                      <span class="tooltiptext">Overspeed</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('DoorOpen')" class="tooltip statusBar"
                      style="background-color:#FF851B ;"
                      (click)="changeGridView({'type':'DoorOpen', 'count': vehicleCount.DoorOpen})">
                      {{vehicleCount.DoorOpen}}
                      <span class="tooltiptext">Door open</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Towed')" class="tooltip statusBar"
                      style="background-color:#c200b8;"
                      (click)="changeGridView({'type':'Towed', 'count': vehicleCount.Towed})">
                      {{vehicleCount.Towed}}
                      <span class="tooltiptext">Towed</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Yet_to_transmit')" class="tooltip statusBar"
                      style="background-color:#7d410f;"
                      (click)="changeGridView({'type':'Yet_to_transmit', 'count': vehicleCount.Yet_to_transmit})">
                      {{vehicleCount.Yet_to_transmit}}
                      <span class="tooltiptext">Yet to transmit</span>
                  </ion-slide>
                  <ion-slide *ngIf="loginData.includes('Online')" class="tooltip statusBar"
                      style="background-color:#00E1BC;"
                      (click)="changeGridView({'type':'Online', 'count': vehicleCount.Online})">
                      {{vehicleCount.Online}}
                      <span class="tooltiptext">Online</span>
                  </ion-slide>
              </ion-slides>
          </ion-row>

          <ion-row style="width: 20.9%;
                  position: fixed;
                  padding: 2px;
                  z-index: 1;
                  top: 86px;
                  background: white;">
              <ion-col style="padding: 0px; " size=10>
                  <ion-searchbar [(ngModel)]="plateNo"  (ionChange) ="searchVehicle(plateNo)"  placeholder="Search">
                  </ion-searchbar>
              </ion-col>
              <ion-col size=1 style="align-self: center;
                      text-align: center; padding: 0px;">
                  <ion-icon style="font-size: 25px;" (click)="openFilter()" [name]="filterIcon"></ion-icon>
              </ion-col>
              <ion-col (click)="doRefresh($event)" size=1 style="align-self: center;
                      text-align: center; padding: 0px;">
                  <ion-icon style="
                               font-size: 25px;" name="md-refresh"></ion-icon>
              </ion-col>
          </ion-row>
          <ion-row style="width: 21%;
                  position: fixed;
                  z-index: 1;
                  top: 129px;
                  background: white;" *ngIf="filterIcon == 'md-close'">

              <ion-col color="light" (click)="filterPage('watchMode')">
                  <svg width="35" height="35" viewBox="0 0 800 800"
                      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                      <path attr.fill="{{watchFilter==true ? '#1d93ed' : 'black'}}"
                          d="M430 586.53c-38.76,0 -72.57,-8.35 -101.64,-30.26 -23.48,-17.69 -42.12,-38.46 -54.23,-65.66 -25.5,-57.32 -16.5,-119.47 21.29,-169.22 5.71,-7.52 14.31,-14.96 20.32,-20.98 3.66,-3.66 6.82,-5.64 11.1,-8.87 45.82,-34.58 114.25,-42.08 166.23,-15.87 26.01,13.11 22.96,12.83 41.25,28.02 2.68,2.23 3.36,2.15 5.71,4.95 21.61,25.86 34.09,41.43 42.37,77.52 6.04,26.29 6.13,44.87 0.72,71.06 -5.44,26.3 -15.66,47.2 -32.06,67.85 -3.66,4.61 -6.09,6.85 -9.91,11.41 -4.97,5.94 -14.96,13.85 -21.32,18.65 -8.52,6.42 -15.1,9.99 -24.99,14.97 -16.11,8.1 -41.32,16.43 -64.84,16.43zm-99.92 -203.83c6.3,3.33 13.53,5.52 20.45,8.87 6.9,3.34 13.46,5.7 19.95,9.35l38.2 21.74c-7.98,10.9 -69.47,36.48 -78.6,41.3 4.87,20.89 32.99,45.12 56.14,54.44 25.57,10.31 56.37,9.23 80.65,-2.91 50.26,-25.13 71.85,-78.41 50.51,-132.25 -9.01,-22.73 -28.38,-40.94 -49.62,-51.62 -42.27,-21.25 -92.62,-9.51 -123.98,27.48 -3.87,4.57 -12.27,17.49 -13.7,23.6zm-247.79 41.3l14.63 18.67c4.77,6.26 10.17,11.51 15.24,18.07 22.98,29.66 86.65,83.79 113.99,101.83l53.31 30.62c34.19,17.15 88.84,34.64 131.89,34.64 55.33,0 83.37,-4.63 132.85,-24.35 23.09,-9.21 55.22,-26.56 75.53,-40.37l47.71 -36.22c28.49,-25.39 34.46,-31.2 58.63,-57.28l30.51 -36.1c2.23,-2.99 5.13,-7.56 7.8,-9.51 -2.05,-3.07 -4.1,-6.53 -6.46,-9.53 -15.48,-19.68 -54.17,-64.69 -72.14,-78.4l-36.15 -30.46c-6.52,-5.21 -11.83,-9.35 -19,-14.3 -22.47,-15.51 -37.38,-24.8 -62.53,-37.39 -34.95,-17.51 -88.82,-35.08 -132.77,-35.08 -55.33,0 -83.37,4.62 -132.86,24.34 -8.3,3.32 -15.62,6.58 -23.01,10.29 -32.56,16.33 -73.09,42.11 -100.23,66.3 -43.92,39.15 -55.7,51.86 -89.88,93.97 -2.86,3.52 -4.72,6.76 -7.06,10.26z" />
                  </svg>
              </ion-col>
              <ion-col color="light" (click)="filterPage('battery')" style="align-self: center;">
                  <svg width="25" height="25" viewBox="0 0 800 800"
                      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
                      <path attr.fill="{{batteryStatusFilter == true ? '#1d93ed' : 'black'}}"
                          d="M-0 248.48l0 486.31 846.66 -0.01 0 -486.3 -846.66 0zm87.77 -55.22l205.61 0 0 -81.39 -205.61 0 0 81.39zm465.53 0l205.61 0 0 -81.39 -205.61 0 0 81.39zm-297.64 259.53l0 0 -37.49 0 0 37.48 -55.21 0.01 0 -37.48 -37.49 -0.01 0 -55.22 37.49 0 0 -37.48 55.21 0 0 37.48 37.49 0 0 55.22zm193.28 199.43l-51.22 -20.62 37.76 -93.8 -106.05 0 68.29 -169.63 51.22 20.62 -37.76 93.8 106.05 -0.01 -68.29 169.64zm272.25 -199.43l-130.19 0 0 -55.22 130.19 0 0 55.22z" />
                  </svg>
              </ion-col>
              <ion-col color="light" (click)="filterPage('gsm')" style="align-self: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="7mm" height="7mm"
                      version="1.1"
                      style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                      viewBox="0 0 846.66 846.66" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path attr.fill="{{gsmStatusFilter == true ? '#1d93ed' : 'black'}}"
                          d="M273.84 700.03c0,10.28 3.11,13.39 13.38,13.39l124.95 0 0 -98.17 -138.33 0 0 84.78zm182.96 -232.05l0 232.05c0,10.28 3.1,13.39 13.39,13.39l124.95 0 0 -258.82 -124.95 0c-10.29,0 -13.39,3.1 -13.39,13.38zm-254.36 245.44l40.16 0 0 -374.85c0,-24.95 99.44,-157.07 124.95,-205.27l-298.98 0 104.46 163.29c21.32,30.97 16.17,25.19 16.03,73.22l-0.39 312.76c-0.13,16.63 -3.44,30.85 13.77,30.85zm21.17 -403.47l-111.3 -159.72 203.51 0 -92.21 159.72zm420.61 403.47l133.87 0 0 -401.62c0,-10.29 -3.1,-13.39 -13.37,-13.39l-120.5 0 0 415.01z" />
                  </svg>
              </ion-col>
              <ion-col color="light" (click)="filterPage('gps')" style="align-self: center;">
                  <ion-icon style='font-size: 25px;'
                      [ngClass]="{selecedFabIcon : gpsFilter === true, notSelecedFabIcon : gpsFilter === false}"
                      name="md-locate"></ion-icon>
              </ion-col>
              <ion-col color="light" (click)="filterPage('subscription')" style="align-self: center;">
                  <ion-icon style='font-size: 25px;'
                      [ngClass]="{selecedFabIcon : subscriptionFilter === true, notSelecedFabIcon : subscriptionFilter === false}"
                      name="logo-usd"></ion-icon>
              </ion-col>

          </ion-row>
          <ion-row>
              <ion-virtual-scroll style="top: 88px;"
                  [items]="dashboardData | mapViewSearch:plateNo |mapViewFilter: filterValue : count"
                  [trackBy]="identify"  [itemHeight]="itemHeightFn"
                 >
                  <ion-card *virtualItem="let data;" style="padding:0px; margin: 10px 3px 12px 2px;"
                      disabled='{{data.warrantyExpiry}}'
                      [ngClass]='{"runningCardBorder": data.status === "Running" || data.status === "Good", "stopCardBorder":data.status === "Stop" || data.status === "HighTemp", "idleCardBorder":data.status === "Idle" || data.status === "Geofence" ,"doorOpen": data.status === "DoorOpen", "noTransCardBorder":data.status === "No Transmission","powerFail": data.status === "PowerFail" , "overspeedCardBorder": data.status === "Overspeed" , "towedCardBorder": data.status === "Towed","yetToTransmitCardBorder": data.status === "Yet_to_transmit", "onlineCardBorder": data.status === "Online", "active": selectedArrayVin.includes(data.vin)}'>
                      <ion-card-content style="padding:0px;">
                          <app-gridview-card (click)="showModal(data)" [commonData]='data'></app-gridview-card>

                          <ion-row>

                              <ion-row (click)='showLocation(data)' class="address">
                                  <ion-col size=12 style="padding-top: 0px; padding-bottom: 0px;">
                                      <ion-row *ngIf="data.location">
                                          {{data.location}}
                                      </ion-row>
                                      <ion-row *ngIf="!data.location">
                                          Click For Location
                                      </ion-row>
                                  </ion-col>
                              </ion-row>
                          </ion-row>
                      </ion-card-content>

                  </ion-card>
              </ion-virtual-scroll>
          </ion-row>
          <ion-row>
              <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
                  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                  </ion-infinite-scroll-content>
              </ion-infinite-scroll>
          </ion-row>


      </ion-col>

     

      <ion-col style="max-width: 80%; overflow-y: hidden; height: 100%;
              position: fixed; max-width: 80%;left: 20.8%;" size="9.4" id="mapv">
                <!-- <ion-fab vertical="top" horizontal="end" >
                    <ion-fab-button>
                      <ion-icon name="filter"></ion-icon>
                    </ion-fab-button>
                  </ion-fab> -->
              <ion-row class="heading">
                <span class="margin">Overall map view</span>
            </ion-row>
            <ion-row style="height: 100%;">
           <div class="map" #mapElement></div>
          </ion-row>

      </ion-col>
  </ion-row>
</div>
</ion-content>