.padding0px{
padding: 0px;
}

.otherText{
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px;
    align-self: center;
}

.mainText{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #3c3c3c;
    padding: 0px;
}

.statusStyle{
    padding: 3px;
    background: #dadada;
    color: #3c3c3c;
    text-align: center;
    border-radius: 29px;
}

.timestampRow{
    text-align: center;
    border-top: 1px solid #dadada;
}

.timestampCol{
    padding: 6px;
}

.textCenter{
    text-align: center;
}

.iconColor {
    color: #7c68f8;
    padding-right: 7px;
  }