<!-- <ion-row style="padding-bottom: 6px;">
  <ion-col size=12>
    <ion-row>
      <ion-col size=8 class="otherText">
        {{cardDetail.companyId}}
      </ion-col>
      <ion-col size=4 class="otherText statusStyle">
        {{cardDetail.warrantyExpiryDate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 class="mainText">
        {{cardDetail.imei}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=4 class="otherText">
        {{cardDetail.simcardNo}}
      </ion-col>
      <ion-col size=4 class="otherText textCenter">
        {{cardDetail.plateNo}}
      </ion-col>

      <ion-col size=4 class="otherText">
        {{cardDetail.currentAgency}}
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="timestampRow">
  <ion-col size=12 class="otherText timestampCol">
    {{cardDetail.serverTimeStamp}}
  </ion-col>
</ion-row> -->
<ion-row style="padding-bottom: 6px;" (click)="deleteVehicle()">
  <ion-col size=12>
    <ion-row>
      <ion-col size=8 class="otherText">
        {{cardDetail.plateNo}}
      </ion-col>
      <ion-col size=4 class="otherText statusStyle">
        {{cardDetail.warrantyExpiryDate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 class="mainText">
        {{cardDetail.imei}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 class="otherText">
        <ion-icon class="iconColor" name="call"></ion-icon> {{cardDetail.simcardNo}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12 class="otherText">
        <ion-icon class="iconColor" name="business"></ion-icon> {{cardDetail.companyId}} ({{cardDetail.currentAgency}})
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="timestampRow">
  <ion-col size=12 class="otherText timestampCol">
    {{cardDetail.serverTimeStamp}}
  </ion-col>
</ion-row>
