<!----------ParentDetails------------>

<ion-header style="height: 100px;">
  <ion-toolbar>
    <ion-row>
      <ion-col size="1"><ion-icon name="arrow-back" style="float: right;color: gray;font-size: 25px; margin:0px auto;" (click)="closeModal()"></ion-icon></ion-col>
      <ion-col size="11"><ion-title  class="popup-head">Parent Details</ion-title></ion-col>
    </ion-row> 
  </ion-toolbar>
</ion-header>

<div class="parent-container">
  <form [formGroup]="parentLogin"  >
  <ion-row >
    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" style="margin:auto" >
      <ion-list lines="none" style="background:transparent;">
        <ion-item class="parent-items">
          <ion-icon name="phone-portrait" slot="start" class="parent-icon"></ion-icon>
          <ion-input type="number" placeholder="Contact No  ( Mandatory )" formControlName="contactno"  class="parent-input" ></ion-input>
        </ion-item>
        <ion-item class="parent-items" style="--background:#d2d2d2" [disabled]="true">
          <ion-img src="assets/student_Details/parents.svg" class="stu-col1-img" ></ion-img>
          <ion-input type="text" placeholder="Parent"   class="parent-input"  ></ion-input>
        </ion-item>
  
        <ion-item class="parent-items">
          <ion-img src="assets/student_Details/parent.svg" class="stu-col1-img"></ion-img>
          <ion-input type="text" placeholder="Enter First Name  ( Mandatory )" formControlName="parentName" required class="parent-input" ></ion-input>
        </ion-item>
        <ion-item class="parent-items">
          <ion-icon name="contacts" slot="start" class="parent-icon"></ion-icon>
          <ion-input type="text" placeholder="Enter Last Name  ( Mandatory )" formControlName="lastName" required class="parent-input"></ion-input>
        </ion-item>
        <ion-item class="parent-items">
          <ion-icon name="mail" class="parent-icon"></ion-icon>
          <ion-input type="email" placeholder="Enter Email Id " class="parent-input" formControlName="emailaddress" ></ion-input>
        </ion-item>
        <ion-item class="parent-items">
          <ion-icon name="paper" class="parent-icon"></ion-icon>
          <ion-input type="text" placeholder="Enter Address" class="parent-input" formControlName="address"></ion-input>
        </ion-item>
        <ion-item class="parent-items">
          <ion-icon name="map" slot="start" class="parent-icon"></ion-icon>
          <ion-input type="text" placeholder="Enter City" formControlName="city"class="parent-input"></ion-input>
        </ion-item>
        <ion-item class="parent-items">
          <ion-img src="assets/student_Details/enterstate.svg" class="stu-col1-img"></ion-img>
          <ion-input type="text" placeholder="Enter State" formControlName="state" class="parent-input"></ion-input>
        </ion-item>
        <ion-item class="parent-items">
          <ion-icon name="pin" slot="start" class="parent-icon"></ion-icon>
          <ion-input type="number" placeholder="Enter Pincode" formControlName="pincode" class="parent-input"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  
<ion-row>
  <ion-col style="margin:auto;text-align: center;">
    <div>
      <ion-button  shape="round" color="primary" class="parent-btn" (click)="onSubmit(parentLogin)" [disabled]="!parentLogin.valid">submit</ion-button>
      <ion-button type="reset" fill="outline" shape="round" color="primary" class="parent-btn">clear</ion-button>
    </div>
  </ion-col>
</ion-row>
</form>  
</div>
<!----------ParentDetailsEnd--------->

