<!-- <ion-header>
  <ion-toolbar mode="md" class="appHeader">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-menu-button></ion-menu-button>
          </ion-row>
          <ion-row>
            <ion-title>Reports</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>

<ion-content>
 
      <app-vts-reports [plateNo] = "plateNo"></app-vts-reports>

</ion-content> -->

<ion-header>
    <ion-toolbar mode="md" [ngClass]="{'appHeader' : appName != 'Armoron' , 'header-background-color': appName == 'Armoron'}">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row style="align-items: center;" *ngIf="myPlatform != 'desktop'">
              <ion-menu-button></ion-menu-button>
              <ion-label> Reports </ion-label>
            </ion-row>
            <!-- <ion-row *ngIf="myPlatform != 'desktop'">
              <ion-label> Reports </ion-label>
            </ion-row> -->
            <ion-row *ngIf="myPlatform == 'desktop'">
              <ion-col size='2'>
                <ion-menu-button></ion-menu-button>
              </ion-col>
              <ion-col size="9">
                <ion-label> Reports </ion-label>
              </ion-col>
              <ion-col style="margin: 0;
              padding: 0;">
                <ion-img style="height: 40px;" [src]="app.logo"></ion-img>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>  
  </ion-header>
  <ion-content>
 
    <app-vts-reports [plateNo] = "plateNo"></app-vts-reports>

</ion-content> 
  
