<!----------Tag Details------------>
<ion-header style="height: 100px;">
  <ion-toolbar>
    <ion-row>
      <ion-col size="1"><ion-icon name="arrow-back" style="float: right;color: gray;font-size: 25px; margin:0px auto;" (click)="closeModal()"></ion-icon></ion-col>
      <ion-col size="11"><ion-title  class="popup-head">Tag Details</ion-title></ion-col>
    </ion-row> 
  </ion-toolbar>
</ion-header>
<div class='tag-container'>
  <form [formGroup]="tagLogin">
    <!-- <ion-row>
      <ion-col>
        <ion-select style="margin-left: -40px;" class="input-item select-input" formControlName="tagId"   placeholder="{{editTagId}}"  >
          <ion-select-option  *ngFor="let tags of tagIds " [value]="tags">{{tags}}</ion-select-option>
          </ion-select>  
      </ion-col>
    </ion-row> -->
<ion-row> 
  <ion-col size="12" size-sm="12" size-md="12" size-lg="12" style="margin:auto">
    <ion-list lines="none" style="background: transparent;">
      <ion-item class="tag-items" *ngIf="!editTextbox"> 
        <ion-img src="assets/student_Details/identity-128.svg" slot="start" style="width: 35px;height: 27px;"
          class="tag-icon"></ion-img>
               <select class="box"formControlName="tagId">
            <option value="" disabled selected hidden class="option-head">select tag Id</option>
            <option  *ngFor="let tags of tagIds" [value]="tags">{{tags}}</option>
          </select>

      </ion-item>
      <ion-item class="tag-items" *ngIf="editTextbox">
        <ion-img src="assets/student_Details/identity-128.svg" slot="start" style="width: 35px;height: 27px;"
          class="tag-icon"></ion-img>
        <ion-input [disabled]="editTextbox" type="text" placeholder="{{editTagId}}" class="tag-input"  formControlName="tagId"></ion-input>
     
     
      </ion-item>
      <ion-item class="tag-items">
        <ion-img src="assets/student_Details/tagid1.svg" slot="start" style="width: 35px;height: 27px;"
          class="tag-icon"></ion-img>
        <ion-input type="text" placeholder="Enter Tag Type" class="tag-input"  formControlName="tagType"></ion-input>
     
     
      </ion-item>
    </ion-list>
 
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="margin:auto;text-align: center;">
    <div>
      <ion-button shape="round" color="primary" class="tag-btn" (click)="submitBtn()" [disabled]="!tagLogin.valid">submit</ion-button>
      <ion-button type="reset" fill="outline" shape="round" color="primary" class="tag-btn">clear</ion-button>
    </div>
  </ion-col>
</ion-row>
 </form>
</div>
<!----------TagDetailsEnd------------>
