<ion-header *ngIf="myPlatform !='desktop'">
    <ion-toolbar mode="md" class="appHeader">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon icon="md-arrow-back" style="color:rgb(0, 0, 0), text-" (click)='getBack()'></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=10>
                    <ion-title style="padding:0px 12px;">Speed report</ion-title>
                </ion-col>
                <ion-col size="2" style="text-align: -webkit-right;">
                    <div class="pdf-wrapper" (click)="createPdf()"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-grid-speed [speedReport]='speed'></app-grid-speed>
  </ion-content>