<ion-row >
  <ion-col>
    <ion-grid style="padding: 5px 0 0;">
        <ion-row>
          <ion-col size="5">
            <ion-fab-button class="fab-btn" [disabled]="maintenance >= '-50' ? true : false"  (click)="addData()">
              <ion-icon name="ios-speedometer"  style="font-size: 20px;"></ion-icon>
            </ion-fab-button>
          </ion-col>
         <ion-col size="7" >
            <ion-button id="schedule-btn" shape="round"  [ngClass]="getColor(maintenance)">
            {{ maintenance ? maintenance : '--'}} 
            </ion-button> 
          </ion-col> 
        </ion-row>
      </ion-grid>
    </ion-col>
</ion-row>
