<!----------Route-Additional Start------------>

<ion-header style="height: 100px;">
  <ion-toolbar>
    <ion-row>
      <ion-col size="1"><ion-icon name="arrow-back" style="float: right;color: gray;font-size: 25px; margin:0px auto;" (click)="closeModal()"></ion-icon></ion-col>
      <ion-col size="11"><ion-title  class="popup-head">Stop Details</ion-title></ion-col>
    </ion-row> 
  </ion-toolbar>
</ion-header>

<div class="route-container">
  <form [formGroup]="stopDetails">
  <ion-row >
    <ion-col size="12" size-sm="12" size-md="12" size-lg="12" style="margin:auto">
      <ion-list lines="none" style="background:transparent;">
        <ion-item class="route-items">
          <ion-icon name="bus" style="color:#3880ff" class="route-icon"></ion-icon>
          <select class="box"formControlName="busStop">
            <option value="" disabled selected hidden class="option-head">select route name</option>
            <option  *ngFor="let stop of  busstop" [value]="stop" >{{stop}}</option>
          </select>

       
        </ion-item>
        <ion-item class="route-items">
          <ion-icon name="clock" style="color:#3880ff" class="route-icon"></ion-icon>
          <ion-input type="time" placeholder="Arrival Time"   class="route-input" formControlName="arrivalTime" style="color: #555757;"></ion-input>
        </ion-item>
        </ion-list>
     <div style="margin:auto;text-align: center;">
      <ion-button type="submit" shape="round" color="primary" class="route-btn" (click)="submit()" [disabled]="!stopDetails.valid">submit</ion-button>
      <ion-button type="reset" fill="outline" shape="round" color="primary" class="route-btn">clear</ion-button>
    </div>
  </ion-col>
  </ion-row>
</form>  
</div>
<!----------Route-AdditionalEnd--------->



