
<ion-row >
  <ion-col size="12" size-sm="12" size-md="10" offset-md="1" size-lg="12"  offset-lg="0">
    <ion-item lines="none" *ngIf='!hideSerialNo'  style="--background:transparent;">
      <ion-icon (click)="closeModal()" name="arrow-back" class="arrow-back" slot="start"></ion-icon>
      <ion-icon *ngIf='value != undefined && isDeleteShow == true' name='trash' (click)="deleteSelectedOperator()" slot='end'></ion-icon>
    </ion-item>
   
      <legend style="font-size: 16px;color: #9c27b0;font-weight: bold;margin-left: 13px;">Operators</legend>
        <form [formGroup]="fleetLogin">
          <div class="wrapper-form">
          <ion-row>   
            <ion-col size="12">  
              <ion-input type="text" class="input-item" formControlName="operatorName" placeholder="Operator name" ></ion-input>
             </ion-col>
          </ion-row>
      
          
            <ion-row> 
              <ion-col size="12" >
              <ion-input type="number" class="input-item" formControlName="contact"  placeholder="Contact number" ></ion-input>
                </ion-col>
            </ion-row>  
            <ion-row>
              
              <ion-col size="12" >
                
                  <ion-input type="text" class="input-item" formControlName="Address1"   placeholder="Address line 1" ></ion-input>
                
              </ion-col>
            </ion-row>
           
             <ion-row>
           
              <ion-col size="12" >
                
                  <ion-input type="text" class="input-item"  formControlName="city"   placeholder="City" ></ion-input>
               
              </ion-col>
            </ion-row>
            
          <ion-row>
            <ion-col size="12" >
                  <ion-select class="input-item select-input" formControlName="country"   placeholder="{{editfleet}}"  >
                  <ion-select-option  *ngFor="let fleetManager of fleet" [value]="fleetManager">{{fleetManager}}</ion-select-option>
                  </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
           
            <ion-col size="12" >
              
                <ion-input type="text" class="input-item"  formControlName="email"    placeholder="Email address" ></ion-input>
             
            </ion-col>
          </ion-row>
          <ion-row>
            
            <ion-col size="12" >
               <ion-input type="number" class="input-item"  formControlName="emergencyContact"    placeholder="Emergency contact number" ></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
          
            <ion-col size="12" > 
                <ion-input type="number" class="input-item" formControlName="licence"   placeholder="Licence" ></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
           
            <ion-col size="12" >
           
                <ion-input type="Date" class="input-item"  data-date-format="YYYY MMMM DD"  formControlName="licenceExpiry"   placeholder="yyyy/mm/dd" ></ion-input>
             
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col size="12" size-sm="4" size-lg="6" size-xl="6" size-md="4"  style="text-align:center;margin:auto">
            <ion-button  shape="round" class="commonButton" (click)="submit()" 
            [disabled]="!fleetLogin.valid">Submit</ion-button>   
          </ion-col>  
        </ion-row>
       </div>
        </form>
      <!-- </fieldset> -->
      </ion-col>
    </ion-row>

      <div class="login-status" *ngIf="statusBar">
        {{loginStatus}}
      </div> 
      
