
<ion-header>
  <ion-toolbar mode="md" [ngClass]="{'appHeader' : appName != 'Armoron' , 'header-background-color': appName == 'Armoron'}">
    <ion-grid >
      <ion-row>
        <ion-col>
          <ion-row *ngIf="myPlatform != 'desktop'">
            <ion-col size="2">
                <ion-menu-button></ion-menu-button>
            </ion-col>
           <ion-col size="8">
            <ion-label>Manage </ion-label>
           </ion-col>  
        </ion-row>
          <ion-row *ngIf="myPlatform == 'desktop'">
            <ion-col size='2'>
              <ion-menu-button></ion-menu-button>
            </ion-col>
            <ion-col size="9">
              <ion-label> Manage  </ion-label>
            </ion-col>
            <ion-col>
              <ion-img [src]="app.logo"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>

<ion-content>
<!-- <app-fleet-form></app-fleet-form> -->

  <app-manage-fleet-table> </app-manage-fleet-table>
  
</ion-content>
