$stop: red;
$running: #1eb15d;
$idle: #1f5baa;
$overspeed: #f28918;
$noTransmission: #000000;
$power:#412525;
$good: #1eb15d;
$doorOpen:#FF851B; 
.odometer{
  font-size:8px;
  //padding-top: 11px;
  color:black;
}

.backgroundWhite{
  background-color: white;
}
.selectedCard{
  background-color: #dfdfdf;
}
.cardAlign{
 padding-left: 10px; 

}
.address{
  font-size: 10px;
}
.plateno{
  padding: 9px 0px 0px 7px;
  font-weight: bold;
  font-size: 14px;
}
.underline,.underline2 {
  text-align: center; 
  font-size: 15px;
  // color:rgb(0, 119, 255);
  margin-top: 0px;
  padding-top: 0px;
  position: relative; 
}   

.underline:before {
  margin: auto;
  position: absolute;
  content: "";
  height: 2.7px;
  bottom: 13px;
  width: 13px;
  background:grey;
  left:10px;
}

.underline2:before {
  margin: auto;
  position: absolute;
  content: "";
  height: 2.7px;
  bottom: 5px;
  width: 26px;
  background:grey;
  left:3px;
}
.iconBackground{
  border-top:1px solid grey;
  border-bottom:1px solid grey ;
  border-left:1px solid grey ;
  border-radius: 10px 0px 0px 10px;
  margin:0px;
  line-height: 5px;

}
.svgSize{
  height:23px;
  width:23px;
}

              
.statusLabel {
font-size: 11px;
text-align: center;
}

.filterPad {
padding: 5px 1px;
}

.filterPad .ion-activatable .grayBackground {
background-color: #cacaca;
}

.filter {
position: fixed;
width: 100%;
z-index: 12;
}

.searchBackground {
background: #32384b;
}

.card {
top: 10vh;
}

.modal {
background-color: #c3c3d4;
color: rgb(32, 32, 32);
z-index: 12;
position: fixed;
right: 0px;
width: 100%;
transition: 0.5s;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}

.dragDown {
transition: 0.5s;
bottom: -280px;
}

.dragUp {
transition: 0.5s;
bottom: 0px;
}
.dragUpIos{
transition: 0.5s;
bottom: 50px;
}
.displayType {
display: grid;
}

.semiCircle {
background: #32384b;
width: 100%;
padding: 2%;
border-radius: 0px 0px 20px 18px;
}

.alertsStyle {
color: white;
font-size: 16px;
font-weight: 700;
}

.borderRight {
border-right: 1px solid #dedede;
}

.imgSize {
height: 30px;
}

.cardContentPad {
padding-top: 6px;
padding-bottom: 0px;
}

.cardMargin {
// border-left: 6px solid $stop;
margin-top: 6px;
margin-bottom: 6px;
border-radius: 10px;
}

.running{
background-color: #1eb15d;
}
.idle{
background-color: #1f5baa;
}
.stop{
background-color: #FF0000;
}
.overspeed{
background-color: #f28918;
}
.notransmission{
background-color: #000000;
}
.all{
background-color: #989aa2;
}
/*******New Design ****/
/*******Side Border****/
.runningCardBorder{
border-left: 6px solid $running;
}
.idleCardBorder{
border-left: 6px solid $idle;
}
.noTransCardBorder{
border-left: 6px solid $noTransmission;
}
.overspeedCardBorder{
border-left: 6px solid $overspeed;
}
.stopCardBorder{
border-left: 6px solid $stop;
}

/*******driver bg****/
.runningDriverBg{
background-color: $running;
}
.idleDriverBg{
background-color: $idle;
}
.noTransDriverBg{
background-color: $noTransmission;
}
.overspeedDriverBg{
background-color: $overspeed;
}
.stopDriverBg{
background-color: $stop;
}
.powerBg{
background-color: $power;
}
.goodBg{
background-color: $good;
}
.doorOpenBg{
background-color: $doorOpen;
}

/*******Address broder****/
.runningAddressBorder{
border: 2px solid $running;
}
.idleAddressBorder{
border: 2px solid $idle;
}
.noTransAddressBorder{
border: 2px solid $noTransmission;
}
.overspeedAddressBorder{
border: 2px solid $overspeed;
}
.stopAddressBorder{
border: 2px solid $stop;
}

/*******text cooor****/
.runningText{
color: $running;
}
.idleText{
color: $idle;
}
.noTransText{
color: $noTransmission;
}
.overspeedText{
color: $overspeed;
}
.stopText{
color: $stop;
}
.powerFailText{
color: $power;
}
.doorOpenText{
color: $doorOpen;

}


// new changes
.time{
color: white;
font-weight: bold;
font-size: 18px;
margin-left: 2px;
}
.status{
color: white;
font-weight: bold;
margin-top: 21px;
// margin-left: -5px;
position: absolute;
content: "";
height: 2.7px;
bottom: 33px;
width: 20px;
background:white;
left:10px;
}
.odometer{
font-size: 13px;
color: grey;
font-weight: bold;
margin-top: 21px;
position: absolute;
content: "";
height: 2.7px;
bottom: 28px;
width: 26px;
left:16px;
}
.tempHeader{
text-align: center;
padding: 1px;
font-size: 14px;
color: #fff280;
background-color: #ff5722f7;  
}
.iocn-size{
 font-size: 20px;   
}
.day{
float:right;
font-size: 65px;
color:gray;
color: #9e9e9e;
position: relative;
top: -10px;
left: -7px; 
}
.location{
color: grey;
font-weight: bold;
font-size: 10px;
margin-left: -5px;
}
.address{
font-size: 13px;
color: grey;
font-weight: bold;
margin-top: 21px;
margin-left: -5px;
position: absolute;
content: "";
height: 2.7px;
bottom: 33px;
width: 26px;
//  background:red;
left:10px;
}
.iconRow{
margin-left: 7%;
}
