
<ion-header>
  <ion-toolbar  mode="md" *ngIf="myPlatform !='desktop' || filterValue == 'All'">
    <ion-grid>
      <ion-row>
        <ion-col size='2'>
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col size="7" style="padding-top: 14px;">
          <ion-label> Trip Summary </ion-label>
        </ion-col>
        <!-- <ion-col  style="text-align: right;" size="2">
          <ion-button color="dark" size="small"  (click)='startTrip()'>START TRIP</ion-button>
        </ion-col> -->
        <ion-col *ngIf="myPlatform =='desktop'">
          <ion-img [src]="app.logo"></ion-img>
        </ion-col>
        </ion-row>
    </ion-grid>
  </ion-toolbar>
  </ion-header>
<ion-content>
<app-vts-trip-summary></app-vts-trip-summary>
</ion-content>
