
<ion-header>
  <ion-toolbar mode="md"  class="dealerHeader" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     <ion-title >Vehicle creation</ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
  
<ion-row>
  <ion-col size="12" class="wrapper-container">
    <form [formGroup]="vehicleCreation" >
      <ion-row>
        <ion-col size="12"  class="label-text"><span  class="heading">Company info</span></ion-col>
      </ion-row>
       <ion-row  class="form-field">
        <ion-col size='12' size-lg="6" size-md="6"  > 
         <input class="input col" type="text" list="cars" (keypress)="omit_special_char($event)" (change)="checkCompany(event )"  formControlName="companyName" placeholder="Company name" />
         <datalist id="cars">
          <option *ngFor="let names of companyId"  >{{names}}</option>
         </datalist>
           </ion-col>
           <ion-col size='12' size-lg="6"  size-md="6" >  <ion-input type="text" formControlName="password" [disabled]="imeiTrue"  placeholder="Password" class="input"></ion-input></ion-col>
            </ion-row>
           <ion-row>
        <ion-col size="12" class="label-text"><span  class="heading">Location</span></ion-col>
      </ion-row>
      <ion-row  class="form-field">
        <ion-col size='12' size-lg="4"  size-md="4" >  
          <!-- <ion-input type="number" formControlName="contact" [disabled]="imeiTrue" type="tel" maxlength="10"  placeholder="Contact number" class="input col">
         </ion-input> -->
         <input class="input col" type="text" list="phno"   (keypress)="omit_special_char($event)" (change)="validContact()" formControlName="contact" placeholder="Contact number" />
         <datalist id="phno" >
          <option *ngFor="let phNo of contactList" >{{phNo.contact}}</option>
         </datalist>
        </ion-col>
        <ion-col size='12' size-lg="4"  size-md="4" >  
          <ion-input type="text" formControlName="email" [disabled]="imeiTrue"   placeholder="E-mail" class="input">
        </ion-input>
      </ion-col>
      <ion-col size='12' size-lg="4" size-md="4" >   
        <ion-input type="text"  formControlName="address1" [disabled]="imeiTrue"    placeholder="Address line 1" class="input " >
      </ion-input>
     </ion-col>
      <ion-col size='12' size-lg="4" size-md="4"  >  
        <ion-input type="text" formControlName="address2" [disabled]="imeiTrue"   placeholder="Address line 2" class="input">
        </ion-input>
      </ion-col>
      <ion-col size='12' size-lg="4"  size-md="4" >  
        <ion-input type="text" formControlName="city" [disabled]="imeiTrue"   placeholder="City" class="input">
      </ion-input>
    </ion-col>
      
      
      
      <ion-col size='12' size-lg="4"  size-md="4" > 
      <ion-select class="input" formControlName="country" [disabled]="imeiTrue"   placeholder="Country" >
        <ion-select-option  *ngFor="let countries of country" [value]="countries">{{countries}}</ion-select-option>
        </ion-select>
      </ion-col>
      </ion-row>
      
      
      <ion-row><ion-col size="12" class="label-text"><span  class="heading">Assets</span></ion-col></ion-row>
      <ion-row  class="form-field">
        <ion-col size='12' size-lg="4" size-md="4"> 
          <input class="input col" type="number" list="num" (change)="checkImei()" formControlName="imeiNo" placeholder="Imei number" />
          <datalist id="num">
          <option *ngFor="let numbers of imeiNo" >{{numbers}}</option>
          </datalist>
          </ion-col>
      <ion-col size='12' size-lg="4"  size-md="4"  *ngIf='show' >  
        <ion-input type="text"   formControlName="simNo"  placeholder="Sim number/serial number" class="input">
        </ion-input>
      </ion-col>
      <ion-col size='12' size-lg="4"  size-md="4"  *ngIf='show'>  
        <ion-input type="text"   formControlName="simNo2"  placeholder="Sim number 2" class="input">
      </ion-input>
    </ion-col>
      <ion-col size='12' size-lg="4"  size-md="4">   
        <ion-input type="text"  formControlName="plateNo" placeholder="Plate number" class="input">
     </ion-input>
    </ion-col>
    <ion-col size='12' size-lg="4"  size-md="4">  
      <ion-select formControlName="assetCategory" placeholder="Asset category"  class="input"  style="padding:13px 0px 7px 15px;" interface="popover">
      <ion-select-option  *ngFor="let Vehicle of assertCategories" [value]="Vehicle">{{Vehicle}}</ion-select-option>
      </ion-select>
      </ion-col>
      <ion-col size='12' size-lg="4"  size-md="4" >  
        <ion-input type="number"  formControlName="odometer" placeholder="Odometer" class="input">
      </ion-input>
      </ion-col>
      <ion-col  size='12' size-lg="4"  size-md="4" *ngIf='show'>
        <ion-select class="input" formControlName="manufacture" (ionChange)= "getModelData($event,manufacture)" placeHolder = 'Manufacture' interface="popover">
          <ion-select-option *ngFor="let manufacture of manufacture" [value]="manufacture.type">
            {{manufacture.name}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col  size='12' size-lg="4"  size-md="4" *ngIf='show'>
        <ion-select [disabled]="formDisplay"  class="input" [disabled] = "!manufacture" formControlName="model" placeHolder = 'Model' interface="popover">
          <ion-select-option *ngFor="let model of model" [value]="model.type">
            {{model.name}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col  size='12' size-lg="4"  size-md="4" *ngIf='show'>
        <ion-select  class="input" formControlName="provider" placeHolder = 'Provider' interface="popover">
          <ion-select-option *ngFor="let provider of provider" [value]="provider.sim">
            {{provider.sim}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col  size='12' size-lg="4"  size-md="4" *ngIf='show'>
        <ion-select  class="input" formControlName="provider2" placeHolder = 'Provider 2' interface="popover">
          <ion-select-option *ngFor="let provider of provider" [value]="provider.sim">
            {{provider.sim}}
          </ion-select-option>
        </ion-select>
      </ion-col>
     </ion-row>
      </form>
      <ion-row>
      <ion-col class="ion-text-center"><ion-button [disabled]='!vehicleCreation.valid' (click)='submit()' id="submitbtn">submit</ion-button></ion-col>
      </ion-row>
  </ion-col>
</ion-row>
</ion-content>
