<ion-header *ngIf="myPlatform !='desktop'">
    <ion-toolbar class="appHeader">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back" style="color:rgb(0, 0, 0)"></ion-back-button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="searchInput" placeholder="Search">
        </ion-searchbar>
    </ion-toolbar>
    <ion-grid class="appHeaderTitle">
        <ion-row>
            <ion-col size=10>
                <ion-title>Executive summary report</ion-title>
            </ion-col>
            <ion-col size="2" style="text-align: -webkit-right;">
                <div class="pdf-wrapper" (click)="createPdf()"></div>
            </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
    </ion-grid>
    <!-- <ion-row class="viewTypeRow">
        <ion-col size="6" [ngClass]="{'active': view=='grid'}" (click)="typeOfView('grid')">Grid View</ion-col>
        <ion-col size="6" [ngClass]="{'active': view=='table'}" (click)="typeOfView('table')">Table View</ion-col>
    </ion-row> -->
</ion-header>
<ion-content>

    <app-grid-view [gridData]="gridValues" [reportSearch]='searchInput' *ngIf="view=='grid'"></app-grid-view>
    <app-table-view [tableData]="tableValues" *ngIf="view=='table'"></app-table-view>
</ion-content>