.upperCol{
    text-align: center;
    border-radius: 8px;
    margin: 2px;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.upperRow{
    background: #eeeeee;
    padding: 4px;
    justify-content: center;
}
.selectedUpperCol{
    background: #ffffff;
    text-align: center;
    border-radius: 8px;
    margin: 2px;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: 0.2px 0.2px#888888;
}

.checkbox{
    --background-checked: #7c68f8;
    --border-color-checked: #7d7d7d;
    --checkmark-color: white;
}