<!-- <ion-header >
    <ion-toolbar  mode="md" class="appHeader" >
      <ion-grid class='background' style='padding: 0px;'>
        <ion-row style='padding: 0px;' *ngIf = '!searchEnable'>
          <ion-col size="2" style='padding: 0px;'>
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <ion-col size="6" style='padding: 0px;align-self: center;'>
            <ion-title>Stock List</ion-title>
          </ion-col>
          <ion-row>
            <ion-col size="4" style='padding: 0px;align-self: center;'>
              <ion-icon style='font-size: 25px;' ios="md-search" (click) ='searchStatus()' md="md-search"></ion-icon>
            </ion-col>
            <ion-col size="7" style='padding: 0px;'>
              <ion-button class='buttonData' size='small' (click) ='openAddModule()'>+ADD</ion-button>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
      <ion-row *ngIf = 'searchEnable' >
        <ion-col style ='    align-self: center; text-align: center;' size='1'>
          <ion-icon style='font-size: 25px;' ios="md-search" (click) ='searchStatus()' ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-col>
        <ion-col size='11'>
          <ion-searchbar style="padding: 0px;" class='buttonData' mode='ios' cancelButtonText="Custom Cancel" [(ngModel)]="searchInput"  animated></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <ion-virtual-scroll [items]="showList | search:searchInput" approxItemHeight="320px">
          <ion-list  *virtualItem="let showList;"  [id]='showList.imei' style= 'padding:0px;' >
            <ion-item-sliding >
              <ion-item >
                <ion-grid>
                  <ion-row style= 'padding:0px;'>
                    <ion-col  size='2' style= 'text-align: center;'><ion-icon name="md-sad"></ion-icon></ion-col>
                    <ion-col size='8' (click) = 'selectedImei(showList)' >{{showList.imei}}</ion-col>
                    <ion-col size='1' (click) = 'deleteSelectedImei(showList)'><ion-icon style='font-size: 20px; color: #9e1d25;' name="md-trash"></ion-icon></ion-col>
                    <ion-col  size='1'><ion-icon class='iconSize' name="arrow-dropright"></ion-icon></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
        </ion-virtual-scroll>
      
</ion-content> -->
<ion-header >
  <ion-toolbar  mode="md" class="dealerHeader" >
    <ion-grid  style='padding: 0px;'>
      <ion-row style='padding: 0px;' *ngIf = '!searchEnable'>
        <ion-col size="2" style='padding: 0px;'>
          <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col size="6" style='padding: 0px;align-self: center;'>
          <ion-title>Stocks</ion-title>
        </ion-col>
        <ion-row>
          <ion-col size="4" style='padding: 0px;align-self: center;'>
            <ion-icon style='font-size: 25px;' ios="md-search" (click) ='searchStatus()' md="md-search"></ion-icon>
          </ion-col>
          <ion-col size="7" style='padding: 0px;'>
            <ion-button class='buttonData' size='small' (click) ='openAddModule()'>+ADD</ion-button>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
    <ion-row *ngIf = 'searchEnable' >
      <ion-col style ='    align-self: center; text-align: center;' size='1'>
        <ion-icon style='font-size: 25px;' ios="md-search" (click) ='searchStatus()' ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-col>
      <ion-col size='11'>
        <ion-searchbar style="padding: 0px;" class='buttonData' mode='ios' cancelButtonText="Custom Cancel" [(ngModel)]="searchInput"  animated></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- <ion-virtual-scroll [items]="showList | search:searchInput" approxItemHeight="320px">
        <ion-list  *virtualItem="let showList;"  [id]='showList.imei' style= 'padding:0px;' >
          <ion-item-sliding >
            <ion-item >
              <ion-grid>
                <ion-row style= 'padding:0px;'>
                  <ion-col  size='2' style= 'text-align: center;'><ion-icon name="md-sad"></ion-icon></ion-col>
                  <ion-col size='8' (click) = 'selectedImei(showList)' >{{showList.imei}}</ion-col>
                  <ion-col size='1' (click) = 'deleteSelectedImei(showList)'><ion-icon style='font-size: 20px; color: #9e1d25;' name="md-trash"></ion-icon></ion-col>
                  <ion-col  size='1'><ion-icon class='iconSize' name="arrow-dropright"></ion-icon></ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-virtual-scroll> -->
     

<ion-content>
      <ion-row>
        <ion-col size="2">
          <ion-checkbox  [id]="details.id" color="danger" class="checkBox" style="margin-left:25px; margin-top: 10px;" *ngIf =  "!checkbox" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate" (click)="checkMaster($event)" ></ion-checkbox>
            </ion-col>
        <ion-col size="10"style="font-size: 14px;font-weight: bold;margin-top:10px;" *ngIf =  "!checkbox">
      Select All
    </ion-col>
  </ion-row> 

 <ion-card  [id]="details.id" style="color: black;margin-left: 10px;font-family: sans-serif;"  (press)="onPress()" *ngFor="let details of details"  class="background">
  
  <ion-card-content style="padding:0px;"   (ionChange)="changeData(details)" (click)="details.isChecked = !details.isChecked">
      <ion-row >   
      <ion-col size="6"> 
        <ion-row>  
          <ion-col size="2" style="padding-bottom:0px;" >
            <ion-checkbox class="checkBox"  color="danger" name="details" *ngIf ="!checkbox"  [(ngModel)]="details.isChecked"  (ionChange)="changeData(details)" ></ion-checkbox>
          </ion-col>  
          <ion-col size="10" class="underline" >
            IMEI
              </ion-col>
                </ion-row>  
                  <ion-row >
                     <ion-col class="cardDetails" style="margin-left: 0px">
                       {{details.imeiNo}}
                        </ion-col>
                          </ion-row>
                            </ion-col>
                              <ion-col size="6" >
                            <ion-row >
                          <ion-col class="underline">
                        Model
                      </ion-col>
                   </ion-row>
                <ion-row >
              <ion-col class="cardDetails">{{details.model}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>     
      </ion-card-content>
    </ion-card>   
</ion-content>