
  <ion-row>
    <ion-col size=2 style="padding: 15px;">
      <ion-icon name="arrow-back" style="font-size: 20px;" (click)="closeModel()">
      </ion-icon>
    </ion-col>
    <ion-col size=10 id="toolbarHeader">
      <ion-label>Broadcast SMS</ion-label>
    </ion-col>
  </ion-row>
  <ion-content>
   <form [formGroup]="broadcastdetails">
  <ion-row id="broad-cast-wrapper">
    <ion-col size=12>
      <ion-row>
        <ion-col size=4>
          <ion-label>Route Type:</ion-label>
        </ion-col>
        <ion-col size="8">
         
        <ion-radio-group (ionChange)="onChangeHandler($event)" value="Route">
          <ion-radio value="Route" checked></ion-radio>
            <ion-label class="radio-label" >Route</ion-label>
            <ion-radio value="All" ></ion-radio>
            <ion-label class="radio-label">All</ion-label>
          </ion-radio-group>
       </ion-col>
       </ion-row>
      <ion-row>
        <ion-col size=4 class="col-center">
          <ion-label>Route Name:</ion-label >
        </ion-col>
        <ion-col size=8 >
          <select class="boxsize" style="height: 40px;outline: none;" formControlName="routename">
            <option value= "" disabled>Select Route Name</option>
            <option *ngFor="let route of routetype"  [disabled]="disable">
              {{route}}
            </option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=4 class="col-center">
          <ion-label>Trip Type:</ion-label>
        </ion-col>
        <ion-col size=8 >
          <select class="boxsize" style="height: 40px;outline: none;" formControlName="triptype">
           <option *ngFor="let type of type"  >
              {{type}}
            </option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=4 style="line-height: 40px;">
          <ion-label>Message:</ion-label>
        </ion-col>
        <ion-col size=8>
          <ion-textarea class="boxsize" style="padding-left: 2px;" formControlName="message"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=6 style="text-align: end;">
          <ion-button style="height: 90%;" shape="round" (click)="onSubmit(broadcastdetails)" [disabled]="!broadcastdetails.valid">Submit</ion-button>
        </ion-col>
        <ion-col size=6>
          <ion-button style="height: 90%;" shape="round" fill="outline"  (click)="closeModel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  </form>
  </ion-content>