
<ion-row>
  <ion-searchbar [(ngModel)]="searchInput" placeholder="Search">
  </ion-searchbar>
</ion-row>

<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let items of detail  | searchmanage: searchInput">
      <ion-card class="wrapper-container" (click)="editMode(items)">
       <ion-card-content>
        <ion-row>
         <ion-col size="12">
          <ion-row>
           <ion-col size="5" class="col_left">
            <ion-row>
               <ion-col>
                  <ion-icon name="person" class="name"></ion-icon>
               </ion-col>
               </ion-row>
               <!-------------->
              <ion-row>
                <ion-col>
                 <label>{{items.name}}</label>
                </ion-col>
               </ion-row>
               <ion-row>
              <ion-col>
              {{items.plateNo}}
            </ion-col>
            </ion-row>
            <!-------------->
           <ion-row>
              <ion-col>
            <ion-icon name="call" class="icon_size" style="margin:0"></ion-icon> 
          <label class="ope_values1"> {{items.telNo}}</label>
         </ion-col>
          </ion-row>
          <!-------------->
          <ion-row>
              <ion-col>
            <ion-icon name="globe" class="icon_size" style="margin:0"></ion-icon>
          <label class="ope_values1">{{items.nationality}}</label>
         </ion-col>
          </ion-row>
          </ion-col>
          <!-------------->
          <!-------------->
              <ion-col size="7" class="col_right">
                <!-------------->
                  <ion-row>
                <ion-col> 
            <label class="ope_values"> {{items.emergencyContactNo}}</label>
           </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-icon name="phone-portrait" name="call" class="icon_size"></ion-icon>
                 <ion-label class="operator-title">Emergency Contact</ion-label>
                </ion-col>
              </ion-row>
             
           <!-------------->
          <ion-row>
             <ion-col>
               <label class="ope_values">{{items.licenseNo}}</label>
                  </ion-col>
                    </ion-row>
                    <ion-row>
                    <ion-col>
                      <ion-icon name="card" class="icon_size"></ion-icon>
                      <ion-label class="operator-title">licenseNo</ion-label>
                    </ion-col>
                    </ion-row>
                    <!-------------->
                    <ion-row>
                      <ion-col>
                  <label class="ope_values">{{items.licenseExpiry}} </label>
                 </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                        <ion-icon name="remove-circle" class="icon_size"></ion-icon>
                        <ion-label class="operator-title">licenseExpiry</ion-label>
                      </ion-col>
                      </ion-row>
                   <!-------------->
                  <ion-row>
                    <ion-col>
                       <label class="ope_values">{{items.address2}}</label>
                        </ion-col>
                          </ion-row>
                          <ion-row>
                          <ion-col>
                           <ion-icon name="map" class="icon_size"></ion-icon>
                         <ion-label class="operator-title">City</ion-label>
                       </ion-col>
                        </ion-row>
                    <!-------------->
                 </ion-col>
                </ion-row>
                <!-------Address &Email---------->
                <ion-row class="border_row">
                  <ion-col >
                   <ion-row>
                    <ion-col class="address">
                     <ion-icon name="pin" class="icon_size"></ion-icon><label>{{items.address}}</label>
                  </ion-col>
                  </ion-row>
                  <!----------------->
                  <ion-row>
                      <ion-col class="address">
                       <ion-icon name="mail" class="icon_size"></ion-icon><label>{{items.eMailAddress}}</label>
                    </ion-col>
                    </ion-row>
                </ion-col>
                </ion-row>
              </ion-col>
           </ion-row>
        </ion-card-content>
      </ion-card>
   </ion-col>
  </ion-row>
  </ion-grid>
  <ion-fab class="botmRow" (click)="openModel()">
      <ion-fab-button style="position: fixed;bottom: 43px;right: 15px;" >
        <ion-icon name="add" class="add-icon" ></ion-icon>
    </ion-fab-button>
  </ion-fab>