<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click) = "closeModal()">
      <ion-icon name="arrow-back" style="color:rgb(0, 0, 0)" ></ion-icon>
    </ion-buttons>
    <ion-title>{{selectedVin.plateNo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div>
    <ion-row>
        <ion-col *ngIf="vehicleActivity.includes('Live Track')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/livetrack']"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/livetrack.svg"></ion-img>
            </ion-row>
            <ion-row class="ion-text-center">Live track</ion-row>
        </ion-col>
        <ion-col *ngIf="vehicleActivity.includes('Track History')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/trackhistory']"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/trackhistory.svg"></ion-img>
            </ion-row>
            <ion-row class="ion-text-center">Track history</ion-row>
        </ion-col>
        <ion-col *ngIf="vehicleActivity.includes('Reports')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/reports',selectedVin.plateNo]"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/reports.svg"></ion-img>
            </ion-row>
            <ion-row>Reports</ion-row>
        </ion-col>

        <ion-col *ngIf="vehicleActivity.includes('Nearby')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/nearby']"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/nearby.svg"></ion-img>
            </ion-row>
            <ion-row>Near by</ion-row>
        </ion-col>


        <ion-col *ngIf="vehicleActivity.includes('Alerts')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            (click)="openAlertsModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/alerts.svg"></ion-img>
            </ion-row>
            <ion-row>Alerts</ion-row>
        </ion-col>
        <ion-col *ngIf="vehicleActivity.includes('GeoFence')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/geofence','vin','null']"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/geofence.svg"></ion-img>
            </ion-row>
            <ion-row>Geofence</ion-row>
        </ion-col>

        <ion-col *ngIf="vehicleActivity.includes('Detail View')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/detail-view']"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <!-- <ion-img src="assets/icon/nearby.svg"></ion-img> -->
                <ion-icon style="font-size: 32px;" ios="ios-pie" md="md-pie"></ion-icon>
            </ion-row>
            <ion-row>Detail view</ion-row>
        </ion-col>

        <ion-col *ngIf="vehicleActivity.includes('Immobilize')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            (click)="openActionModal('Immobilize')">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/immobilize.svg"></ion-img>
            </ion-row>
            <ion-row>Immobilize</ion-row>
        </ion-col>

        <ion-col *ngIf="vehicleActivity.includes('Settings')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            [routerLink]="['/settings','Vin']"  (click)= "closeModal()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize"
                style="font-size: 30px;">
                <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
            </ion-row>
            <ion-row>Settings</ion-row>
        </ion-col>

        <ion-col *ngIf="vehicleActivity.includes('Share')" size=4
            class="ion-align-items-center ion-justify-content-center displayType" (click)="shareLocation()">
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/share.svg"></ion-img>
            </ion-row>
            <ion-row>Share</ion-row>
        </ion-col>
        <ion-col *ngIf="vehicleActivity.includes('Link')" size=4
            class="ion-align-items-center ion-justify-content-center displayType" (click)='copyLinkClip()'>
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <ion-img src="assets/icon/link.svg"></ion-img>
            </ion-row>
            <ion-row>Link</ion-row>
        </ion-col>
        <ion-col *ngIf="vehicleActivity.includes('Navigation')" size=4
            class="ion-align-items-center ion-justify-content-center displayType"
            (click)='navigateToGoogle()'>
            <ion-row class="ion-align-items-center ion-justify-content-center imgSize">
                <!-- <ion-img src="assets/icon/geofence.svg"></ion-img> -->
                <ion-icon style="font-size: 32px;" name="ios-navigate"></ion-icon>
            </ion-row>
            <ion-row>Navigation</ion-row>
        </ion-col>
    </ion-row>
</div>
</ion-content>