<ion-header *ngIf="myPlatform !='desktop'">
  <ion-toolbar mode="md" class="appHeader">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-icon icon="md-arrow-back" style="color:rgb(0, 0, 0), text-" (click)='getBack()'></ion-icon>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size=10>
                  <ion-title style="padding:0px 12px;">Alarm Report</ion-title>
              </ion-col>
              <ion-col size="2" style="text-align: -webkit-right;" >
                <div class="pdf-wrapper" (click)="createPdf()"></div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row>
  <ion-col size="12" size-sm="12" size-md="6" size-lg="6" *ngFor="let data of displayData" style="padding:0px"> 
    <ion-card >
      <ion-card-content   style="padding: 0px;">
        <ion-row class="center"  style="background-color: #04c1d0;color:white;">
          {{data.AlertType}}
        </ion-row>
        <ion-row>
          <ion-col size=5 style="padding:  18px;
          margin: auto;background-color: #04c1d0;color:white;">
            <ion-row>
              {{data.plateNo}}
            </ion-row>
            <ion-row>
              Duration: {{data.duration}}
            </ion-row>
           </ion-col>
           <ion-col size=5 style="padding: 0px;">
            <ion-row class="timehead">
              Start Time
            </ion-row>
            <ion-row class="time">
              {{data.startTime}}
            </ion-row>
            <ion-row class="timehead">
              End Time
            </ion-row>
            <ion-row class="time">
               {{data.endTime}}
            </ion-row>
           </ion-col>
           <ion-col size=2 class="center" [ngClass]=" data.status == 'Open'  ?  'statusOpen': data.status == 'Closed' ? 'statusClose':'' " >
              {{data.status}}
           </ion-col>
           </ion-row>
      </ion-card-content>
    </ion-card>
</ion-col>    
</ion-row>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>