// *{
//     margin: 0;
//     padding: 0.7px;
// }
// .card-wrapper{
//     font-size: 10px;
//     font-weight: bold;
//     margin:5px 10px;
//     padding: 1px 5px;
    
// }
// .item-native {
//     padding:0px;
// }
// .svg-size1{
//     width:20px;
// }
// .svg-size2{
//     width:15px;
// }
// .companyName{
//     background-color: #09d8c5;
//     color: white;
//     text-align: center;
//     padding: 5px;
// }
// ion-toolbar{
//     background-color:rgb(61, 108, 236); 
// }
// .common-icon{
//     font-size:18px;
// }
// .icon_col{
//     clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
//     background-color:  #09d8c5;
//     margin:2px 0px;
//     display: grid;
//     place-content: center;
// }
// .header-company{
//     clip-path: polygon(0 0, 100% 0, 96% 74%, 4% 74%);
//     background-color:  #09d8c5;
//     color: #f4f5f8;
//     font-weight: bold;
//     padding: 0px 10px 8px;
//     text-align: center;
//     font-size: 11px;
// }
// .align-dataCol{
//     padding-left: 5px;
// }
// .underline {
//     font-size: 11px;
//     color: #1e2023;
//     position: relative;
//     font-weight: bold;
//   }   
  
//   .underline:before {
//     margin: auto;
//     position: absolute;
//     content: "";
//     height: 2px;
//     bottom: 12px;
//     width: 13px;
//     background:#ffd31a;
//     left: 2px;
//   }
