<ion-card-content style="padding:0px">
  <ion-grid style="padding: 0px;">
    <ion-row style="padding:0px; align-items: center;">
      <ion-col size="6" class="legendFlex textCenter" style="align-items: center;">
        <ion-col size="2" style="padding:0px"><img width="15px" height="15px"
            src="assets/executive_summary_icon/vehicle.svg"></ion-col>
        <ion-col size="10" style="padding:0px" class="fontBoldAndSize">{{x.plateNo|uppercase}}</ion-col>
      </ion-col>
      <ion-col size="6" class="legendFlex textCenter" style="align-items: center;">
        <ion-col size="2" style="padding:0px"><img width="15px" height="15px"
            src="assets/executive_summary_icon/operator.svg"></ion-col>
        <ion-col size="10" style="padding:0px" class="fontBoldAndSize">{{x.operatorName|titlecase}}</ion-col>
      </ion-col>

    </ion-row>
    <ion-row class="headDetail" style="margin: 0px 5px;">
      <ion-col size="4">
        <ion-row class="textCenter">Max-Speed</ion-row>
        <ion-row class="legendFlex textCenter" class="fontBoldAndSize" style='align-items: center;'>
        </ion-row>
        <ion-row class="legendFlex textCenter" class="fontBoldAndSize" style='align-items: center;'>
          {{x.maxSpeed}}
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row class="textCenter">Odometer</ion-row>
        <ion-row class="fontBoldAndSize" style="align-items: center;justify-content: center;">
          {{x.odometer}}</ion-row>
      </ion-col>
      <ion-col size="4" class="textCenter">
        <ion-row class="textCenter">Alert Count</ion-row>
        <ion-row class="legendFlex textCenter" class="fontBoldAndSize">
          
            <ion-label style='text-align: center;' class="fontBoldAndSize">
              {{x.totalCount}}
            </ion-label>

        </ion-row>
      </ion-col>
    </ion-row>
   
    <ion-row class="fontSmall" style="margin-top: 2px;">
      <ion-col size="2.5" offset="0.25" class="green roundedCorner">

        <ion-row class="textCenter">{{x.runningDuration}}</ion-row>
      </ion-col>
      <ion-col size="2.5" offset="0.5" class="red roundedCorner">

        <ion-row class="textCenter">{{x.stopDuration}}</ion-row>
      </ion-col>
      <ion-col size="2.5" offset="0.5" class="blue roundedCorner">

        <ion-row class="textCenter">{{x.idleDuration}}</ion-row>
      </ion-col>
      <ion-col size="2.5" offset="0.5" class="pink roundedCorner">

        <ion-row class="textCenter">{{x.towedDuration}}</ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="topMargin" style="margin-top:8px">
      <ion-col size="5.5" offset="0.25" class="headDetail" style="padding: 0px;
      ">
        <ion-row>
          <div class="locationHead"> Begin Location</div>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="dateTimecols1">
            <div class="dateTimeHead">
              <ion-icon name="clock" style="padding-right: 5px ;"></ion-icon>Time
            </div>
            {{x.beginTime.split(" ")[1]}}
          </ion-col>

          <ion-col size="6" class="dateTimecols1">
            <div class="dateTimeHead1">
              <ion-icon name="calendar" style="padding-right: 5px ;"></ion-icon>Date
            </div>
            {{x.beginTime.split(" ")[0]}}
          </ion-col>
          <!-- <ion-col size="6" class="dateTimecols1"><span style="color: grey;"><ion-icon name="clock" style="padding-right: 5px ;"></ion-icon>Time -</span> {{x.beginTime |date : 'mediumTime'}}</ion-col>
          <ion-col size="6" class="dateTimecols1"><span style="color: grey;"> <ion-icon name="calendar" style="padding-right: 5px ;"></ion-icon>Date - </span>  {{x.beginTime |date}}</ion-col> -->
        </ion-row>


        <ion-row>
          <p class="location">{{x.beginLocation}}</p>
        </ion-row>
      </ion-col>
      <ion-col size="5.5" offset="0.5" class="headDetail" style="padding: 0px;">
        <ion-row>
          <div class="locationHead"> End Location</div>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="dateTimecols1">
            <div class="dateTimeHead">
              <ion-icon name="clock" style="padding-right: 5px ;"></ion-icon>Time
            </div>
            {{x.endTime.split(" ")[1]}}
          </ion-col>

          <ion-col size="6" class="dateTimecols1">
            <div class="dateTimeHead1">
              <ion-icon name="calendar" style="padding-right: 5px ;"></ion-icon>Date
            </div>
            {{x.endTime.split(" ")[0]}}
          </ion-col>
          <!-- <ion-col size="6" class="dateTimecols1"><span style="color: grey;"><ion-icon name="clock" style="padding-right: 5px ;"></ion-icon>Time -</span>  {{x.endTime |date : 'mediumTime'}}</ion-col>
          <ion-col size="6" class="dateTimecols1"><span style="color: grey;"> <ion-icon name="calendar" style="padding-right: 5px ;"></ion-icon>Date - </span>  {{x.endTime |date}}</ion-col> -->
        </ion-row>
        <ion-row>
          <p class="location">{{x.endLocation}}</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
