.map {
    height: 100%;
}
.map2 {
    height: 100%;
}
.modal1 {
    background-color: #c3c3d4;
    color: rgb(32, 32, 32);
    z-index: 12;
    position: fixed;
    bottom: 0px;
    width: 100%;
    // transition: 0.5s;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.address{
    font-size: 10px;
  }
.modal2 {
   // background-color: #c3c3d4;
   // color: rgb(32, 32, 32);
    z-index: 12;
    position: fixed;
    bottom: 0px;
    width: 100%;
    // transition: 0.5s;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.modal2web {
    z-index: 12;
    position: fixed;
    bottom: 37px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
 }
.closedModal1{
    position: absolute;
    bottom: 0px;
    background-color: #c3c3d4;
    color: rgb(32, 32, 32);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
}
.addressStyling{
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

.displayType {
    display: grid
}
.odometerStyle{    
    border:1px solid #139be9;  
}
.odometerHeader{
    background-color:#139be9;
    color:white;
    font-weight: bold;
}
.odometerPartitionLine{
    border-right: 1px solid #139be9;    
}
.engineStyle{    
    border:1px solid #0db0ab;  
}
.engineHeader{
    background-color:#0db0ab;
    color:white;
    font-weight: bold;
}
.enginePartitionLine{
    border-right: 1px solid #0db0ab;    
}
.speedStyle{    
    border:1px solid #f8951d;  
}
.speedHeader{
    background-color:#f8951d;
    color:white;
    font-weight: bold;
}
.value{
    font-weight:bold;
    font-size:20px;
    color:black;
}
.iconsRow{
    padding-top: 10px;
}
.grid{
    padding-top:0px;
    padding-bottom: 5px;
}
.colBorder{
    border-bottom: 1px solid #32384b;
    border-left: 1px solid #32384b;
    border-top: 1px solid #32384b;
}
.endBorder{
    border-right: 1px solid #32384b;    
}
.dragDown{
    transition: 0.5s;
    top: 93vh;
}
.dragUp{
    transition: 0.5s;
    top: 41vh;
}
.timeStamp{
    background:#32384b;
    color : white;
}
