.cardMargin {
  border-left: 6px solid red;
  margin-top: 6px;
  margin-bottom: 6px;
}
.cardContentPad {
  padding-top: 6px;
  padding-bottom: 6px;
}

.borderRight {
  border-right: 1px solid #dedede;
}

.roundedPlate {
  padding: 2px 8px 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid;
  background: black;
  color: white;
}


.cardTitle{
  font-size: 9px;
}
.cardDetails{
  font-size: 11px;
  color:#353232;
}
.detailsText{
  color:#3a3434;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
}
.address{
  font-size: 9px;
  padding-left: 2%;
}
.display-container{
  width: 95%;
  margin:auto;
  display: flex;
  flex-direction: row;
  background: red;
  border-radius: 8px ;
  text-align: center;

  .details{
    flex-grow: 1;
    background: white;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stop{
    width: 110px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px 0;
  }
}
.display-container.idle{
  background-color: #1f5baa;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}

.display-container.stop{
  background-color: #FF0000;
  .stop{
    background: url(../../../assets/background_img/hand3.svg) no-repeat;
    background-position: 80px center;
    background-size: 36%;
  }
}

.display-container.temprature{
  background-color: #FF0000;
  .stop{
    background: url(../../../assets/background_img/temp.svg) no-repeat;
    background-position: 80px center;
    background-size: 36%;
  }
}

.display-container.wokeup{
  background-color: #000000;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}

.display-container.overspeed{
  background-color: #f28918;
  .stop{
    background: url(../../../assets/background_img/odometer.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
 
}

.display-container.powercut{
  background-color: #7d410f ;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
  
}

.display-container.engineon{
  background-color: #1eb15d;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}


.display-container.engineoff{
  background-color: #FF0000;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}

.pNumDname{
  font-size: 9px;
  color:#4e4747;
  font-weight: 700;
}

// *{
//   margin:0px;
//   padding:0px;
//   font-size: 12px;
// }
// .idle{
//   border-left:3px solid #1f5baa ;
//   color:#1f5baa;
// }
// .stop{
//   border-left:3px solid #FF0000 ;
//   color:#FF0000;
// }
// .temprature{
//   border-left:3px solid #FF0000 ;
//   color:#FF0000;
// }
// .wokeup{
//   border-left:3px solid #000000 ;
//   color:#000000;
// }
// .overspeed{
//   border-left:3px solid #f28918 ;
//   color:#f28918;
// }
// .powercut{
//   border-left:3px solid #7d410f ;
//   color:#7d410f;
// }
// .engineon{
//   border-left:3px solid #1eb15d ;
//   color:#1eb15d;
// }
// .engineoff{
//   border-left:3px solid #FF0000 ;
//   color:#FF0000;
// }
// .alert-card{
//      margin: 0px;
//      padding: 5px;
//     border-radius: 5px;
//     background-color: #f6f6f6;
// }
// .inner-card{
//  padding: 10px 5px 10px 5px;
//  background: white;
//  border-radius: 10px;
//  box-shadow: none !important;
//  color:rgb(46, 44, 44);
//  font-weight: 500;
//  }
// .alertType{
//   padding: 5px 0px 5px 25px;
//   font-size: 14px;
//   font-weight: bold;
 
// }
// .data{
//   color:#bdbdbd;
//   font-weight: 500;
//   font-family: sans-serif;
//   font-size: 11px;
// }
// .add-icon{
//   font-size: 32px;
//   color:white;
// }
// .padding{
//   padding: 0px;
// }





// .cardMargin {
//     border-left: 6px solid red;
//     margin-top: 6px;
//     margin-bottom: 6px;
//   }
//   .cardContentPad {
//     padding-top: 6px;
//     padding-bottom: 6px;
//   }
  
//   .borderRight {
//     border-right: 1px solid #dedede;
//   }
  
//   .roundedPlate {
//     padding: 2px 8px 7px;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//     border-top: 1px solid;
//     background: black;
//     color: white;
//   }
  
  
//   .cardTitle{
//     font-size: 9px;
//   }
//   .cardDetails{
//     font-size: 11px;
//     color:#353232;
//   }
//   .detailsText{
//     color:#3a3434;
//     font-weight: 700;
//     font-size: 10px;
//     line-height: 1;
//   }
//   .address{
//     font-size: 9px;
//     padding-left: 2%;
//   }
//   .display-container{
//     width: 95%;
//     margin:auto;
//     display: flex;
//     flex-direction: row;
//     background: red;
//     border-radius: 8px ;
//     text-align: center;
  
//     .details{
//       flex-grow: 1;
//       background: white;
//       border-radius: 6px;
//       border: solid 1px rgba(0,0,0,0.05);
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//     }
  
//     .stop{
//       width: 110px;
//       background-color: rgba(255,255,255,0.5);
//       box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
//       border-radius: 0px 8px 8px 0px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       padding:5px 0;
//     }
//   }
//   .display-container.idle{
//     background-color: #1f5baa;
//     .stop{
//       background: url(../../../assets/background_img/warning.svg) no-repeat;
//       background-position: 90px center;
//       background-size: 36%;
//     }
//   }
  
//   .display-container.stop{
//     background-color: #FF0000;
//     .stop{
//       background: url(../../../assets/background_img/hand3.svg) no-repeat;
//       background-position: 80px center;
//       background-size: 36%;
//     }
//   }
  
//   .display-container.temprature{
//     background-color: #FF0000;
//     .stop{
//       background: url(../../../assets/background_img/temp.svg) no-repeat;
//       background-position: 80px center;
//       background-size: 36%;
//     }
//   }

//   .display-container.wokeup{
//     background-color: #000000;
//     .stop{
//       background: url(../../../assets/background_img/warning.svg) no-repeat;
//       background-position: 90px center;
//       background-size: 36%;
//     }
//   }
  
//   .display-container.overspeed{
//     background-color: #f28918;
//     .stop{
//       background: url(../../../assets/background_img/odometer.svg) no-repeat;
//       background-position: 90px center;
//       background-size: 36%;
//     }
   
//   }
  
//   .display-container.powercut{
//     background-color: #7d410f ;
//     .stop{
//       background: url(../../../assets/background_img/warning.svg) no-repeat;
//       background-position: 90px center;
//       background-size: 36%;
//     }
    
//   }
  
//   .display-container.engineon{
//     background-color: #1eb15d;
//     .stop{
//       background: url(../../../assets/background_img/warning.svg) no-repeat;
//       background-position: 90px center;
//       background-size: 36%;
//     }
//   }
  
  
//   .display-container.engineoff{
//     background-color: #FF0000;
//     .stop{
//       background: url(../../../assets/background_img/warning.svg) no-repeat;
//       background-position: 90px center;
//       background-size: 36%;
//     }
//   }
  
 