.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
video{
    height: 100%
}
ion-button{
    --background: linear-gradient(197deg, rgb(255 0 0 / 82%) 0%, rgb(197 26 26 / 86%) 13.5%, rgb(177 24 24 / 64%) 33.33%, rgb(193 14 14 / 80%) 100%) !important;
}
  .content {
    text-align: center;
  
    .buttons-container {
      margin-top: 30px;
      
    }
  }

  .labelSpacing{
    width: 100%;
}

.iconSize{
    width: 50px;
    height: 35px;
}

.center-button{
    justify-content: center;
}

.bottomLink{
    position:absolute;
    bottom:0;
    left: 25%;
    font-size: 10px;
}

.register{
    font-size: 13px;
    color: #2196F3;
}