<!-- <jqxGrid 
#myGrid (onSort)="myGridOnSort($event)"
[width]="'99%'" 
[autoheight]="true"
[rowsheight]='25'
[source]="dataAdapter" 
[columns]="columns"
[sortable]="true" 
[filterable]="true"
[columns]='columns' 
[columnsresize]='true'
[altrows]="true"
[enabletooltips]="true" 
[pageable]="true"
[selectionmode]="'singlerow'"
style="font-size:11px !important;font-weight: bold;"
>
</jqxGrid> -->

<jqxGrid 
#myGrid (onSort)="myGridOnSort($event)"
[width]="'99%'" 
[autoheight]="true"
[rowsheight]='25'
[source]="dataAdapter" 
[columns]="columns"
[sortable]="true" 
[filterable]="true"
[columns]='columns' 
[columnsresize]='true'
[altrows]="true"
[enabletooltips]="true" 
[pageable]="true"
[selectionmode]="'singlerow'"
style="font-size:11px !important;font-weight: bold;"
>
</jqxGrid>​



