.cardMargin {
  border-left: 6px solid red;
  margin-top: 6px;
  margin-bottom: 6px;
}
.cardContentPad {
  padding-top: 6px;
  padding-bottom: 6px;
}

.borderRight {
  border-right: 1px solid #dedede;
}

.roundedPlate {
  padding: 2px 8px 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid;
  background: black;
  color: white;
}


.cardTitle{
  font-size: 9px;
}
.cardDetails{
  font-size: 11px;
  color:#353232;
}
.detailsText{
  color:#3a3434;
  font-weight: 700;
  font-size: 10px;
}
.address{
  font-size: 9px;
  padding-left: 2%;
}
.display-container{
  width: 95%;
  margin:auto;
  display: flex;
  flex-direction: row;
  background: red;
  border-radius: 8px ;
  text-align: center;

  .details{
    flex-grow: 1;
    background: white;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stop{
    width: 110px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 0px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px 0;
  }
}
.display-container.idle{
  background-color: #1f5baa;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}

.display-container.stop{
  background-color: #FF0000;
  .stop{
    background: url(../../../assets/background_img/hand3.svg) no-repeat;
    background-position: 80px center;
    background-size: 36%;
  }
}

.display-container.wokeup{
  background-color: #000000;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}

.display-container.overspeed{
  background-color: #f28918;
  .stop{
    background: url(../../../assets/background_img/odometer.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
 
}

.display-container.powercut{
  background-color: #7d410f ;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
  
}

.display-container.engineon{
  background-color: #1eb15d;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}


.display-container.engineoff{
  background-color: #FF0000;
  .stop{
    background: url(../../../assets/background_img/warning.svg) no-repeat;
    background-position: 90px center;
    background-size: 36%;
  }
}

.pNumDname{
  font-size: 13px;
  color:#4e4747;
  font-weight: 700;
}