<div *ngIf="alertData.length ==0 && initiate == true">
  <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]"style="padding:0px"> 
<ion-card style="border-left: 6px solid red;" >
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</div>
<div *ngIf="alertData.length ==0 && initiate == false" >
<app-nodata-image></app-nodata-image>
</div>
<div *ngIf="alertData && myPlatform == 'desktop'">
  <ion-row>
  <ion-col  size="12" size-sm="12" size-md="6" size-lg="4"  *ngFor="let alertDataCard of alertShow | searchAlert:searchInput " style="padding:0px"> 
  <ion-card>
      <app-alert-card [data]="alertDataCard"></app-alert-card>
  </ion-card>
</ion-col>
</ion-row>

</div>
<div *ngIf="alertData && myPlatform != 'desktop'">
<ion-virtual-scroll
[items]="alertShow | searchAlert:searchInput "
[trackBy]="identify" >
  <ion-card *virtualItem="let data;">
    <app-alert-card [data]="data"></app-alert-card>
</ion-card>
</ion-virtual-scroll>
</div>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
<ion-infinite-scroll-content
  loadingSpinner="bubbles"
  loadingText="Loading more data...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>