<ion-header >
    <ion-toolbar  mode="md" class="appHeader" >
      <ion-grid class='background' style='padding: 0px;'>
        <ion-row style='padding: 0px;' *ngIf = '!searchEnable'>
          <ion-col size="2" style='padding: 0px;'>
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <ion-col size="6" style='padding: 0px;align-self: center;'>
            <ion-title>Purchase</ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
